page-edit-role {

  ion-content {
    &.dashboardUI {
      &.colorEnabled {
        &.background_color {
        background: none;
          &:before {
          opacity: 1;
          }
        }
      }
    }
  }  

  .contentTitle {
    span {
    color: #F44336;
    position: absolute;
    font-size: 16px !important;
    }
  }
  
  .item-ios, .item-md, .item-wp {
    .item-inner {
    border-color: #ebe9f0 !important;
    }
  }

  ion-content {
    &.dashboardUI {
      
      .dashboardBG {
      height: 55vh !important;
      z-index: -1;
      }

      &:before {
      height: 55vh;
      z-index: 1;
      }
      &:after {
      height: 100vh;
      }

      ion-list {
        &:first-child {        
        margin-bottom: 15px;
          .item-inner {
          padding-right: 0px;
          padding-bottom: 6px;
            .label-ios, .label-md, .label-wp {
            opacity: .65;
            }
          }
        }        
      }

    }
  }

}
