<!--
  Generated template for the ViewCreditCardsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle start>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Credit Cards List</ion-title>
    <ion-buttons end>
      <button ion-button (click)="addCreditCard();">Add</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
        <ion-refresher (ionRefresh)="loadAllCreditCards($event)">
                <ion-refresher-content></ion-refresher-content>
              </ion-refresher>
    <ion-chip *ngIf="notificationMsg!=''">
        <ion-label color="secondary">{{notificationMsg}}</ion-label>
      </ion-chip>
          <ion-list *ngIf="defaultCreditCard!=null" (click)="cardDetail(defaultCreditCard.unique_id)">
              <ion-list-header>
                Default Credit Card
              </ion-list-header>
              <ion-item>
              <h2>Brand:{{defaultCreditCard.brand}}</h2>
              <p>Card Number:xxx-{{defaultCreditCard.last4}}</p>
              <p>Exp Year:{{defaultCreditCard.exp_year}}</p>
              <p>Exp Month:{{defaultCreditCard.exp_month}}</p>
              </ion-item>
            </ion-list>
        <ion-list>
            <ion-list-header>
                Credit Cards List
            </ion-list-header>
            <ion-item no-lines *ngFor="let creditCard of allCreditCards">
            <ion-item (click)="cardDetail(creditCard.unique_id)">
            <h2>Brand:{{creditCard.brand}}</h2>
            <p>Card Number:xxx-{{creditCard.last4}}</p>
            <p>Exp Year:{{creditCard.exp_year}}</p>
            <p>Exp Month:{{creditCard.exp_month}}</p>
            </ion-item>
            <button ion-button item-right color="danger" (click)="deleteCreditCard(credit)">
              <ion-icon name="trash"></ion-icon>
            </button>
            <button ion-button item-right color="secondary" (click)="editCreditCardDetail(creditCard.unique_id)">
                    <ion-icon name="construct"></ion-icon>
            </button>
          </ion-item>
          </ion-list>
        <ion-chip *ngIf='allCreditCards.length<=0&&creditCardsFoundMessage!=""'>
            <ion-label color="danger">{{creditCardsFoundMessage}}</ion-label>
        </ion-chip>
</ion-content>
