page-view-credit-cards {  

  .chip-ios, .chip-md, .chip-wp {
  color: #FFF !important;
  border-radius: 50px !important;
  background: #12d4b1;
    .label-ios, .label-md, .label-wp {    
    }
  }

  .card-list-option {  

    ion-icon {
    font-family: $font-three;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .5px;
    color: #FFF;
      &:before {
      font-size: 22px;
      display: block;
      padding-bottom: 5px;
      }
    }

    .item-ios, .item-md, .item-wp {
      &.noPadding {
        .item-inner {
          &:first-child {
          padding: 0px !important;
            .label-ios, .label-md, .label-wp {
            margin: 0px;
            }
            .input-wrapper {
            padding: 0px;
              .label-ios, .label-md, .label-wp {
                .item-wrapper {
                // padding: 16px;
                  .item-inner {
                  padding: 16px !important;
                  }
                  ion-item-options {
                    border-bottom: none;
                  }
                }
              }
            }
          }
        }
      }      
    }
  }
  

  .scroll-content {
  margin-top: 75px  !important;
  }

  ion-app.ios [padding] {
  padding: 20px !important;
  }

  .list-header-ios, .list-header-md, .list-header-wp {
  margin: 0;
  padding: 0;
  border: none !important;
    
    .item-inner {
      .input-wrapper {
        .label-ios, .label-md, .label-wp {
        font-family: $font-three;
        font-size: 16px;
        letter-spacing: 0px;
        text-transform: none;
        color: lighten(#696D72, 6%);
        margin: 0;
        padding: 0;
        }
      }
    } 
  }
  
  ion-list {
  overflow: unset;
  box-shadow: -1px 0px 18px 1px rgba(41, 81, 123, 0.15);      
    &:first-child, &:last-child {
    border: none;
    }
    ion-item {      
      .item-inner {
        .input-wrapper {
          .label-ios, .label-md, .label-wp {
          margin: 20px 0;
          }
          .cardbrand {
          width: 60px;
          height: 34px;
          font-size: 0px;
          float: left;
          margin: 5px 18px 0 0;
          display: inline-block;
          background: #DDD;
            &.Visa {
            background: url("../assets/imgs/cc-visa.png") no-repeat center center;
            }
            &.MasterCard {
            background: url("../assets/imgs/cc-mastercard.png") no-repeat center center;
            }
            &.AmericanExpress, &.American {
            background: url("../assets/imgs/cc-amex.jpg") no-repeat center center;
            }
            &.Chase {
            background: url("../assets/imgs/cc-chase.jpg") no-repeat center center;
            }
            &.Citi {
            background: url("../assets/imgs/cc-citi.jpg") no-repeat center center;
            }
            &.Discover {
            background: url("../assets/imgs/cc-discover.jpg") no-repeat center center;
            }
            &.Bankofamerica, &.Bank {
            background: url("../assets/imgs/cc-boa.jpg") no-repeat center center;
            }
            &.Diners {
            background: url("../assets/imgs/cc-diners-club.jpg") no-repeat center center;
            }
          }
          .cardDetails {          
          width: auto;
          overflow: hidden;
            * {
            font-family: $font-three;
            font-size: 14px;
            line-height: 19px;
            letter-spacing: .3px;
            color: #808080;            
            }
            .cn {
            width: 100%;
            max-width: 100%;
            display: block;            
            }
            .ey {
            width: 100%;
            max-width: 50%;
            float: left;
            display: inline-block;            
            }
            .em {
            width: 100%;
            max-width: 50%;
            float: left;
            text-align: right;
            display: inline-block;            
            }
          }
        }
      }
    }

  }
  ion-content {
    &.dashboardUI {
      &:before {
      height: 65px;
      z-index: 1;
      }
      &:after {
      height: 100vh;
      }

      ion-list {
      overflow: unset;
      }

      .item-ios, .item-md, .item-wp {
        &:last-child {
          .item-inner {
          border-bottom: none !important;
          }
        }
      }

      .list-ios, .list-md, .list-wp {
      box-shadow: none;      
        .item-block {
        padding-left: 0px;
        padding-right: 0px;
          &:first-child {
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          }
          &:last-child {
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
          }
          .item-inner {
          padding-left: 16px;
          padding-right: 18px;
          border-color: #EBEFF9;
          }
        }
      }
    }
  }

  ion-item-options {
    button {
    padding-left: 15px !important;
    padding-right: 15px !important;    
    }
  }

  ion-item-sliding {
  max-height: 104px;
    &:hover {
      .optionIcon {
      opacity: .4;
      }
    }    
    .optionIcon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 25px;
    display: block;
    background: url("../assets/icon/svg/edit.svg") no-repeat center center !important;
    background-size: 100% !important;
    opacity: .4;
    @extend %transition;
    }
  }
  
  ion-item-sliding, ion-item-options, .desktopOption {
    
    ion-icon {
    color: #FFF !important;
      &:before {
      font-size: 22px;
      display: block;
      padding-bottom: 5px;
      }
    }

    .btn-edit, .btn-lead, .btn-status, .btn-del {
      .button-inner {
      min-width: 40px !important;
      font-family: $font-three;
      font-size: 10px !important;
      text-transform: uppercase;
      letter-spacing: .5px;
      color: #FFF !important;
      }
    }

    .btn-edit {  
    background: #1d7bce !important;
    }
    .btn-lead {    
    background: #37467a !important;
    }
    .btn-status {    
    background: #1D79A2 !important;
    }
    .btn-del {    
    background: #F53D3D !important;
    }
  
  }

  // For Desktop Option
  .desktopOption {  
  width: auto;
  display: table;
  float: right;
  top: 6px !important;
  right: -7px !important;
  position: absolute;
  background: transparent;  
    &:hover, &:focus {
      &:before {
      opacity: 1;
      }

      button {
      opacity: 1;
      }
    }

    button {
    @extend %transition;
    opacity: 0;
    }

    ion-icon {
    color: #FFF !important;
    margin-right: 6px;
      &:before {
      font-size: 16px;
      display: block;
      padding-bottom: 5px;
      }
    }
    .btn-edit, .btn-lead, .btn-status, .btn-del {
    height: 32px;    
    min-height: 32px;
      .button-inner {
      padding: 0 8px;
      }
    }
  }
  
  ion-item-options {
  border-bottom: none !important;
  }

}