page-add-credit-card {

  ion-content {
    &.dashboardUI {
      &.colorEnabled {
        &.background_color {
        background: none;
          &:before {
          opacity: 1;
          }
        }
      }
    }
  }
  
  ion-navbar {
    .bar-buttons {
      .button-inner {
        .icon-ios, .icon-md, .icon-wp {
        font-size: 30px !important;
          &:before {
          content: "";
          width: 32px;
          height: 32px;
          display: block;          
          background: url("../assets/icon/svg/save.svg") no-repeat center center !important;
          background-size: 62% !important;
          }
        }
      }
    }
  }

  .list-ios, .list-md, .list-wp {
    .item-block {
      &:last-child {      
      padding-bottom: 10px;
      }
    }
  }

  .label-ios, .label-md, .label-wp {
  opacity: .7;
  }
  
}
