<!--
  Generated template for the BillingHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="dashboardUI colorEnabled background_color">

  <ion-navbar>
      <!-- <button ion-button menuToggle start>
          <ion-icon name="menu"></ion-icon>
      </button> -->
    <ion-title>Billing History</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="dashboardUI">
<div class="dashboardBG colorEnabled background_color"></div>
    <ion-refresher (ionRefresh)="viewAllBillingHistory($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
    <!--<ion-chip *ngIf="notificationMsg!=''">
        <ion-label color="secondary">{{notificationMsg}}</ion-label>
    </ion-chip>-->
    <ion-list class="centerStage">
      <accordion *ngFor="let subscription of allSubscriptionHistory">
        <accordion-group>
          <accordion-heading>
            <ion-card>
              <ion-item>
              <h2>Amount Due: <strong>{{subscription.amount_due}}</strong></h2>
              <p>Date Charged: {{subscription.date_charged}}</p>
              <p>Payment Status: <span *ngIf="subscription.payment_status==true">Paid</span><span *ngIf="subscription.payment_status!=true">Un-Paid</span></p>
              <!--<button ion-button item-right color="danger" (click)="deleteSubscription(subscription)">
                  <ion-icon name="trash"></ion-icon>
                </button>-->
            </ion-item>
            </ion-card>
          </accordion-heading>
          
          <ion-card class="accordionContent animated fadeIn">
            <ion-item *ngFor="let subscriptionItem of subscription.items">
            <ion-icon name="ios-arrow-forward" item-start></ion-icon>
            <h2 class="amount">Item Amount: <strong>{{subscriptionItem.item_amount}}</strong></h2>
            <p class="currency">Currency: <span>{{subscriptionItem.item_currency}}</span></p>
            <p class="description">Description:<br/> {{subscriptionItem.item_description}}</p>
          </ion-item>
          </ion-card>

    </accordion-group>
  </accordion>
    </ion-list>
   
    <ion-chip *ngIf='allSubscriptionHistory.length<=0&&historyFoundMessage!=""'>
        <ion-label color="danger">{{historyFoundMessage}}</ion-label>
    </ion-chip>
</ion-content>
