page-create-hot-sheet {
  .text-input {  
  margin: 4px 0px 8px 0;
  padding: 5px 8px;
  border-radius: 2px;
  background: #EEE;
  }  
}

.selectWebsite {
margin-bottom: 16px;
margin-top: 10px;
padding: 0 16px;
}

.mapSearchBG {
border: none;
padding: 10px 12px 0 12px;
border: 1px solid $color-5;
background: $color-5;
}

.drawMapNotes {
min-height: 12px;
padding: 8px 12px 12px 12px;
margin: 0;
border: none;
border: 1px solid $color-5;
background: $color-5;
  .item-inner {
  height: 15px;
  min-height: 15px;
  line-height: 15px;
  padding: 0px !important;
  margin: 0px !important;
  border: none !important;  
  }
  ion-label {  
  font-size: 13px;
  font-weight: 400;
  letter-spacing: .5px;  
  padding: 0;
  margin: 0;
  border: none;
  }
}

#map-draw-icon {
width: 40px;
height: 30px;
line-height: 30px;
text-align: center;
padding: 0 10px;
text-align: left;
font-size: 0px;
margin-top: 9px;
margin-right: 12px;
border-radius: 2px;
cursor: pointer;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
background: url("../assets/imgs/draw-icon.svg") no-repeat center center #ffef67;
background-size: 45%;
}

.hotsheetPrice {
width: 100%;
font-family: $font-one;
font-size: 18px;
font-weight: 600;
text-align: left;
margin-top: 16px;
letter-spacing: .5px;
padding: 8px 8px 8px 10px;
background: #EEE;
}

.metaDescription {
  textarea {
  font-size: 16px;
  line-height: 20px;
  min-height: 140px;
  }
}

.itemPadding {
padding: 5px 16px;
}

.additionalOption {
padding: 0 16px;
  
  .list-header {
  padding: 0;
  margin: 2px 0 16px 0;
  }

  .item-toggle {
  font-size: 14px;
  padding: 0;
  margin: 0 0 16px 0;
    .item-inner {
    padding-right: 0px;
    margin: 0px;
    }
  }

  .imgCropper {
  margin: 15px 0;
  display: block;
    // canvas {
    // width: 100%;
    // }
  }

  .cropPreview {
    .cropPreviewLabel {    
    text-transform: uppercase;    
    font-size: 13px;
    letter-spacing: .8px;    
    color: #000;
    padding: 5px 8px;
    display: table;
    border-radius: 2px;
    margin: 25px auto 0 auto;
    background: #e2e2e2;
    }
    img {
    border: 1px solid #DDD;
    padding: 5px;
    margin: 10px auto;
    display: table;
    background: #FFF;
    }
  }
  
}
