<!--
  Generated template for the CreateHotSheetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="dashboardUI colorEnabled background_color">

  <ion-navbar>    
    <!-- <button ion-button menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>Create Hot Sheet</ion-title>    
    <ion-buttons end>
      <button ion-button (click)="createHotSheet();" [disabled]="!hotSheetForm.valid||polygon_search==''"></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding class="dashboardUI">
<div class="dashboardBG colorEnabled background_color" ion-fixed></div>

  <!--<ion-chip *ngIf='hotsheetCreateMsg!=""'>
    <ion-label color="danger">{{hotsheetCreateMsg}}</ion-label>
  </ion-chip>-->

  <form role="form" data-toggle="validator" #hotSheetForm="ngForm">

    <ion-item class="websiteSelect">
      <ion-label stacked>Select Website<span [ngClass]="{'error': selectedWebsite==''}" *ngIf="selectedWebsite==''">*</span></ion-label>
      <ion-select placeholder="-----" [(ngModel)]="selectedWebsite" (ngModelChange)="onWebsiteSelection($event)" name="selectedWebsite" 
      required>
       <ion-option *ngFor="let website of allWebsiteList" value= {{website.id}}>
          {{website.website}}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-searchbar class="mapSearchBG" #searchbar placeholder="Search"></ion-searchbar>

    <ion-list class="animated fadeIn blk1">
      <ion-item class="drawMapNotes" *ngIf="map_height!=null">
        <ion-label>Draw Search Area Border<span [ngClass]="{'error': polygon_search==''}" *ngIf="polygon_search==''">*</span></ion-label>
      </ion-item>    
 
      <div class="mapBlock">
        <div #map id="map" style="width:100%;" [style.height]="map_height+'px'"></div>
      </div>
    </ion-list>
    
    <ion-list class="slugSettings">
        <ion-item>
          <ion-label stacked>Name<span [ngClass]="{'error': name==''}" *ngIf="name==''">*</span></ion-label>
          <ion-input type="text" required [(ngModel)]="name" name="name" id="name" (input)="setHotSheetDefaultTitle()"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Slug<span [ngClass]="{'error': slug==''}" *ngIf="slug==''">*</span></ion-label>
          <ion-input type="text" required [(ngModel)]="slug" name="slug" id="slug"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Parent City</ion-label>
          <ion-select [(ngModel)]="parent_id"  
          name="parent_id" >
          <ion-option value="">None</ion-option>
          <ion-option *ngFor="let hotsheet of allHotSheetList" value= {{hotsheet.id}}>
          {{hotsheet.name}}
          </ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label stacked>Community/Neighborhood</ion-label>
          <ion-input type="text" [(ngModel)]="community" name="community"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>City</ion-label>
          <ion-input type="text" [(ngModel)]="city" name="city"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Sub City</ion-label>
          <ion-input type="text" [(ngModel)]="sub_city" name="sub_city"></ion-input>
        </ion-item>
    </ion-list>


    <div class="customList metaSettings">
        <ion-item class="noPadding">
          <ion-label stacked>Title<span [ngClass]="{'error': hotsheet_Title==''}" *ngIf="hotsheet_Title==''">*</span></ion-label>
          <ion-input type="text" required [(ngModel)]="hotsheet_Title" name="hotsheet_Title" id="hotsheet_Title"></ion-input>
        </ion-item>

        <div class="briefDescription">
          <ion-label>Overview</ion-label>
          <div id="brief_description" contenteditable="true" class="expandText">
              Overview
            </div>
        </div>

        <div class="mainDescription">
            <ion-label>Main Description</ion-label>
            <div id="main_description" contenteditable="true" class="expandText">
                Main Description
              </div>
        </div>

        <ion-item class="noPadding">
          <ion-label stacked>Meta Title</ion-label>
          <ion-input type="text" [(ngModel)]="meta_title" name="meta_title"></ion-input>
        </ion-item>

        <ion-item class="noPadding itemMargin">
          <ion-label stacked>Meta Description</ion-label>
          <ion-textarea type="text" [(ngModel)]="meta_description" name="meta_description"></ion-textarea>
        </ion-item>

        <ion-item class="noPadding itemMargin">
          <ion-label stacked>Assigned Agent/Broker</ion-label>
          <ion-select placeholder="-----" [(ngModel)]="assigned_agent_id"  
          name="assigned_agent_id" multiple="true">
          <ion-option *ngFor="let agent of allAgents" value= {{agent.id}}>
          {{agent.first_name}} {{agent.last_name}}
          </ion-option>
          </ion-select>
        </ion-item>

        <ion-item class="noPadding itemLast">
          <ion-label stacked>Additional Options</ion-label>
          <ion-toggle checked="false" (ionChange)="toggleAdditionalInfo()"></ion-toggle>
        </ion-item>
      
        <ion-item class="noPadding vidTour" *ngIf="additionalInfoOption">
          <ion-label stacked>Video Tour Url</ion-label>
          <ion-textarea type="text" [(ngModel)]="virtual_tour_url" name="virtual_tour_url" pattern="https?://.+"></ion-textarea>
        </ion-item>

        <ion-item class="noPadding vidTour" *ngIf="additionalInfoOption">
          <ion-label stacked>Video Url</ion-label>
          <ion-textarea type="text" [(ngModel)]="video_url" name="video_url" pattern="https?://.+"></ion-textarea>
        </ion-item>
    </div>

    
    <div class="customList hotsheetImages">
  
    <ion-list *ngIf="isApp">
      <ion-item>
        <button ion-button color="primary" block (click)="takeHeaderPicture();" >Select Header Image</button>
      </ion-item>

      <ion-item *ngIf="headerImage!=''">
        <img [src]="headerImage" />
      </ion-item>

      <ion-item>
        <button ion-button color="primary" block (click)="takeCommunityPicture();">Select Community Image</button>
      </ion-item>

      <ion-item *ngIf="communityImage!=''">
        <img [src]="communityImage" />
      </ion-item>
    </ion-list>


    <ion-list *ngIf="!isApp">
        
        <ion-label stacked>Main Image</ion-label>

        <!-- Edit Image Toggle Button -->
        <!--<ion-item class="toggleImageEdit" *ngIf="dataHeaderImage.image">
          <ion-label>Edit Image</ion-label>
          <ion-toggle [(ngModel)]="edit_header_image" 
          name="edit_header_image" (click)="showHideHeaderCropper()"></ion-toggle>
        </ion-item>-->


        <!-- Main Image Uploader -->
        
               
          <!--<img-cropper #headerImageCropper [image]="dataHeaderImage" [settings]="headerCropperSettings" 
          (onCrop)="headerImageCropped($event)" *ngIf="hideHeaderCropper"></img-cropper>-->

          
          <span *ngIf="dataHeaderImage.image" >
          <img [src]="dataHeaderImage.image" [width]="headerWidth"
          [height]="headerHeight">
          </span>

            
          <input id="custom-input" type="file" accept=".png, .jpg, .jpeg" capture="camera" multiple 
          (change)="headerFileChangeListener($event)">
          <button ion-button (click)="editImage('header');" *ngIf="isHeaderExist">
            <ion-icon name="md-create"></ion-icon>
          </button>
      
      </ion-list>  

      <ion-list *ngIf="!isApp">
          <ion-label stacked>Community/Gallery Images</ion-label>
       
          <!-- Image Cropper Result -->          
          <span *ngFor="let communityImage of dataCommunityImageArray">          
          <img [src]="communityImage.imageDataDummy" [width]="communityImage.imageWidth"
          [height]="communityImage.imageHeight">
          <button ion-button color="danger" item-right class="btn-del" (click)="deleteGalleryImage(communityImage,'community')"><ion-icon name="md-close"></ion-icon>Delete</button>
          </span>

          <!-- Image Upload Button -->
          <input id="custom-input" type="file" accept=".png, .jpg, .jpeg" capture="camera" multiple (change)="communityFileChangeListener($event)">
          <button ion-button color="primary" block (click)="addMoreGalleryImage('community');" 
          *ngIf="dataCommunityImage.image">Add More</button>      
          
           
    </ion-list>
    <ion-list *ngIf="!isApp">
      <ion-label stacked>SlideShow Images</ion-label>
   
      <!-- Image Cropper Result -->          
      <span *ngFor="let slideShowImage of dataSlideShowImageArray">          
      <img [src]="slideShowImage.imageDataDummy" [width]="slideShowImage.imageWidth"
      [height]="slideShowImage.imageHeight">
      <button ion-button color="danger" item-right class="btn-del" (click)="deleteGalleryImage(slideShowImage,'slideShow')"><ion-icon name="md-close"></ion-icon>Delete</button>
      </span>

      <!-- Image Upload Button -->
      <input id="custom-input" type="file" accept=".png, .jpg, .jpeg" capture="camera" multiple (change)="slideShowFileChangeListener($event)">
      <button ion-button color="primary" block (click)="addMoreGalleryImage('slideShow');" 
      *ngIf="dataSlideShowImage.image">Add More</button>      
      
       
</ion-list>
    </div>

    <!-- <ion-item>
      <button ion-button style="text-transform:lowercase !important;" color="secondary" outline (click)="toggleAdvanceSearch()" full small>filter</button>
    </ion-item> -->

    <ion-list class="customList filterList">
        
        <ion-item class="filterLabel">
          <ion-label> Filter</ion-label>
          <ion-toggle checked="false" (ionChange)="toggleAdvanceSearch()"></ion-toggle>
        </ion-item>    

        <div class="filterOptions" *ngIf="advanceSearchOption">   
            <!--<ion-item *ngIf="status!=undefined">
              <ion-label>Status</ion-label>
              <ion-select [(ngModel)]="status_modal" (ngModelChange)="selectedStatus($event)" name="status_modal">
              <ion-option *ngFor="let status of statusOptions" value= {{status.id}}>
              {{status.name}}
              </ion-option>
              </ion-select>
            </ion-item>-->
            <ion-item>
              <ion-label>Listing Type</ion-label>
              <ion-select [(ngModel)]="listing_type" name="listing_type" multiple="true">
              <ion-option *ngFor="let listingTypeObj of listingTypeOptions" value= {{listingTypeObj.id}}>
              {{listingTypeObj.name}}
              </ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Home Type</ion-label>
              <ion-select [(ngModel)]="home_type_modal" name="home_type_modal" multiple="true">
              <ion-option *ngFor="let homeTypeObj of homeTypeOptions" value= {{homeTypeObj.id}}>
              {{homeTypeObj.name}}
              </ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Property Size</ion-label>        
              <ion-input type="tel" [(ngModel)]="unit_size_min"
              name="unit_size_min" id="unit_size_min" placeholder="min" pattern="^[0-9]*$" 
              inputmode="numeric" (blur)="updateSearchObject()" (ionChange)="validatePropertySize()"></ion-input>
              
              <ion-input type="tel" [(ngModel)]="unit_size_max" 
              name="unit_size_max" id="unit_size_max" placeholder="max" pattern="^[0-9]*$" 
              inputmode="numeric" (blur)="updateSearchObject()" (ionChange)="validatePropertySize()"></ion-input>
            </ion-item>

            <!--<ion-item *ngIf="msl_id!=undefined">
              <ion-label stacked>MLS #</ion-label>
              <ion-input type="text" [(ngModel)]="msl_id" name="msl_id" id="msl_id"></ion-input>
            </ion-item>-->
        
            <ion-item>
              <ion-label stacked class="hotsheetPriceLabel">Price</ion-label>
              <ion-label class="hotsheetPrice">({{price.lower}} - {{price.upper}})</ion-label>
              <ion-range dualKnobs="true" [(ngModel)]="price" min="0" max="600000000" 
              color="primary" name="price" (ionChange)="changePrice($event)"></ion-range>
              <!--<ion-range min="0" max="600000000" [(ngModel)]="price" color="secondary" name="price">
              <ion-label range-left>0</ion-label>
              <ion-label range-right>600000000</ion-label>
              </ion-range>-->
            </ion-item>

            <ion-item *ngIf="bedrooms!=undefined">
              <ion-label>Beds</ion-label>
              <ion-select [(ngModel)]="bedrooms" name="bedrooms" id="bedrooms">
               
                 <ion-option value="1">1+</ion-option>
                 <ion-option value="2">2+</ion-option>
                 <ion-option value="3">3+</ion-option>
                 <ion-option value="4">4+</ion-option>
                 <ion-option value="5">5+</ion-option>
                 <ion-option value="6">6+</ion-option>
                 <ion-option value="7">7+</ion-option>
                 <ion-option value="8">8+</ion-option>
                 <ion-option value="9">9+</ion-option>
                 <ion-option value="10">10+</ion-option>
               </ion-select>
              
            </ion-item>

            <ion-item *ngIf="bathrooms!=undefined">
              <ion-label>Baths</ion-label>
              <ion-select [(ngModel)]="bathrooms" name="bathrooms" id="bathrooms" >

                 <ion-option value="1">1+</ion-option>
                 <ion-option value="2">2+</ion-option>
                 <ion-option value="3">3+</ion-option>
                 <ion-option value="4">4+</ion-option>
                 <ion-option value="5">5+</ion-option>
                 <ion-option value="6">6+</ion-option>
                 <ion-option value="7">7+</ion-option>
                 <ion-option value="8">8+</ion-option>
                 <ion-option value="9">9+</ion-option>
                 <ion-option value="10">10+</ion-option>
               </ion-select>
              
            </ion-item>

            <ion-item *ngIf="listing_size!=undefined">
              <ion-label>Square Feet</ion-label>
              <ion-input type="text" [(ngModel)]="listing_size_min"
              name="listing_size_min" id="listing_size_min" placeholder="min"></ion-input>

              <ion-input type="text" [(ngModel)]="listing_size_max" 
              name="listing_size_max" id="listing_size_max" placeholder="max"></ion-input>
            </ion-item>
            
            <!--<ion-item>
              <ion-label fixed>Lot Size</ion-label>
             
               <ion-input type="text" [(ngModel)]="lot_size_min"
               name="lot_size_min" id="lot_size_min" placeholder="min" (blur)="updateSearchObject()"></ion-input>
           
               <ion-input type="text" [(ngModel)]="lot_size_max" 
               name="lot_size_max" id="lot_size_max" placeholder="max" (blur)="updateSearchObject()"></ion-input>
              
            </ion-item>-->
            <ion-item>
              <ion-label>Lot Size</ion-label>
              <ion-select [(ngModel)]="lot_size_modal" name="lot_size_modal" (ngModelChange)="updateSearchObject()">
              <ion-option *ngFor="let lotSizeObj of lotSizeOptions" value= {{lotSizeObj.id}}>
              {{lotSizeObj.name}}
              </ion-option>
              </ion-select>
            </ion-item>
            <ion-item class="input-text-right mr5" *ngIf="showCustom==true">
              <ion-label>Lot Size</ion-label>
              <ion-input type="text" [(ngModel)]="lot_size_min"
              name="lot_size_min" id="lot_size_min" placeholder="min" (blur)="updateSearchObject()"></ion-input>
        
              <ion-input type="text" [(ngModel)]="lot_size_max" 
              name="lot_size_max" id="lot_size_max" placeholder="max" (blur)="updateSearchObject()"></ion-input>
            </ion-item>
           
            <ion-list radio-group [(ngModel)]="lot_size_type" *ngIf="showCustom==true" (ionChange)="updateSearchObject()" [ngModelOptions]="{standalone: true}">
     
              <ion-item>
                <ion-label>Sq.Ft</ion-label>
                <ion-radio value="sqft"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Acre</ion-label>
                <ion-radio value="acre"></ion-radio>
              </ion-item>
           
          </ion-list>
            <ion-item>
              <ion-label fixed>Year Built</ion-label>
              
               <ion-input type="tel" [(ngModel)]="year_built_min"
               name="year_built_min" id="year_built_min" placeholder="min" minlength="4" maxlength="4" pattern="^[0-9]*$" 
               inputmode="numeric" (blur)="updateSearchObject()" (ionChange)="validateYear()"></ion-input>
           
               <ion-input type="tel" [(ngModel)]="year_built_max" 
               name="year_built_max" id="year_built_max" placeholder="max" minlength="4" maxlength="4" pattern="^[0-9]*$" 
               inputmode="numeric" (blur)="updateSearchObject()" (ionChange)="validateYear()"></ion-input>
              
            </ion-item>

            <ion-item>
              <ion-label>Days on the Market</ion-label>
              <ion-select [(ngModel)]="dols" name="dols" id="dols">
               
                 <ion-option value="-1">Any</ion-option>
                 <ion-option value="1"> < 1 Day</ion-option>
                 <ion-option value="7"> < 7 Days</ion-option>
                 <ion-option value="14"> < 14 Days</ion-option>
                 <ion-option value="30"> < 30 Days</ion-option>
                 <ion-option value="90"> < 90 Days</ion-option>
                 <ion-option value="180"> < 6 Months</ion-option>
                 <ion-option value="365"> < 1 Year</ion-option>
               
              </ion-select>        
            </ion-item>
  
            <!--<ion-item *ngIf="days_on_market!=undefined">
              <ion-label stacked>Days on the Market</ion-label>
              <ion-select [(ngModel)]="days_on_market" name="days_on_market" id="days_on_market">
               
              <ion-option value="1">1 Day</ion-option>
              <ion-option value="7">7 Days</ion-option>
              <ion-option value="14">14 Days</ion-option>
              <ion-option value="30">30 Days</ion-option>
              <ion-option value="90">3 Months</ion-option>
              <ion-option value="180">6 Months</ion-option>
              <ion-option value="360">12 Months</ion-option>
              <ion-option value="720">24 Months</ion-option>
              <ion-option value="1080">36 Months</ion-option>
               </ion-select>
              
            </ion-item>-->

            <!--<ion-item *ngIf="address_township!=undefined">
              <ion-label stacked>Address Township</ion-label>
              <ion-input type="text" [(ngModel)]="address_township" name="address_township" id="address_township"></ion-input>
            </ion-item>

            <ion-item *ngIf="garage_size!=undefined">
              <ion-label stacked>Garage Size</ion-label>
              <ion-select [(ngModel)]="garage_size" name="garage_size" id="garage_size">
               
              <ion-option value="1">1 car</ion-option>
              <ion-option value="2">2 car</ion-option>
              <ion-option value="3">3 car</ion-option>
              <ion-option value="4">4 car</ion-option>
              <ion-option value="5">5 car</ion-option>
               </ion-select>
            </ion-item>-->

            <!--<ion-item *ngIf="parcel_num!=undefined">
              <ion-label stacked>Lot or Parcel #</ion-label>
              <ion-input type="text" [(ngModel)]="parcel_num" name="parcel_num" id="parcel_num"></ion-input>
            </ion-item>-->

            <!--<ion-item *ngIf="school_district!=undefined">
              <ion-label stacked>School District</ion-label>
              <ion-input type="text" [(ngModel)]="school_district" name="school_district" id="school_district"></ion-input>
            </ion-item>

            <ion-item *ngIf="school_elem!=undefined">
              <ion-label stacked>School Elem</ion-label>
              <ion-input type="text" [(ngModel)]="school_elem" name="school_elem" id="school_elem"></ion-input>
            </ion-item>-->

            <!--<ion-item *ngIf="school_high!=undefined">
              <ion-label stacked>School High</ion-label>
              <ion-input type="text" [(ngModel)]="school_high" name="school_high" id="school_high"></ion-input>
            </ion-item>-->

            <!--<ion-item *ngIf="stories!=undefined">
              <ion-label stacked>Stories</ion-label>
              <ion-input type="text" [(ngModel)]="stories" name="stories" id="stories"></ion-input>
            </ion-item>-->

            <!--<ion-item *ngIf="address_city!=undefined">
              <ion-label stacked>Specific Cities</ion-label>
              <ion-select [(ngModel)]="address_city_modal" (ngModelChange)="selectedAddressCity($event)" 
              name="address_city_modal" multiple="true">
                <ion-option *ngFor="let address_city_option of address_city_options" value= {{address_city_option.id}}>
                   {{address_city_option.name}}
                 </ion-option>
               </ion-select>
            </ion-item>

            <ion-item *ngIf="address_subdivision!=undefined">
              <ion-label stacked>Select Subdivisions</ion-label>
              <ion-select [(ngModel)]="address_subdivision_modal" (ngModelChange)="selectedSubDivision($event)" 
              name="address_subdivision_modal" multiple="true">
                <ion-option *ngFor="let address_subdivision_option of address_subdivision_options" value= {{address_subdivision_option.id}}>
                   {{address_subdivision_option.name}}
                 </ion-option>
               </ion-select>
            </ion-item>

            <ion-item *ngIf="address_zip_code!=undefined">
              <ion-label stacked>Zipcodes</ion-label>
              <ion-select [(ngModel)]="address_zip_code_modal" (ngModelChange)="selectedSubDivision($event)" 
              name="address_zip_code_modal" multiple="true">
                <ion-option *ngFor="let address_zip_code_option of address_zip_code_options" value= {{address_zip_code_option.id}}>
                   {{address_zip_code_option.name}}
                 </ion-option>
               </ion-select>
            </ion-item>

            <ion-item *ngIf="neighbourhood!=undefined">
              <ion-label stacked>Select Neighborhoods</ion-label>
              <ion-select [(ngModel)]="neighbourhood_modal" (ngModelChange)="selectedNeighbourHood($event)" 
              name="neighbourhood_modal" multiple="true">
                <ion-option *ngFor="let neighbourhood_option of neighbourhood_options" value= {{neighbourhood_option.id}}>
                   {{neighbourhood_option.name}}
                 </ion-option>
               </ion-select>
            </ion-item>-->
            
            <!--<ion-item>
              <ion-label stacked>Community/Neighborhood</ion-label>
              <ion-input type="text" [(ngModel)]="community" name="community"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label stacked>Assigned Agent IDs</ion-label>
              <ion-select [(ngModel)]="assigned_agent_id"  
              name="assigned_agent_id" multiple="true">
                <ion-option *ngFor="let agent of allAgents" value= {{agent.id}}>
                  {{agent.first_name}} {{agent.last_name}}
                 </ion-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label stacked>Sub City</ion-label>
              <ion-input type="text" [(ngModel)]="sub_city" name="sub_city"></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-label stacked>Main Description</ion-label>
              <ion-textarea type="text" [(ngModel)]="main_description" name="main_description"></ion-textarea>
            </ion-item>-->
      </div>
    </ion-list>

    <div class="dashboardBtn">
      <button ion-button color="primary" class="colorEnabled button_color" block (click)="createHotSheet();" 
      [disabled]="!hotSheetForm.valid||polygon_search==''||!validYear||!validPrice">Create HotSheet</button>
    </div>

  </form>

  <!--<ion-chip *ngIf='hotsheetCreateMsg!=""'>
    <ion-label color="danger">{{hotsheetCreateMsg}}</ion-label>
  </ion-chip>-->

</ion-content>
