page-manage-agents {
  ion-navbar {
    .bar-buttons {
      .button-inner {
        .icon-ios, .icon-md, .icon-wp {
        font-size: 30px !important;
        }
      }
    }
  }

  ion-content {
    &.dashboardUI {      
      ion-item:first-child {
      border-radius: 0px;
      }
      ion-icon {
      font-family: $font-three;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: .5px;
      color: #FFF;
        &:before {
        font-size: 22px;
        display: block;
        padding-bottom: 5px;
        }
      }
      .item-ios, .item-md, .item-wp {
        &.noPadding {
          .item-inner {
            &:first-child {
            padding: 0px !important;
              .label-ios, .label-md, .label-wp {
              margin: 0px;
              }
              .input-wrapper {
              padding: 0px;
                .label-ios, .label-md, .label-wp {
                  .item-wrapper {
                  // padding: 16px;
                    .item-inner {
                    padding: 16px !important;
                    }
                    ion-item-options {
                      border-bottom: none;
                    }
                  }
                }
              }
            }            
          }
        }
      }
    }
  }

  .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
  border-bottom: 0px !important;
  }
  
  .item-ios, .item-md, .item-wp {
    &.item-block .item-inner {
    padding-right: 0px;
      .label-ios, .label-md, .label-wp {
      margin-right: 0px;
        h1, h2, h3, h4 {
        margin: 0px;
        }        
      }
    }
  }

  .agentName, .agentEmail {
  font-family: $font-three;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  }

    .agentName {
    font-family: $font-six;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    display: block;
    margin: 12px 0 5px 0 !important;
    padding: 0;
    color: #506D7B;
    }

    .agentEmail {
    font-size: 13px;
    color: #788C96;
    }

  .agentDescription {
  font-family: $font-three;
  font-size: 14px;
  line-height: 21px;
  text-overflow: unset;
  white-space: normal;
  display: none;
    p {
    font-family: $font-three;
    font-size: 14px;
    line-height: 21px;
    color: blue;
    text-overflow: unset;
    white-space: normal;
    display: none;
    }
  }

  .button {
    &.button-ios-primary, &.button-md-primary, &.button-wp-primary {
    background: #207EAF;
    }
  }

  ion-item-sliding {
  overflow: visible !important;
    
    .item {
    contain: none !important;
    margin-bottom: 50px;
    }

    .item-block {
    overflow: visible !important;
    }

    ion-item {
    overflow: visible !important;
    width: 100%;    
    position: relative;    
      &:before {
      content: "View Profile";
      font-family: $font-three;
      font-size: 14px;
      letter-spacing: .5px;
      height: 34px;
      line-height: 34px;
      padding: 0 35px;
      border-radius: 50px;
      cursor: pointer !important;
      width: 155px !important;
      display: block !important;
      left: 0;
      right: 0;
      bottom: -17px;
      box-sizing: border-box;
      margin: 0 auto !important;
      position: absolute;
      color: #FFF;
      text-align: center;
      background: #58ABF7;
      background: -webkit-linear-gradient(to right, #42a2f9, #59ebf2);
      background: linear-gradient(to right, #42a2f9, #59ebf2);
      }

      ion-avatar {
        &.imgFull {
        width: 100%;
          img {
          width: 72px;
          height: 72px;
          margin: 0 auto;
          display: block;
          }
        }
      }
      .label-ios, .label-md, .label-wp {      
      padding-bottom: 10px;
      }
    }
  }

}