page-dashboard {
  
  ion-header {
    &.noHeader {
    display: none;
    }
  }

  ion-content {
    &.noHeader {      
      .fixed-content, .scroll-content {
      margin-top: 0px !important;
      }
      .scroll-content {
      padding-top: 56px !important;
      }
    }
  }  

  .card-ios, .card-md, .card-wp {
  width: 100%;
  margin: 0;
  border-radius: 5px;
  box-shadow: -1px 0px 18px 1px rgba(41, 81, 123, 0.15);
  }
}