<!--
  Generated template for the AllHotSheetsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="dashboardUI">
  <ion-navbar>
    
    <button ion-button menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <ion-title>Hot Sheets</ion-title> -->
    <ion-buttons end>
      <button ion-button icon-left (click)="createHotSheet();" *ngIf="isCreateHotsheetAccess==true">
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content padding class="dashboardUI">  
  
  <ion-refresher (ionRefresh)="viewAllHotSheets($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-chip *ngIf="notificationMsg!=''">
    <ion-label color="secondary">{{notificationMsg}}</ion-label>
  </ion-chip>

  <h1 class="contentTitle animated bounceInRight">Hot Sheets</h1>

  <ion-list class="animated fadeIn noShadow" *ngIf="!isApp">    
    <ion-item-sliding *ngFor="let hotsheet of allHotSheetList">

      <ion-item (click)="editHotsheet(hotsheet.id)">
        <ion-thumbnail item-start>
          <img src="../assets/imgs/hotsheets-thumbnail.jpg">
        </ion-thumbnail>
        <h2 class="HotsheetName">{{hotsheet.name}}</h2>
        <p class="HotsheetSlug">visit/{{hotsheet.slug}}</p>        
        <!-- <ion-icon class="light" name="arrow-forward" item-right></ion-icon> -->
        <!-- <button ion-button clear item-end>View</button> -->
      </ion-item>

      <ion-item-options side="right">
        <button ion-button color="danger" item-right class="btn-del" (click)="deleteHotsheet(hotsheet)" *ngIf="isDeleteHotsheetAccess==true"><ion-icon name="md-close"></ion-icon>Delete</button>
      </ion-item-options>
      
    </ion-item-sliding>
  </ion-list>

  <ion-list class="animated fadeIn noShadow" *ngIf="isApp">
    <ion-item-sliding *ngFor="let hotsheet of allHotSheetList">

      <ion-item (click)="editHotsheet(hotsheet.id)">
        <h2 class="HotsheetName">{{hotsheet.name}}</h2>
        <p class="HotsheetSlug">visit/{{hotsheet.slug}}</p>
        <!-- <ion-icon class="light" name="arrow-forward" item-right></ion-icon> -->
      </ion-item>

      <ion-item-options side="right">
        <button ion-button color="danger" item-right class="btn-del" (click)="deleteHotsheet(hotsheet)" *ngIf="isDeleteHotsheetAccess==true"><ion-icon name="md-close"></ion-icon>Delete</button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  
  <ion-chip *ngIf='allHotSheetList.length<=0&&hotsheetFoundMessage!=""'>
    <ion-label color="danger">{{hotsheetFoundMessage}}</ion-label>
  </ion-chip>

</ion-content>
