<!--
  Generated template for the AllHotSheetsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="dashboardUI colorEnabled background_color">
  <ion-navbar>
    
    <button ion-button menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <ion-title>Hot Sheets</ion-title> -->
    <ion-buttons end>
      <button ion-button icon-left (click)="createHotSheet();" *ngIf="isCreateHotsheetAccess==true">
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content padding class="dashboardUI">
<div class="dashboardBG colorEnabled background_color" ion-fixed></div>
  
  <ion-refresher (ionRefresh)="viewAllHotSheets($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <!--<ion-chip *ngIf="notificationMsg!=''">
    <ion-label color="secondary">{{notificationMsg}}</ion-label>
  </ion-chip>-->

  <h1 class="centerStage contentTitle animated bounceInRight">Hot Sheets</h1>

  <!--<ion-list class="animated fadeIn noShadow" *ngIf="!isApp">    
    <ion-item *ngFor="let hotsheet of allHotSheetList">

      <ion-item (click)="editHotsheet(hotsheet.id)">
        <ion-thumbnail item-start>
          <img src="../assets/imgs/hotsheets-thumbnail.jpg">
        </ion-thumbnail>
        <h2 class="HotsheetName">{{hotsheet.name}}</h2>
        <p class="HotsheetSlug">visit/{{hotsheet.slug}}</p>        
       
      </ion-item>

        <button ion-button color="danger" item-right class="btn-del" (click)="deleteHotsheet(hotsheet)" *ngIf="isDeleteHotsheetAccess==true"><ion-icon name="md-close"></ion-icon>Delete</button>
  
    </ion-item>
  </ion-list>-->

  <ion-list class="centerStage animated fadeIn noShadow">
    <ion-item-sliding *ngFor="let hotsheet of allHotSheetList">

      <ion-item (click)="editHotsheet(hotsheet.id)">
        <ion-thumbnail item-start>
            <img src={{this.sharedServiceObj.imgBucketUrl}}{{hotsheet.header_image_url}} 
            (error)="imgHotsheet.src = this.sharedServiceObj.hotsheetNoImage" #imgHotsheet/>
            <!--<img src="../assets/imgs/hotsheets-thumbnail.jpg">-->
        </ion-thumbnail>
        <h2 class="HotsheetName">{{hotsheet.name}}</h2>
        <p class="HotsheetSlug">visit/{{hotsheet.slug}}</p>
      
      </ion-item>
      
      <ion-item class="desktopOption" side="right" *ngIf="!isApp">
        <div class="optionIcon" *ngIf="!isApp"></div>        
        <button ion-button color="danger" item-right class="btn-del" (click)="deleteHotsheet(hotsheet)" *ngIf="isDeleteHotsheetAccess==true"><ion-icon name="md-close"></ion-icon>Delete</button>
      </ion-item>
      <ion-item-options side="right" *ngIf="isApp">
        <button ion-button color="danger" item-right class="btn-del" (click)="deleteHotsheet(hotsheet)" *ngIf="isDeleteHotsheetAccess==true"><ion-icon name="md-close"></ion-icon>Delete</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  
  <!--<ion-chip *ngIf='allHotSheetList.length<=0&&hotsheetFoundMessage!=""'>
    <ion-label color="danger">{{hotsheetFoundMessage}}</ion-label>
  </ion-chip>-->

</ion-content>
