page-all-hot-sheets {
  p.slug {
  display: none !important;
  }
  ion-icon, .iconLabel {
  float: left !important;
  display: inline-block !important;
  }
  ion-thumbnail {
    img {
    box-shadow: 0 0 0 1px #E0E0E0;
    }
  }
}