<!--
  Generated template for the SubscriptionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Subscription</ion-title>
    <ion-buttons end>
        <button ion-button (click)="saveSubscribeUser();" [disabled]="!subscribeForm.valid">Subscribe</button>
      </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <h3>Choose Subscription Packages</h3>
  
      <ion-chip *ngIf="subscriptionMsg!=''">
          <ion-label color="danger">{{subscriptionMsg}}</ion-label>
        </ion-chip>
      <form role="form" data-toggle="validator" #subscribeForm="ngForm"> 
  <ion-list *ngIf="!userSubscribed">
    
    <ion-list>
      <ion-item *ngFor="let package of allAvailablePackages">
        <ion-label>{{package.name}}</ion-label>
        <ion-checkbox color="royal" checked="false" item-right (click)="setSelectedPackage(package.id)"></ion-checkbox>

      </ion-item>

    </ion-list>
    <ion-item>
      <ion-label floating>Card Name</ion-label>
      <ion-input type="text" [(ngModel)]="full_name" name="full_name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Credit Card Number</ion-label>
      <ion-input type="text" [(ngModel)]="cc_number" name="cc_number" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Expiry Date</ion-label>
      <ion-datetime displayFormat="MM/YYYY" pickerFormat="MM/YYYY" 
      [(ngModel)]="expiryDate" name="expiryDate" required  min="{{calendarMinDate}}" max="{{calendarMaxDate}}" ></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label floating>Credit Card CVC</ion-label>
      <ion-input type="text" [(ngModel)]="cvc" name="cvc" required></ion-input>
    </ion-item>
    <div padding>
      <button ion-button color="primary" block (click)="saveSubscribeUser();" [disabled]="!subscribeForm.valid">Subscribe</button>
    </div>
  </ion-list>
      </form>
  <ion-chip *ngIf="subscriptionMsg!=''">
    <ion-label color="danger">{{subscriptionMsg}}</ion-label>
  </ion-chip>
</ion-content>