<!--
  Generated template for the GroupMembersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="dashboardUI chatUI">   
  <ion-navbar>

    <!-- <button ion-button menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>Edit Chat</ion-title>
    
  </ion-navbar>  
</ion-header>
  
  
<ion-content padding class="dashboardUI chatUI">
  
  <h1 class="contentTitle animated bounceInRight">Group Members</h1>
  
  <ion-list class="noShadow" *ngIf="groupMembersData.length>0">
      <div class="chatBoxWrapper">          
          <div class="chatBoxItem">
          <div  *ngFor="let groupMember of groupMembersData">
         
            <div *ngIf="groupMember.val().userId!=firebaseUserId">
      
            <ion-item-sliding class="item item-avatar alternate-chat-left item-text-wrap" >
              <ion-item>
                <div class="chatAvatar">
                <img src={{this.sharedServiceObj.imgBucketUrl}}{{groupMember.val().image}} 
                      (error)="imgGroupMember.src = this.sharedServiceObj.noImageUrl" #imgGroupMember/>
                </div>
                <span class="chat-info">
                <h1>{{groupMember.val().memberName}}</h1>                
                </span>
              </ion-item>

              <ion-item class="desktopOption" *ngIf="!isApp">
                <div class="optionIcon" *ngIf="!isApp"></div>
                <button ion-button color="danger" item-right class="roundedOption btn-del" (click)="deleteMember(groupMember.key)"  ><ion-icon name="md-close"></ion-icon>Delete</button>
              </ion-item>
              <ion-item-options side="right" *ngIf="isApp">
                <button ion-button color="danger" item-right class="roundedOption btn-del" (click)="deleteMember(groupMember.key)"  ><ion-icon name="md-close"></ion-icon>Delete</button>
              </ion-item-options>
              
            </ion-item-sliding>
            </div>
            </div>
          </div>
         
         </div> 
 
  </ion-list>
  </ion-content>
  
