page-view-roles {

  ion-content {
    &.dashboardUI {
      &.colorEnabled {
        &.background_color {
        background: none;
          &:before {
          opacity: 1;
          }
        }
      }
    }
  }  
  
  ion-app.ios [padding] {
  padding: 20px !important;
  }

  .item-ios, .item-md, .item-wp {
  margin-left: 0px !important;
  padding-left: 0px !important;
    .item-inner {    
    padding-left: 16px !important;
    padding-right: 8px !important;
    margin-left: 0px !important;
    border-color: #ebe9f0 !important;
      h2 {
      margin-top: 0px;
      }
    }
  }

  ion-content.dashboardUI .formShadow {
  border-radius: 5px !important;
  box-shadow: -1px 0px 8px rgba(214, 220, 226, 0.51) !important;  
  }

  ion-item-sliding {

    ion-icon {
    font-family: $font-three !important;
    font-size: 11px !important;
    text-transform: uppercase;
    letter-spacing: .5px;
    color: #FFF !important;  
      &:before {
      font-size: 22px;
      display: block;
      padding-bottom: 5px;
      }
    }

    &:hover {
      .optionIcon {
      opacity: .7;
      }
    }
    
    .optionIcon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 6px;
    right: 4px;
    display: block;
    background: url("../assets/icon/svg/edit.svg") no-repeat center center !important;
    background-size: 100% !important;
    opacity: 0;
    @extend %transition;
    }

    .item-ios, .item-md, .item-wp {    
    padding-left: 16px !important;
      .item-inner {
      padding-left: 0px !important;
      padding-right: 0px !important;
        .label-ios, .label-md, .label-wp {
        font-family: $font-three;
          h2 {
          font-size: 16px;
          letter-spacing: .3px;
          }
        }
      }      
    }
  }

  .item-ios {
    ion-avatar {
      ion-img, img {
      width: 46px !important;
      height: 46px !important;
      }
    }
  }

  .list-header-ios, .list-header-md, .list-header-wp {
  margin: 0;
  padding: 0;
  border: none !important;
    
    .item-inner {
    padding-left: 0px !important;    
      .input-wrapper {
        .label-ios, .label-md, .label-wp {
        font-family: $font-three;
        font-size: 16px;
        letter-spacing: 0px;
        text-transform: none;
        color: lighten(#696D72, 6%);
        margin: 0;
        padding: 0;
        }
      }
    } 
  }

  ion-content {
    &.dashboardUI {
      &:before {
      height: 63px;
      z-index: 1;
      }
      &:after {
      height: 100vh;
      }
      ion-item:first-child {
      border-radius: 0px;
      }
    }
  }

  .ion-ios-person-add:before {
  font-size: 30px;
  }

  ion-item-sliding {
  max-height: 62px;
    ion-item-options {
    border: none !important;
      .button-ios-primary {
      background: #1C7BCE;
      }
    }
  }

  .desktopOption {
  width: auto;
  display: table;
  float: right;
  top: 5px !important;
  right: 0px !important;
  position: absolute;
  background: transparent;
  padding: 0px;
  margin: 0px;  
    &:before {
    display: none !important;
    }

    &:hover, &:focus {
      button {
      opacity: 1;
      }
    }

    ion-icon {
    line-height: 32px !important;
      &:before {
      margin-top: -1px !important;
      font-size:  18px !important;
      margin-right: 6px !important;
      float: left !important;
      display: inline-block !important;      
      }
    }

    button {
    border-radius: 2px !important;
    margin-left: 6px !important;
    padding: 0 14px !important;
    height: 32px !important;
    padding-top: 4px !important;
    min-height: 32px !important;
    line-height: 32px !important;
    @extend %transition;    
    opacity: 0;
    }

    .item-inner {    
    border: none !important;
    position: relative;

      .input-wrapper {
      margin: 0px;
      padding: 0px;
        .label-ios, .label-md, .label-wp {
        margin: 0px !important;
        padding: 0px !important;
        }
      }
    }

  }

}