<!--
  Generated template for the ViewRolesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="dashboardUI">
  <ion-navbar>

    <button ion-button menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <ion-title>Roles Management</ion-title> -->
    <ion-buttons end>
      <button ion-button icon-left  (click)="createRole();">
        <ion-icon name="person-add"></ion-icon>        
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content padding class="dashboardUI">  
  <!-- <h1 class="contentTitle animated bounceInRight">Roles Management</h1> -->
  <ion-list-header class="animated bounceInRight">Roles Management</ion-list-header>

  <ion-refresher (ionRefresh)="getAllRoles($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-chip *ngIf="notificationMsg!=''">
    <ion-label color="secondary">{{notificationMsg}}</ion-label>
  </ion-chip>

  <div class="formShadow">
  <ion-list *ngIf="!isApp" class="animated lightSpeedIn noShadow">

    <ion-item-sliding *ngFor="let role of allRoles">
      
      <!-- <ion-item>
        <ion-icon name="ios-contacts" item-start></ion-icon>
        <h2>{{role.name}}</h2>         
      </ion-item> -->

      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/profile-photo.jpg">
        </ion-avatar>
        <h2>{{role.name}}</h2>
      </ion-item>
    
      <ion-item-options side="right">
        <button ion-button  item-right color="primary" (click)="editRole(role.id)">
          <ion-icon name="ios-brush">Edit</ion-icon>
        </button>
        <button ion-button  item-right color="danger" (click)="deleteRole(role)">
          <ion-icon name="md-trash">Delete</ion-icon>
        </button>
      </ion-item-options>    

    </ion-item-sliding>

  </ion-list>
  </div>
  
  <div class="formShadow">
  <ion-list *ngIf="isApp" class="noShadow">
    <ion-item-sliding *ngFor="let role of allRoles">    
      
      <ion-item>
        <ion-icon name="ios-contacts" item-start></ion-icon>
        <h2>{{role.name}}</h2>
        <ion-icon class="light" name="arrow-forward" item-right></ion-icon>
      </ion-item>
      
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="editRole(role.id)">
          <ion-icon name="ios-brush">Edit</ion-icon>
        </button>
        <button ion-button color="danger" (click)="deleteRole(role)">
          <ion-icon name="md-trash">Delete</ion-icon>
        </button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
  </div>

  <ion-chip *ngIf='allRoles.length<=0&&allRolesFound!=""'>
    <ion-label color="danger">{{allRolesFound}}</ion-label>
  </ion-chip>

</ion-content>