<!--
  Generated template for the ViewRolesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>View Roles</ion-title>
    <ion-buttons end>
      <button ion-button (click)="createRole();">Create Role</button>
    </ion-buttons>
  </ion-navbar>


</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="getAllRoles($event)">
          <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
<ion-chip *ngIf="notificationMsg!=''">
  <ion-label color="secondary">{{notificationMsg}}</ion-label>
</ion-chip>
<ion-list>
   
  
      <!--<ion-card-title>
        
      </ion-card-title>-->
     
    <!--<ion-card *ngFor="let agent of allAgents">
      
      <ion-card-content>
        <ion-card-title>
          
          </ion-card-title>-->
          <ion-item *ngFor="let role of allRoles">
          <ion-item no-lines>
          <h2>{{role.name}}</h2>
        </ion-item>
          <button ion-button item-right color="secondary" (click)="editRole(role.id)">
              <ion-icon name="create"></ion-icon>
            </button>
          <button ion-button item-right color="danger" (click)="deleteRole(role)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item>
      <!--</ion-card-content>
    </ion-card>-->
   
  
  </ion-list>
  <ion-chip *ngIf='allRoles.length<=0&&allRolesFound!=""'>
      <ion-label color="danger">{{allRolesFound}}</ion-label>
  </ion-chip>
</ion-content>
