page-home {

  [padding] .scroll-content {
  padding: 30px 20px !important;
  }

  ion-navbar {  
  display: none !important;
  }

  ion-slide {
    .slide-image {
    width: 100%;
      &.logo-intagent {      
      max-width: 360px;
      margin-top: -30px;
      margin-bottom: 20px;
      }
      &.logo-idx {
      max-width: 200px;
      margin-top: -30px;
      margin-bottom: 30px;
      }      
    }
  }

  ion-content {  
  background: #00d2ff !important;
  background: -webkit-linear-gradient(to top, #1f9eff, #00d2ff) !important;
  background: linear-gradient(to top, #1f9eff, #00d2ff) !important;
    &.ui-intagent {
    background: #FFF !important;
      
      
      h2.slide-title {
      color: #4D4D4D !important;
      }

      p {
      color: #656565 !important;
      }

      .formBlock .colBlock .button-block {      
      border: 2px solid #a40e18;
      background: #a40e18;
        &:hover {
        border: 2px solid lighten(#a40e18, 4%);
        background: lighten(#a40e18, 4%);
        }
        .button-inner {
        color: #FFF;
        }
      }
    }
    
    h2.slide-title {
    font-family: $font-two;
    font-size: 18px;
    font-weight: 600;
    color: #FFF;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    }

    p {
    font-family: $font-seven !important;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 1px;
    font-weight: 400;
    color: #FFF;
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    display: block;
    padding-top: 5px;
    }

  }

  .scroll-content {
  margin-top: 0px !important;
  overflow-y: hidden !important;
  }

  .swiper-slide {
  height: 75vh;    
  }

  .swiper-pagination-clickable {
    .swiper-pagination-bullet {
    background: #FFF;
    }
  }

  .formBlock {
  width: 100%;
  max-width: 400px;  
  height: 15vh;
  margin: -15vh auto 0 auto;
  // margin-top: -20vh;  
  z-index: 10;
  position: relative;
    .colBlock {
    width: 100%;
    max-width: 50%;
    float: left;
    display: inline-block;
      &:nth-child(1) {
      padding-right: 10px;
      }
      &:nth-child(2) {
      padding-left: 10px;
      }
      
      .button-block {
      font-family: $font-three;      
      letter-spacing: .8px;
      text-transform: uppercase;
      border-radius: 5px;
      border: 2px solid rgba(255, 255, 255, 0.6);
      background: transparent;      
      @extend %transition;
        &:hover, &:focus {
        color: #000;
        border: 2px solid #FFF;
        background: #FFF;
        }
      }

    }
  }

}
