page-home {

  [padding] .scroll-content {
  padding: 30px 20px !important;
  }

  ion-navbar {  
  display: none !important;
  }

  ion-content {  
  background: #00d2ff !important;
  background: -webkit-linear-gradient(to top, #1f9eff, #00d2ff) !important;
  background: linear-gradient(to top, #1f9eff, #00d2ff) !important;

    
    h2 {
    font-family: $font-five;
    font-size: 22px;
    font-weight: 400;
    color: #EEE;
    }

    p {
    font-family: $font-four;
    font-size: 14px;
    letter-spacing: .3px;
    font-weight: 400;
    line-height: 22px;    
    color: #FFF;
    opacity: .9;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    }

  }

  .scroll-content {
  margin-top: 0px !important;
  overflow-y: hidden !important;
  }

  .swiper-slide {
  height: 75vh;
    img {
    max-width: 200px;
    // max-width: 50%;
    }
  }

  .swiper-pagination-clickable {
    .swiper-pagination-bullet {
    background: #FFF;
    }
  }

  .formBlock {
  width: 100%;
  max-width: 400px;  
  height: 15vh;
  margin: -15vh auto 0 auto;
  // margin-top: -20vh;  
  z-index: 10;
  position: relative;
    .colBlock {
    width: 100%;
    max-width: 50%;
    float: left;
    display: inline-block;
      &:nth-child(1) {
      padding-right: 10px;
      }
      &:nth-child(2) {
      padding-left: 10px;
      }
      
      .button-block {
      font-family: $font-three;      
      letter-spacing: .8px;
      text-transform: uppercase;
      border-radius: 5px;
      border: 2px solid rgba(255, 255, 255, 0.6);
      background: transparent;      
      @extend %transition;
        &:hover, &:focus {
        color: #000;
        border: 2px solid #FFF;
        background: #FFF;
        }
      }

    }
  }

}
