.validationError{
    border: 0.3px solid !important;
    border-color:  red !important;
}
.error
{
color: red !important;
}
.conditions{
    padding: 12px;
  }
  
  .conditions ion-checkbox{
     float: left;
     margin-right: 8px;
  }
  
  .conditions ion-label{
    float: left;
    width: 70%;
  }