page-setup-option {

  ion-content {
    &.dashboardUI {
      &.colorEnabled {
        &.background_color {
        background: none;
          &:before {
          opacity: 1;
          }
        }
      }
    }
  }
  
  ion-content {
    &.dashboardUI {
      &:before {
      height: 145px;
      z-index: 1;
      }
      &:after {
      height: 100vh;
      }

    }
  }
}