page-setup-option {

  ion-content.dashboardUI {
    .dashboardBG {
    height: 15.5vh;
    z-index: 1 !important;
    }
  }

  ion-content {
    &.dashboardUI {
      &.colorEnabled {
        &.background_color {
        background: none;
          &:before {
          opacity: 1;
          }
        }
      }
    }
  }
  
  ion-content {
    &.dashboardUI {
      &:before {
      height: 145px;
      z-index: 1;
      }
      &:after {
      height: 100vh;
      }

    }
  }
}



/*IPAD LANDSCAPE */
@media (max-width: 1400px) {
page-setup-option {
  ion-content.dashboardUI {
    .dashboardBG {
    height: 22.5vh !important;
    }
  }
}
}