<!--
  Generated template for the SetupOptionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="dashboardUI">

  <ion-navbar hideBackButton="false">
    <!-- <button ion-button menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>Setup</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="dashboardUI noScroll colorEnabled background_color">
  <ion-list class="centerStage animated lightSpeedIn">
   
    <ion-item menuClose ion-item (tap)="openPage('10')" *ngIf="isGlobalPreference==true">
      Global Preferences
    </ion-item>
    <ion-item menuClose ion-item (tap)="openPage('23')" *ngIf="isOwner==true">
      Roles
    </ion-item>
    <ion-item menuClose ion-item (tap)="openPage('12')" *ngIf="isAgents==true">
      Users
    </ion-item>
    </ion-list>
</ion-content>
