page-chat-emoji-popupover {

  ion-content {
    &.dashboardUI {
      &.colorEnabled {
        &:before {
        opacity: 1;
        }
      }
    }
  }
  
  ion-header {
    .button-ios, .button-md, .button-wp {
    width: 34px;
    height: 34px;
    min-height: 34px;
    float: right;
    margin: 8px 10px 0 0;
    padding: 0;    
    border-radius: 50%;      
    background: rgba(0, 0, 0, 0.5) !important;
    @extend %transition;
      &:hover {
      background: rgba(0, 0, 0, 0.7) !important;
      }
    }
  }

  .contentTitle {
  padding: 0 0 25px 0;
  }

  .emojicon {
  width: 100%;
  max-width: 32px;
  height: auto;
  margin: 0 14px 8px 0;
  float: left;
  display: inline-block;
    img {
    width: 100%;
    max-width: 32px;
    height: 32px;
    cursor: pointer;
    }
  }

  ion-content {
    &.dashboardUI {
      .dashboardBG {
      height: 100vh;
      z-index: -1;
      }
      &:before {
      // height: 60vh;
      height: 100vh;
      z-index: 1;
      }
      &:after {
      height: 100vh;
      }
    }
  }

}