// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.menu-inner {
  .profileCard {
  width: 100%;
  display: block;
  padding: 0;
  margin: 0px !important;
  padding-bottom: 0px;
  box-shadow: none !important;
  background: none !important;
  border-bottom: none !important;
  position: relative;

    .profileCardInfo {
    padding: 35px 0 20px 0 !important;
    z-index: 2;
    position: relative;
    }
    .profileCardBG {
    width: 114%;
    height: 114%;
    top: -4%;
    right: -7%;
    left: -7%;
    position: absolute;
    display: block;
    overflow: hidden;    
    z-index: -2;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: grayscale(0%) blur(6px) brightness(100%) contrast(100%) hue-rotate(0deg) opacity(100%) invert(0%) saturate(100%) sepia(0%);
      
      &:before {
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      position: absolute;
      display: block;
      background: rgba(104, 104, 104, 0.25);
      }

      // &:before {
      // content: "";
      // width: 100%;
      // height: 105px;
      // top: 0;
      // right: 0;
      // left: 0;
      // z-index: -2;
      // position: absolute;
      // display: block;
      // background: url("https://s3-us-west-2.amazonaws.com/central-system/usr/e6395e5f5d11ac7a/assets/static/people/company_photoqNzP.jpg") no-repeat center center;
      // -webkit-background-size: cover;
      // -moz-background-size: cover;
      // -o-background-size: cover;
      // background-size: cover;
      // filter: grayscale(0%) blur(4px) brightness(100%) contrast(100%) hue-rotate(0deg) opacity(100%) invert(0%) saturate(100%) sepia(0%); 
      // }
      // &:after {
      // content: "";
      // width: 100%;
      // height: 105px;
      // top: 0;
      // right: 0;
      // left: 0;
      // z-index: -1;
      // position: absolute;
      // display: block;
      // background: rgba(0, 160, 255, 0.45);
      // }
    }

    .username {
    font-family: "Noto Sans";
    font-size: 18px;
    color: #FFF;
    font-weight: 700;

    margin: 20px 0 5px 0 !important;
    }
    .tagline {
    font-family: "Roboto";
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: .3px;
    color: #eee;
    }
  }

  .list-ios, .list-md, .list-wp {
    > .item-block:first-child, > .item-block:last-child {
    border-top: none !important;
    border-bottom: none !important;
    }

    .item-ios, .item-md, .item-wp {
    opacity: .98;
    border-left: 5px solid transparent;
    @extend %transition;
      &:hover {
      opacity: 1;
      border-color: #FFF;
      background: rgba(0, 0, 0, 0.15);
      // background: #1980b2;
      }
    }

    .item-block {
      &:nth-child(1) {      
        .input-wrapper {
          .label-ios, .label-md, .label-wp {
            &:before {
            background: url("../assets/icon/svg/nav-dashboard.svg") no-repeat center center !important;
            background-size: 100% !important;
            }
          }
        }
      }
      &:nth-child(2) {
        .input-wrapper {
          .label-ios, .label-md, .label-wp {
            &:before {
            background: url("../assets/icon/svg/nav-website.svg") no-repeat center center !important;
            background-size: 100% !important;
            }
          }
        }
      }
      &:nth-child(3) {
        .input-wrapper {
          .label-ios, .label-md, .label-wp {
            &:before {
            top: 2px;
            background: url("../assets/icon/svg/nav-contacts.svg") no-repeat center center !important;
            background-size: 92% !important;
            }
          }
        }
      }
      &:nth-child(4) {
        .input-wrapper {
          .label-ios, .label-md, .label-wp {
            &:before {
            background: url("../assets/icon/svg/nav-hotsheets.svg") no-repeat center center !important;
            background-size: 100% !important;
            }
          }
        }
      }
      &:nth-child(5) {
        .input-wrapper {
          .label-ios, .label-md, .label-wp {
            &:before {
            top: 2px;
            background: url("../assets/icon/svg/nav-chats.svg") no-repeat center center !important;
            background-size: 100% !important;
            }
          }
        }
      }
      &:nth-child(6) {
        .input-wrapper {
          .label-ios, .label-md, .label-wp {
            &:before {
            top: 2px; 
            background: url("../assets/icon/svg/nav-account.svg") no-repeat center center !important;
            background-size: 100% !important;
            }
          }
        }
      }
    }

    .item-inner {
    border-bottom: 0.55px solid rgba(255, 255, 255, 0.41);
    // border: none !important;
      .input-wrapper {
        .label-ios, .label-md, .label-wp {
        font-family: $font-six;
        font-size: 19px;
        font-weight: 500;        
        letter-spacing: 1.2px;
        margin: 11px 0;
        padding: 6px 0 6px 50px;
        position: relative;
        width: auto;
        display: table;
        flex: unset;
        overflow: visible;
        cursor: pointer;
          &:before {
          content: "";
          width: 34px;
          height: 34px;
          line-height: 35px;
          top: 1px;
          left: 0;
          display: block;
          text-align: center;
          position: absolute;
          background-position: center center;
          background: url("../assets/icon/svg/navigation/008.svg") no-repeat center center !important;
          background-size: 90% !important;
          }
        }
      }
    }
  }

}


#sidenav {

  ion-item-group[submenu] {
    overflow: hidden;
    display: block;
    height: 0;
    transition: height .3s linear;
    &.visible {
        height: inherit;
        // this is just sample value, calculate how much space you need for your menu items
    }
  }

  .msgcounter {
  color: #FFF;
  font-family: $font-three;
  font-size: 14px;
  padding: 2px 12px;
  height: 20px;
  line-height: 18px;
  display: inline-block;
  border-radius: 50px;  
  margin-left: 4px;
  position: absolute;
  top: 9px;
  right: -42px;  
  background: #3f719c;
  }

}

.menu-inner {

  .toolbar, .toolbar-md, .toolbar-wp, .toolbar-background {
  background: transparent !important;

    .toolbar-background-md, .toolbar-background-ios {
    border: none;
    background: none;
    }
  }

  .content {
  // background: #0D83DD;
  background: #00d2ff;
  background: -webkit-linear-gradient(to top, #1f9eff, #00d2ff);
  background: linear-gradient(to top, #1f9eff, #00d2ff);
  }

  .item {
  color: #FFF;
  background: none;
  }
}

// tabbar bg
.tabs {
  .tabbar {
  background: #F4F5F7;
    .tab-button-icon {
      &.ion-ios-chatboxes-outline, &.ion-md-chatboxes-outline, &.ion-wp-chatboxes-outline {
        &:before {
        content: "";
        width: 50px;
        height: 32px;
        display: block;
        background: url("../assets/icon/svg/chat-dashboard/011.svg") no-repeat center center !important;
        background-size: 72% !important;
        }
      }
    }
  }
}


.noScroll {
  .scroll-content {
  overflow-y: hidden !important;
  }
}

.custom-avatar {
height: 100px;
width: 100px;
border-radius: 50%;
display: inline-block;  
margin: 12px auto 0 auto;
background: none;
// box-shadow: 0 0 0 8px rgba(5, 23, 36, 0.25);
box-shadow: 0 0 0 6px #FFF;
}

.company-logo {
  &:before {
  content: '';
  width: 81px;
  height: 30px;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  background: url("../assets/imgs/idx-logo2.png") no-repeat center center;
  background-size: 90%;
  }
}

.toolbar-background-ios, .toolbar-background-md, .toolbar-background-wp {
background-color: $color-1;  
}

.bar-button-default-ios, .bar-button-default-md, .bar-button-default-wp {
color: $color-2 !important;
}

.hidden {
display: none;
}

.contentTitle {
font-family: $font-one;
font-weight: 300;
font-size: 18px;
padding: 12px 15px;
margin: 0;
color: #FFF;
letter-spacing: 1px;
text-align: center;
background: $title-bg;
}

ion-icon {
  &.light {
  opacity: .3;
  }
}

ion-header {
  &.header-md, &.header-wp {
    &:after {
    background: none;
    }
  }
}

ion-header {
  &.dashboardUI {

    .toolbar-background-ios, .toolbar-background-md, .toolbar-background-wp {
    background-color: transparent;
    background: transparent;
    }

    .back-button {
      .button-inner {      
        .icon-ios, .icon-md, .icon-wp {
        font-size: 38px !important;
        margin-left: 10px !important;
          &:before {
          content: "\f117" !important;
          }
        }
        .back-button-text {
        display: none !important;
        }
      }
    }

    ion-navbar {
      .toolbar-background {      
      border: none !important;        
      }

      .back-button-ios, .back-button-md, .back-button-wp {
      font-family: $font-four;
      font-size: 16px;
      font-weight: 400;
      color: #F7F7F7;
        .button-inner {
          .back-button-text-ios, .back-button-text-md, .back-button-text-wp {
          letter-spacing: .3px;
          }
        }
      }

      .back-button-icon-ios, .back-button-icon-md, .back-button-icon-wp {
      font-size: 24px;
      font-weight: 400;
      }

      ion-title {
        .toolbar-title {
        font-family: $font-four;
        font-size: 16px;
        font-weight: 400;
        color: #F7F7F7;
        text-align: center;
        letter-spacing: .5px;
        }
      }
      .bar-buttons {      
      font-family: $font-four;
      font-size: 16px;
      font-weight: 400;
      color: #FFF;
      text-align: center;
      letter-spacing: .5px;
        .button-inner {        
        font-size: 16px;
        font-weight: 400;
        letter-spacing: .3px;
          .icon-ios, .icon-md, .icon-wp {
          font-size: 24px;
          font-weight: 400;
          margin-right: 6px;
          }
        }
      }
    }
  }
}

ion-content {
  &.dashboardUI {
  font-family: $font-three;
  position: relative;
  background: #00d2ff;
  background: -webkit-linear-gradient(to top, #1f9eff, #00d2ff);
  background: linear-gradient(to top, #1f9eff, #00d2ff);
    &:before {
    content: "";
    width: auto;
    height: 35vh;
    left: 0;
    right: 0;
    top: 0;
    display: block;
    position: absolute;
    background: #00d2ff;
    background: -webkit-linear-gradient(to bottom, #3863FD, 30%, #3BD6F4);
    background: linear-gradient(to bottom, #3863FD, 30%, #3BD6F4);
    }
    &:after {
    content: "";
    width: auto;
    height: 65vh;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    position: absolute;
    background: #EBF0F5;
    }
    
    .chip-ios, .chip-md, .chip-wp {
    width: 100%;
    display: block;
    text-align: center;
    border-radius: 6px;
    height: auto;
    margin: -16px 0 8px 0;
    padding: 0;
    line-height: 100%;
    color: #FFF;
      ion-label {
      width: 100% !important;
      display: block !important;
      font-size: 12px !important;
      letter-spacing: .4px;
      padding: 12px 8px !important;
      margin: 0px !important;
      color: #EEE !important;
      text-transform: unset;
      }
      h1, h2, h3, h4, h5 {
      font-family: $font-three;
      font-size: 12px !important;
      margin: 0 !important;      
      display: block;
      }
    }
    

    .formShadow {
    border-radius: 6px;
    box-shadow: -1px 0px 18px 1px rgba(41, 81, 123, 0.15);
      .ion-item, .customList {
      box-shadow: none !important;
      }        
    }

    .error {
    position: absolute;
    margin-left: 2px;
    }

    * {
    font-family: $font-three;
    font-size: 14px;
    color: #696D72;
    }

    ::placeholder {
    letter-spacing: .3px;
    color: #222;
    opacity: .3;
    text-shadow: none;
    }

    .contentTitle {
    font-family: $font-three;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: .8px;
    padding: 15px 0;
    text-align: left;
    background: none;
    color: #FAFAFA;
    // text-transform: uppercase;
    }

    .label-ios, .label-md, .label-wp {
    margin: 16px 8px 16px 0;
      &[stacked] {
      margin-bottom: 6px !important;
      }
    }

    .select-ios, .select-md, .select-wp {
    padding-top: 14px;
    padding-bottom: 14px;
    }

    ion-list {    
    overflow: hidden;
    border-radius: 6px;
    box-shadow: -1px 0px 18px 1px rgba(41, 81, 123, 0.15);
      &.noShadow {
      overflow: visible !important;
      box-shadow: none !important;
      }
    }

    ion-item {
      &:first-child {
      // padding-top: 10px;
      border-radius: 6px 6px 0 0;      
      border-top: none !important;
      }
      &:last-child {
      // padding-bottom: 10px;
      border-radius: 0 0 6px 6px;      
      border-botom: none !important;
      }              
    }

    .list-ios, .list-md, .list-wp {    
      .item-block {
      padding-right: 16px;
        &:last-child {
        border-bottom: none !important;
        }
      }      
    }

    .noBorder {
      .item-inner {
      border-bottom: none !important;
      }
    }
  }

  &.generalInfoUI {
  font-family: $font-three;
  position: relative;
  background: #00d2ff;
  background: -webkit-linear-gradient(to top, #1f9eff, #00d2ff);
  background: linear-gradient(to top, #1f9eff, #00d2ff);
    &:before {
    content: "";
    width: auto;
    height: 30vh;
    left: 0;
    right: 0;
    top: 0;
    display: block;
    position: absolute;
    background: #00d2ff;
    background: -webkit-linear-gradient(to bottom, #3863FD, 30%, #3BD6F4);
    background: linear-gradient(to bottom, #3863FD, 30%, #3BD6F4);
    }
    &:after {
    content: "";
    width: auto;
    height: 70vh;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    position: absolute;
    background: #FFF;
    }
    .contentTitle {
    font-family: $font-four;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: .5px;
    padding: 32px 0 0 0;
    text-align: left;
    background: none;
    color: #77777b;
    text-transform: uppercase;
    }
    .label-ios, .label-md, .label-wp {
    margin: 16px 8px 16px 0;
      &[stacked] {
      margin-bottom: 6px !important;
      }
    }

    .select-ios, .select-md, .select-wp {
    padding-top: 14px;
    padding-bottom: 14px;
    }

    ion-list {
    border-radius: 0px;
    box-shadow: none;
    border: none !important;      
    }

    ion-item {
      &:first-child, &:last-child {
      border-radius: 0;
      box-shadow: none !important;
      border: none !important;
      }
      &.item-ios, &.item-md, &.item-wp {
      padding-left: 0px;
      background: transparent;
        ion-icon {
        font-size: 26px;        
        color: #CDCDCD;
        }
        h2 {
        font-size: 16px;
        }
        p {
        font-family: $font-three;
        font-size: 14px;
        letter-spacing: .5px;        
        }
      }
    }

    .list-ios, .list-md, .list-wp {
      .item-block {
        &:last-child {
        border-bottom: none !important;
        }
        .item-inner {
        border: none;
        }
      }      
    }
  }

  .dashboardBtn {
  padding: 20px 0 8px 0;
    .button-default {
    width: 100%;
    min-height: 46px;
    font-family: $font-four;    
    color: #FFF;    
    margin: 0;
    // background: #1B7CFE;
    // background: -webkit-linear-gradient(to right, #1B7CFE, 30%, #45B7FE);
    // background: linear-gradient(to right, #1B7CFE, 30%, #45B7FE);
    background: #58ABF7;
    background: -webkit-linear-gradient(to right, #42a2f9, #59ebf2);
    background: linear-gradient(to right, #42a2f9, #59ebf2);
    @extend %transition;
      .button-inner {
      font-size: 18px;
      font-weight: 500;
      color: #FFF;
      letter-spacing: 1px;
      }
      &:hover {
      @extend %transition;
      background: #58ABF7;
      background: -webkit-linear-gradient(to right, darken(#42a2f9, 6%), darken(#59ebf2, 12%));
      background: linear-gradient(to right, darken(#42a2f9, 6%), darken(#59ebf2, 12%));
      }
    }
  }

  ion-app {
    &.ios, &.md, &.wp {
      [padding] .scroll-content {
      padding: 20px;
      margin-bottom: 50px !important;
      }
    }
  }

}

.tabs {
  .tabbar {
  border-top: 1px solid #E6E7E9;
  background: #FEFEFE;
  box-shadow: none !important;
  }
  &.tabs-ios, &.tabs-md, &.tabs-wp {

    .tab-button {
      .tab-button-icon {
      height: auto;
      font-size: 38px;
      margin-top: 5px;
      margin-bottom: 2px;
      color: #b3adad;
      }
    }

    .tab-button[aria-selected=true] {
      .tab-button-icon {
      color: #7f7f7f;
      }
    }

    .tab-button-text {
    font-family: $font-two !important;
    font-size: 10px !important;
    letter-spacing: .5px;
    color: #7F7F7F;
    opacity: .9;
    // display: none !important;
    }
  }

  .customList {
    &.roundTop {
    border-radius: 6px 6px 0 0 !important;
    }
    padding: 16px;
    background: #FFF;
    border-radius: 6px;
    box-shadow: -1px 0px 18px 1px rgba(41, 81, 123, 0.15);
      ion-label {
        &:first-child {
        margin-top: 6px !important;        
        }
      }
  }

  .customList {
    .list-ios, .list-md, .list-wp {
    background: #FFF !important;
    }
  }

}

.has-refresher > .scroll-content {
border: none !important;
}

.select2-results__option[aria-selected], .select2-results__option {
font-family: $font-three !important;
}


ion-icon {
  &:before {
  font-family: "Ionicons";
  }
}

.list-ios, .list-md, .list-wp {
  ion-item-options {
    .button {
      &.button-ios-primary, &.button-ios-md, &.button-ios-wp {
        .button-inner {
        min-width: 45px;
        text-align: center;
        }
      }
    }
  }
}

.expandText {
  &.h45 {
    .text-input {
    height: 58px;;
    }
  }

  .text-input {
  height: 98px;
  font-size: 12px;
  line-height: 20px;
  text-overflow: unset;
  border-radius: 2px;
  white-space: normal;
  margin: 11px 0px !important;
  padding: 8px 10px !important;
  background: #e9eef6;
  }  
}

ion-item-sliding {
  ion-item-options {
    .roundedOption {
      &.btn-settings {
      background: #1C7BCE;
      }
    }
  }
}

ion-content.dashboardUI {
    .uploadPhoto {    
      .item-block {
        &.imageUploaderLabel {
        padding-right: 0px;
        margin-right: 0px;
          .item-inner {
          width: 100%;
          max-width: 100%;
          margin-left: 0px !important;
          padding-left: 0px !important;
          margin-right: 0px !important;
          padding-right: 0px !important;          
          }
        }
      }

      .uploaderBtn {
      width: 100% !important;
      padding: 5px !important;
      height: auto !important;
      overflow: hidden;
      display: block;
      border: 2px dashed #d4d4d4 !important;
      margin: 16px 0 0 0;      
      position: relative;
        &:before {
        content: "";
        width: 25px !important;
        height: 15px !important;        
        top: 2px;
        left: 2px;
        display: block;
        z-index: 100;
        position: absolute;
        background: #FFF;
        }
      
        input[type="file"] {
        width: 100% !important;
        height: 110px !important;
        font-size: 0px !important;
        line-height: 0px !important;
        box-sizing: border-box !important;
        padding: 0px !important;
        margin: 0 !important;        
        position: relative !important; 
        display: block !important;
        border: none !important;
        outline: none !important;
        background-color: #FFF !important;
          &:before {
          content: "";
          width: 50px;
          height: 40px;
          top: 10px;
          left: 0;
          right: 0;
          margin: 0 auto;
          position: absolute;
          display: block;
          opacity: .65;
          background: url("../assets/icon/svg/upload/cloud-upload.png") no-repeat center center;
          background-size: 100% !important;
          }
          &:after {
          content: "Choose files to Upload";        
          width: 240px;
          height: 36px;
          line-height: 36px;
          display: table;
          font-family: $font-three;
          font-size: 15px;
          font-weight: 400;
          letter-spacing: .4px;
          color: #FFF;
          text-align: center;
          padding: 0 25px;
          position: absolute;        
          bottom: 10px;
          left: 0;
          right: 0;
          margin: 0 auto;
          border-radius: 4px;        
          cursor: pointer;
          box-sizing: border-box;
          border: 1px solid #4D8F2F;        
          background: #77B55D;
          @extend %transition;            
          }
        }
      }

      .imgCropperPreview {
      width: 100%;
      height: auto;      
        span.ng2-imgcrop {
        font-size: 0px;
        line-height: 0px;
        }
        canvas {
        width: 280px !important;
        height: 200px !important;
        margin: 10px auto 0 auto;
        display: block;
        }        
      }

      .imgCropperPreviewResult {
      width: 100%;
      height: auto;
      padding: 20px 0 10px 0;
      margin: 0;
      position: relative;
        img {
        width: auto;
        height: auto;
        display: table;
        margin: 0 auto;
        padding: 0;
        }
      }

    }
  }

.additionalOption {
padding: 0 16px;
  
  .list-header {
  padding: 0;
  margin: 2px 0 16px 0;
  }

  .item-toggle {
  font-size: 14px;
  padding: 0;
  margin: 0 0 16px 0;
    .item-inner {
    padding-right: 0px;
    margin: 0px;
    }
  }

  .imgCropper {
  margin: 15px 0;
  display: block;    
  }

  .cropPreview {
    .cropPreviewLabel {    
    text-transform: uppercase;    
    font-size: 13px;
    letter-spacing: .8px;    
    color: #000;
    padding: 5px 8px;
    display: table;
    border-radius: 2px;
    margin: 25px auto 0 auto;
    background: #e2e2e2;
    }
    img {
    border: 1px solid #DDD;
    padding: 5px;
    margin: 10px auto;
    display: table;
    background: #FFF;
    }
  }  
}

.toggleImageEdit {
display: none !important;
}

.uploadPhoto {
  .HotSheetImageUploader {
  width: 100%;
  min-height: 210px;
  position: relative;
    &:before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background: url("../assets/imgs/noImageAvailable.jpg") no-repeat center center #F5F5F5;    
    }    
  }

  .imgCropperPreview {
  display: block !important;
  }

  .ImageCropperOption {
  padding: 10px 16px 0 16px !important;  
    &.last {
    padding: 0 0 10px 0 !important;  
    border-radius: 0 0 6px 6px !important;
      .item-inner {
      border-bottom: none !important;
      }
    }

    .item-toggle {
    margin-top: 10px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    border-radius: 0px !important;
    border: none !important;
      .item-inner {
      padding-right: 0px !important;
      }
    }
  }

  .imgCropperPreviewResult {
  padding: 0px !important;
  }

  .btnUpload {    
  width: 100px;
  height: 32px;
  z-index: 10;
  font-size: 0px;
  padding: 4px;
  border-radius: 4px;
  bottom: 10px;
  right: 10px;
  position: absolute;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  // border: 1px solid #4D8F2F;
  background: #77B55D;
    &:before {
    content: "";
    width: 18px;
    height: 8px;
    display: block;
    top: 3px;
    left: 3px;
    z-index: 20;
    position: absolute;
    background: #77B55D;
    }
    &:after {
    content: "Upload";
    width: auto;
    heigh: 32px;
    font-family: $font-three;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .8px;
    color: #FFF;
    text-align: center;
    padding: 3px 0 0 5px;
    position: absolute;
    }
  }

}

.segment-button {  
color: $flatblue !important;
border-color: $flatblue !important;
@extend %transition;
  &.segment-activated {
  color: #FFF !important;
  border-color: $flatblue !important;
  background-color: $flatblue !important;
    &:hover {
    color: #FFF !important;
    }
  }
  &:hover {
  color: #FFF !important;
  color: $flatblue !important;
  }
}

.successToast, .errorToast {
  .toast-wrapper {
  text-transform: capitalize !important;
  font-size: 12px !important;
  margin-top: 9vh !important;
  opacity: 0.75;
  border-radius: 5px !important;
  text-align: center;  
  }
}

.successToast {
  .toast-wrapper {
  background: color($colors, secondary) !important;
  }
}

.errorToast {
  .toast-wrapper {  
  background: color($colors, danger) !important;  
  }
}

ion-app.md [padding] .scroll-content {
overflow: auto !important;
}


  .list-header {
    .item-inner {
      .input-wrapper {
        .label {
        padding-left: 16px !important;
        }
      }
    }
  }


/*CUSTOM DESKTOP */
@media (min-width: 1101px) and (max-width: 2560px) {
  
  ion-content.dashboardUI {  
    .scroll-content {    
      form, .centerStage {
      width: 100%;
      max-width: 1000px;
      margin-left: auto !important;
      margin-right: auto !important;
      // overflow: auto;
      }      
    }
  }

  // .split-pane-md.split-pane-visible > .split-pane-side {
  // min-width: 100px;
  // max-width: 100px;  
  // }

  // .menu-inner {
  //   .profileCard {
  //     .profileCardInfo {
  //       .username {
  //       opacity: 0;
  //       }
  //       .custom-avatar {
  //       width: 70px;
  //       height: 70px;
  //       box-shadow: 0 0 0 4px #FFF;
  //       }
  //     }
  //   }
  //   .list-ios, .list-md, .list-wp {
  //     .item-inner {
  //       .input-wrapper {
  //         .label-ios, .label-md, .label-wp {
  //         font-size: 0px;
  //         min-height: 35px;
  //         margin-left: 10px;
  //         }
  //       }
  //     }
  //   }
  // }

  // #sidenav {
  //   .msgcounter {
  //   opacity: 0;
  //   }
  // }

  ion-app.md [padding] .scroll-content {
  overflow: auto;
  }

}
