<ion-split-pane>
<ion-menu [content]="content" persistent="true">
  <ion-header>
    <ion-toolbar class="company-logo">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="noScroll">
    
    <ion-card text-center class="profileCard" *ngIf="userLoggedIn==true&&userGeneralInfo!=null"  (tap)="openPage('26')" >
    <!--<img src="../assets/imgs/profile-photo.jpg" class="custom-avatar"/>-->
    <img src={{this.sharedServiceObj.imgBucketUrl}}{{userGeneralInfo.photo_company}} class="custom-avatar" 
    *ngIf="userGeneralInfo.photo_company!=null&&userGeneralInfo.photo_company!=undefined&&userGeneralInfo.photo_company!=''"/>
          <img src={{noImgUrl}} class="custom-avatar" 
          *ngIf="userGeneralInfo.photo_company==null||userGeneralInfo.photo_company==''"/>
    <h2 class="username">{{userGeneralInfo.identity_name}}</h2>
    <p class="tagline">Let your fingers do the walking.</p>
    </ion-card>

    <ion-list id="sidenav" class="app-menu disable-user-behavior">
   
      <ion-item menuClose ion-item (tap)="openPage('1')" 
      *ngIf="userLoggedIn==false">
        Home
      </ion-item>
      <ion-item menuClose ion-item (tap)="openPage('2')" 
      *ngIf="userLoggedIn==false">
        Login
      </ion-item>
      <ion-item menuClose ion-item (tap)="openPage('3')" 
      *ngIf="userLoggedIn==false">
        Register
      </ion-item>
      <ion-item menuClose ion-item (tap)="openPage('4')" 
      *ngIf="userLoggedIn==true&&paidStatus==true&&isDashboard==true">      
        Dashboard
      </ion-item>
      <ion-item menuClose ion-item (tap)="openPage('5')" 
      *ngIf="userLoggedIn==true&&paidStatus==true&&isWebsites==true">      
        Websites
      </ion-item>
      <ion-item menuClose ion-item (tap)="openPage('6')" 
      *ngIf="userLoggedIn==true&&paidStatus==true&&isLeads==true">      
        Leads
      </ion-item>
      <ion-item menuClose ion-item (tap)="openPage('7')" 
      *ngIf="userLoggedIn==true&&paidStatus==true&&isHotSheets==true">      
        HotSheets
      </ion-item>
      <!--<ion-item menuClose ion-item (tap)="openPage('23')" 
      *ngIf="userLoggedIn==true&&paidStatus==true&&isRoles==true">      
        Roles
      </ion-item>-->
      <!--<ion-item no-lines menuClose ion-item (tap)="openPage('8')" *ngIf="userLoggedIn==true">      
        Setup
      </ion-item>-->
      <!--<ion-item menuClose ion-item (tap)="openPage('9')" 
      *ngIf="userLoggedIn==true&&paidStatus==true&&isAccount==true">-->
      <ion-item menuClose ion-item (tap)="openPage('9')" *ngIf="userLoggedIn==true&&paidStatus==true">
        Account
      </ion-item>
     
      <ion-item no-lines menuClose ion-item (tap)="logOut()" *ngIf="userLoggedIn==true&&paidStatus==false">
        <ion-icon name="undo" item-start></ion-icon>
        LogOut
      </ion-item>
    
    </ion-list>
  </ion-content>

</ion-menu>

  <ion-nav [root]="rootPage" main #content swipeBackEnabled="false"></ion-nav>
</ion-split-pane>