<!--
  Generated template for the LeadDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle start>
            <ion-icon name="menu"></ion-icon>
          </button>
      <ion-title>Lead Detail</ion-title>
      <ion-buttons end>
        <button ion-button (click)="editLead();" *ngIf="isEditLeadAccess==true">Edit Lead</button>
      </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
      <ion-item><ion-avatar item-start *ngIf="leadDetail!=undefined">
          <!--<img src={{leadDetail.image_url}} *ngIf="leadDetail.image_url!=null"/>
          <img src={{noImgUrl}} *ngIf="leadDetail.image_url==null"/>-->
          <img src="{{leadDetail.image_url}}" class="custom-avatar" 
                      (error)="imgLead.src = this.sharedServiceObj.noImageUrl" #imgLead/>
        </ion-avatar></ion-item>
          <ion-item *ngIf="leadDetail!=undefined"><h2>{{leadDetail.first_name}} {{leadDetail.last_name}}</h2></ion-item>
          <ion-item *ngIf="leadDetail!=undefined"><p>Email:{{leadDetail.email}}</p></ion-item>
          <ion-item *ngIf="leadDetail!=undefined"><p>Website:{{leadDetail.website}}</p></ion-item>
          <ion-item *ngIf="leadDetail!=undefined"><p>Phone Mobile:{{leadDetail.phone_mobile}}</p></ion-item>
      <ion-item *ngIf="leadDetail!=undefined"><p>Phone Office:{{leadDetail.phone_office}}</p></ion-item>
      <ion-item *ngIf="leadDetail!=undefined"><p>Phone Home:{{leadDetail.phone_home}}</p></ion-item>
      <ion-item *ngIf="leadDetail!=undefined"><p>Home Address:{{leadDetail.home_address}}</p></ion-item>
      <div>
        <div #mapHome id="mapHome" style="width:100%;" [style.height]="map_home_height+'px'"></div>
    </div>
      <ion-item *ngIf="leadDetail!=undefined"><p>Work Address:{{leadDetail.work_address}}</p></ion-item>
      <div>
        <div #mapWork id="mapWork" style="width:100%;" [style.height]="map_work_height+'px'"></div>
    </div>
      <ion-item *ngIf="leadDetail!=undefined"><p>Internal Notes:{{leadDetail.internal_notes}}</p></ion-item>

    </ion-list>
   
  
    <ion-segment [(ngModel)]="leadsDetailSegment" color="primary" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="1">
          Saved Searches
        </ion-segment-button>
        <ion-segment-button value="2">
            Saved Listing
        </ion-segment-button>
        <ion-segment-button value="3">
            Hotsheet Subscribed
          </ion-segment-button>
      </ion-segment>
      <ion-list *ngIf="selectedSegment=='1'">
      <ion-item *ngFor="let saved_search of saved_searches">
        <h2>{{saved_search.search_name}}</h2>
          
        </ion-item>
      </ion-list>
      <ion-list *ngIf="selectedSegment=='2'">
          <ion-item *ngFor="let saved_listing of savedListings">
              
            <ion-avatar item-start>
                <img src="{{saved_listing.url}}" class="custom-avatar" 
                (error)="imgListing.src = this.sharedServiceObj.noImageUrl" #imgListing/>
              <!--<img [src]="saved_listing.url" *ngIf="saved_listing.url!=''"/>
              <img src="././assets/imgs/noImage.png" *ngIf="saved_listing.url==''"/>-->
            </ion-avatar>
              <h2 *ngIf="saved_listing.listing_type=='for_sale'">For Sale</h2>
            <h2 *ngIf="saved_listing.listing_type=='for_rent'">For Rent</h2>
              <p>Price:${{saved_listing.price}}</p>
              <p>Description:{{saved_listing.description}}</p>
            </ion-item>
            
      </ion-list>
      <ion-list *ngIf="selectedSegment=='3'">
          <ion-item *ngFor="let subscribed_hotsheet of subscribed_hotsheets">
            <h2>{{subscribed_hotsheet.name}}</h2>
              
            </ion-item>
      </ion-list>
</ion-content>
