page-lead-detail {

  .toolbar-title {
  width: auto;
  display: table;
  margin: 0 auto;
  padding: 0 10px 0 0;
    .userStatus {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 5px 6px 0 0;
    float: left;
    display: inline-block;
    position: relative;    
      &:before {
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 50%;
      position: absolute;      
      }
      &.userstatus-online {
        &:before {
        background-color: #14f637;  
        }
      }
      &.userstatus-offline {       
        &:before {
        background-color: #eb4137;
        }
      }
    }
  }

  ion-content.generalInfoUI {

    ion-item {
      &.item-ios, &.item-md, &.item-wp {
        ion-icon {
        color: #777 !important;
        }
      }
    }
  
    .scroll-content {
    padding: 0px !important;
    }

    .contentTitle {
    font-family: $font-three !important;
    font-size: 16px;    
    color: #787c82;
    text-transform: none;
    margin: 0;
    padding: 0px 0 12px 0 !important;    
    }


    ion-list.leadHotsheetName {
    width: 100%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
      .contentTitle {
      padding-bottom: 0px !important;
      }
    }

    ion-list.leadSearchName, ion-list.leadHotsheetName {
    width: 100%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px !important;
    box-shadow: none !important;
    background: #FFF !important;
    margin-bottom: 10px !important;
      
      .contentTitle {
      padding-bottom: 0px !important;
      }

      .item-block {
      border-bottom: 1px solid #ebe9f0 !important;
      }
      .item-inner {      
      padding-right: 0px;
        .input-wrapper {
        padding: 0 16px;
          .label-ios, .label-md, .label-wp {
          margin:  16px 0;
          padding: 2px 0 0 0;
          position: relative;
          overflow: visible;
            
            h2 {
            font-size: 16px;
            color: #787c82;
            }

            p {
            font-size: 12px;
            line-height: 19px;
            text-overflow: unset;
            white-space: normal;             
              &:last-child {          
              padding: 8px 0 0 0;
              max-height: 60px;
              overflow: hidden;
              }
            }
          }
        }
      }
    }

    ion-list.leadListings {
    width: 100%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px !important;
    box-shadow: none !important;
    background: #FFF !important;
    margin-bottom: 0px !important;

      .contentTitle {
      font-family: "Varela Round" !important;
      font-size: 16px;
      color: #787c82;
      text-transform: none;
      padding: 14px 16px !important;
      border-bottom: 2px solid $color-6;
      }
      
      .item-block {
      border-bottom: 1px solid #ebe9f0 !important;
      }

      ion-avatar {
      // margin-top: -2px !important;
      padding-left: 16px;
        img {
        width: 80px;
        height: 60px;
        border-radius: 1px !important;
        }
      }

      .item-inner {      
      padding-right: 0px;
        .input-wrapper {
        padding: 0 16px 0 0;
          .label-ios, .label-md, .label-wp {
          margin:  16px 0 10px 0;
          position: relative;
          overflow: visible;
            h2 {
            top: 0;
            right: 0;
            text-align: right;
            position: absolute;
            border-radius: 10px;
            padding: 0 12px;
            height: 20px;
            line-height: 22px;            
            text-align: center;            
            font-size: 1.3rem;
            font-weight: bold;            
            white-space: nowrap;
            vertical-align: baseline;
            font-family: $font-three;
            font-size: 11px;
            font-weight: 400;
            color: #FFF;
            box-sizing: border-box;            
            background: #737d8d;            
              &.forSale {
              background: #f05756;
              }
              &.forRent {
              background: #3ca1d3;
              }
            }

            p {
            font-size: 12px;
            line-height: 17px;
            text-overflow: unset;
            white-space: normal;        
            color: #3c3d3f !important;
              // &:last-child {          
              // padding: 8px 0 0 0;
              // max-height: 60px;
              // overflow: hidden;
              // }
            }

            .streetAddress {}

            .lsPrice {
            font-size: 13px;
            letter-spacing: .5px;
            // top: 0;
            // right: 0;
            // text-align: right;
            // position: absolute;
            // border-radius: 10px;
            // padding: 0 12px;
            // height: 20px;
            // line-height: 22px;
            // text-align: center;
            // font-size: 1.3rem;
            // font-weight: bold;
            // white-space: nowrap;
            // vertical-align: baseline;
            // font-family: $font-three;
            // font-size: 11px;
            // font-weight: 400;
            // color: #FFF !important;
            // -webkit-box-sizing: border-box;
            // box-sizing: border-box;
            // background: #737d8d;
            }

            .lsInfo {
            // margin-top: -4px;
              span {
              height: 16px;
              line-height: 18px;
              color: #3c3d3f !important;
              width: auto;
              float: left;              
              display: inline-block;
              font-family: $font-three;
              font-size: 12px !important;
              letter-spacing: .5px;
              margin: 2px 15px 0 0;
              padding-left: 20px;
              position: relative;
                &:before {
                content: "";
                width: 16px;
                height: 16px;
                top: 0;
                left: 0;
                position: absolute;
                display: block;
                opacity: .65;
                }

                &.bed {
                  &:before {
                  background: url("../assets/icon/svg/listing/020.svg") no-repeat center center !important;
                  background-size: 90% !important;
                  }
                }

                &.bath {
                  &:before {
                  background: url("../assets/icon/svg/listing/012.svg") no-repeat center center !important;
                  background-size: 80% !important;
                  }
                }

                &.sqft {
                  &:before {
                  background: url("../assets/icon/svg/listing/004.svg") no-repeat center center !important;
                  background-size: 90% !important;
                  }
                }

              }
            }
          }
        }
      }
    }

    ion-list.leadNotes, ion-list.leadsSavedInfo, ion-list.leadAddress {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    border-radius: 4px !important;    
    background: #FFF !important;
    // box-shadow: -1px 0px 16px rgba(41, 81, 123, 0.15) !important;
    box-shadow: none !important;
    margin-bottom: 2px !important;
    border-bottom: 1px solid #ebe9f0 !important;


      h2 {
      font-size: 12px !important;
      // color: #b0b1b2 !important;
      color: #777 !important;
      }

      .item-inner {
      padding-right: 0px !important;      
        .input-wrapper {
        padding: 0 16px;
          .label-ios, .label-md, .label-wp {
          margin:  16px 0 10px 0;
            .contentTitle {
            font-family: $font-three;
            font-size: 16px;
            color: #787c82;
            }
            p {
            font-family: $font-three;
            font-size: 13px;
            height: auto;
            letter-spacing: .5px;
            border-radius: 2px;
            padding: 12px 10px;
            margin: 0px;            
            text-overflow: unset;
            white-space: normal;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;            
            border: 1px dashed #e6e6e7;
            background: #f3f4f6;
            }
          }
        }
      }
    }

    ion-list.leadsSavedInfo {    
    border-bottom: none !important;
      .item-inner {
        .input-wrapper {
          .label-ios, .label-md, .label-wp {
          margin-bottom: 0px !important;
          padding-bottom: 0px !important;
          }
        }
      }
    }

    ion-list.leadAddress {
      .item-inner {
        .input-wrapper {
          .label-ios, .label-md, .label-wp {
            p {
            width: 100%;
            max-width: 60%;
            padding: 0px;
            border: none;
            background: pink;
            }
          }
        }
      }
    }

    ion-list.leadsInfo {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    border-radius: 5px !important;
    padding: 6px 0 0 0 !important;    
    background: #FFF !important;
    // box-shadow: -1px -1px 8px rgba(41, 81, 123, 0.12) !important;    
    box-shadow: none !important;
    margin-bottom: 0px !important;
    // border-bottom: 1px solid #ebe9f0 !important;

      ion-item {
      position: relative;
        
        .label-ios, .label-md, .label-wp {
        padding-bottom: 0px;
        // margin-bottom: 8px;
        }

        h2 {
        color: #353535;
        margin: 0 0 1px 0;
        }

        p {
        font-size: 14px !important;
        // color: #3c3d3f !important;
        color: $flatblue !important;
        line-height: 22px;
        letter-spacing: .5px;
        text-overflow: unset;
        white-space: normal;        
        }

        a {
        color: $flatblue !important;
        }

        &.leadsEmail {
        padding-left: 16px;
        border-bottom: 1px solid #ebe9f0 !important;
          // ion-icon {
          // font-size: 30px;
          // margin-top: -2px;
          // }
        }

        &.leadsWebURL  {
        padding-left: 16px;
        border-bottom: 1px solid #ebe9f0 !important;
          // ion-icon {
          // font-size: 26px;
          // margin-top: 2px;
          // }
        }
        &.leadsPhone1, &.leadsPhone2, &.leadsPhone3 {
        padding-left: 16px;
        border-bottom: 1px solid #ebe9f0 !important;
          ion-icon {
          font-size: 24px;          
          }
        }
        
        &.leadsHomeAddress {
        padding-left: 16px;        
        border-bottom: 1px solid #ebe9f0 !important;
          ion-icon {
          font-size: 26px;
          // margin-top: -12px;
          }          
          p {
          // min-height: 42px;
          }
        }

        &.leadsWorkAddress {
        padding-left: 16px;
          ion-icon {
          font-size: 24px;
          // margin-top: -12px;
          }          
          p {
          // min-height: 42px;
          }
        }

      }     

      // .leadsWorkAddressMap {
      //   #mapWork {        
      //   margin-top: 10px;
      //   border: 8px solid $color-6;
      //     &:empty {
      //     display: none;
      //     }
      //   }
      // }

    }
    .chatBoxSection {
      width:100%;
      z-index: 5;
      position: relative;
      // padding: 1.5em .9em;
      padding: 1.5em .9em 1.5em 0;
      overflow:hidden;
      display:flex;
      // max-height: 56px;
      // background: red;
      background: #FFF;
        .chatbox-container {
        flex: 1 1 auto;
          .chatbox-box {
          height: auto;
          min-height: 31px;
          max-height: 47px;
          font-family: $font-three;
          font-size: 13px;
          line-height: 17px;
          padding: 6px 18px 5px 18px;
          overflow: hidden;
          text-overflow: unset;
          white-space: normal;
          box-sizing: border-box;
          border-radius: 50px;      
          border: 1px solid #B4B4B4;
          // border: 1px solid #E6E7E9;
          // background: green;
          word-break: break-word;
          word-wrap: break-word;
          box-sizing: border-box;
            
            .emoji {
            width: 100%;
            max-width: 22px;
            margin: 0 4px -5px 4px;
            height: auto;
            }
    
          }
          .chatbox-box:empty:not(:focus):before{
          font-family: $font-three;
          font-size: 13px;
          line-height: 17px;
          color: $chat-msg-text;
          opacity: .4;
          content:attr(data-text)
          }      
        }
        .chatbox-options, .chatbox-options-upload {
        height: 30px;
        flex: 0 0 auto;
        padding-left:10px;   
        // background: pink;
          .btn-add, .btn-chat, .btn-gallery, .btn-camera, .btn-emoji {
          width: 24px;
          height: 24px;
          font-size: 0;
          text-align: center;
          // border-radius: 50%;
          margin: 1px 2px 0 2px;
          opacity: .55;
          }
          .btn-add {
          margin: 4px 12px 0 0;
          background: url("../assets/icon/svg/plus/015.svg") no-repeat center center !important;
          background-size: 92% !important;
          opacity: .5;
          }
          .btn-chat {
          background: url("../assets/icon/svg/chatbox/008.svg") no-repeat center center !important;
          background-size: 100% !important;
          }
          .btn-gallery {
          background: url("../assets/icon/svg/chatbox/003.svg") no-repeat center center !important;
          background-size: 98% !important;
          }
          .btn-camera {
          background: url("../assets/icon/svg/chatbox/024.svg") no-repeat center center !important;
          background-size: 100% !important;
          }
          .btn-emoji {
          background: url("../assets/icon/svg/chatbox/011.svg") no-repeat center center !important;
          background-size: 98% !important;
          }
        }
      }
    
    ion-item {    
      &.leadsProfile {
      border-radius: 4px !important;
      background: none !important;
      box-shadow: none !important;
      // background: #FFF !important;
      // box-shadow: -1px -1px 16px rgba(41, 81, 123, 0.15) !important;
      box-shadow: none !important;
        
        ion-list {
        border-radius: 2px !important;
        }

        .item-inner {
        padding-right: 0px !important;
        }
        .label-ios, .label-md, .label-wp {
        // margin: 16px 0;
        margin: 0;
        padding: 0px;
        }
      }
    }

    ion-list {
    border-radius: 2px !important;
    }
  }

  ion-item {
  overflow: visible !important;
  width: 100%;    
  position: relative;

    ion-avatar {      
      &.imgFull {
      width: 100%;
      // max-width: 110px;
      height: auto;
      display: block;
      margin: 0 auto;
      position: relative;
      background: #F6F6F6;    

        &:before {
        content: "";
        width: 120%;
        height: 120%;
        top: -10%;
        right: -10%;
        bottom: -10%;
        left: -10%;
        display: block;
        z-index: 0;
        position: absolute;
        filter: grayscale(0%) blur(2px) brightness(100%) contrast(100%) hue-rotate(0deg) opacity(100%) invert(0%) saturate(100%) sepia(0%); 
        background: url("../assets/imgs/profile_bg2.jpg") repeat center center #F6F6F6;
        }

        img {
        width: 100%;
        max-width: 350px;
        min-height: 220px;
        height: auto;
        margin: 0 auto;
        display: block;
        z-index: 5;
        position: relative;
        border-radius: 0px;
        }

        .userStatus {
        font-family: $font-three;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: .2px;
        color: #747373;    
        height: 12px;
        line-height: 12px;
        position: absolute;        
        text-align: right;        
        bottom: 9vh;
        right: 15px;
        // display: none;
          .userstatus-online {
          width: auto;
          position: relative;
            &:before {
            content: "";
            width: 10px;
            height: 10px;
            float: left;
            margin: 0px 4px 0 0;
            display: inline-block;
            border-radius: 50%;
            background: #27dc81;
            }
          }
          .userstatus-offline {
          width: auto;
          position: relative;
            &:before {
            content: "";
            width: 10px;
            height: 10px;
            float: left;
            margin: 0px 4px 0 0;
            display: inline-block;
            border-radius: 50%;
            background: #f6776f;
            }
          }
        }
      }
    }
    .label-ios, .label-md, .label-wp {      
    padding-bottom: 10px;
    }
  }

  .leadsProfileWrapper {
  margin-bottom: 0px !important;
  background: none !important;
  }

  .leadsShortcutButtons {
  // display: none !important;
  width: 100%;
  display: block;
  padding: 14px 0;
  text-align: center;
  margin: 0 auto 1px auto;
  // border-top: 1px solid #ebe9f0 !important;
  border-bottom: 1px solid #ebe9f0 !important;
    
    a {
    text-decoration: none !important;
    }

    .contactPhone, .contactChat, .contactEmail {
    width: 50px;
    height: 50px;    
    color: #fff;
    text-align: center;
    border-radius: 50%;    
    display: inline-block;
    margin: 0 18px;
    cursor: pointer;
    text-align: center;
    position: relative;
    // overflow: hidden;
    background: #46E686;
    // box-shadow: 2px 2px 1px #c6ccd0;
      .icon-ios, .icon-md, .icon-wp {
      font-size: 28px;
      text-align: center;
      color: #FFF;
      display: block;
      position: relative;
      margin: 11px auto 0 auto;
        &:before {
        width: 26px;
        height: 26px;
        margin: 0 auto;        
        display: block;        
        }
      }

      span {
      font-family: $font-three;
      font-weight: 500;
      letter-spacing: .4px;
      font-size: 12px;
      color: darken($flatblue, 5%);
      display: block;
      margin-top: 20px;
      }
    }
    .contactPhone {
    // background: #a955cf;
    // background: -webkit-linear-gradient(to right, #56d388, #46E686);
    // background: linear-gradient(to right, #56d388, #46E686);
    background: $flatblue;
    }
    .contactChat {
    // background: #8f70f8;
    // background: -webkit-linear-gradient(to right, #8f70f8, #b184e3);
    // background: linear-gradient(to right, #8f70f8, #b184e3);
    background: $flatblue;
      .icon-ios, .icon-md, .icon-wp {
        &:before {
        content: "";
        width: 28px;
        height: 28px;
        background: url(../assets/icon/svg/chat/015.svg) no-repeat center center !important;
        background-size: 100% !important;
        }
      }
    }
    .contactEmail {
    // background: #FE965B;
    // background: -webkit-linear-gradient(to right, #f6ac65, #ee8841);
    // background: linear-gradient(to right, #f6ac65, #ee8841);    
    background: $flatblue;
      .icon-ios, .icon-md, .icon-wp {
      margin-top: 11px;
        &:before {
        content: "";
        width: 28px;
        height: 28px;
        background: url(../assets/icon/svg/email/005.svg) no-repeat center center !important;
        background-size: 100% !important;
        }
      }
    }
  }

  .agentName, .agentEmail {
  font-family: $font-three;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  }

    .agentName {
    font-family: $font-six;
    font-size: 20px !important;
    font-weight: 600;
    width: 100%;
    letter-spacing: .4px;
    display: block;
    margin: 12px 0 5px 0 !important;
    padding: 0;
    color: #506D7B;
    }

    .agentEmail {
    font-size: 14px;
    color: #788C96;
    }

  // .contentTitle {
  // color: #696D72 !important;
  // }

  ion-content {
    &.generalInfoUI {
      &:before {
      // height: 140px !important;
      height: 56px !important;
      z-index: 1;
      }
      &:after {
      height: 100vh;
      // background: #EBF0F5;
      background: #FFF;
      }
      ion-item:first-child {
      border-radius: 0px;
      }
    }
  }

  // .segment-button {
  // font-size: 14px !important;
  // min-height: 40px !important;
  // line-height: 38px !important;
  // border-radius: 4px 4px 0 0 !important;
  // color: #929292 !important;
  // border-color: #d3d3d3 !important;
  // background-color: #e7e6e6 !important;
  // border-bottom: none !important;
  // @extend %transition;
  //   &.segment-activated {
  //   color: #353535 !important;
  //   border-color: #FFF !important;
  //   background-color: #FFF !important;
  //   border-bottom: none !important;
  //   }
  //   &:hover {
  //   color: #353535 !important;
  //   border-color: #EEE !important;
  //   background-color: #F8FAFB !important;
  //   }
  // }

  .leadsHomeAddressMap, .leadsWorkAddressMap {
  // display: none;
  }        

  .leadMapAddress {
  width: 100%;
  height: auto;
  padding: 16px;
  border-bottom: 1px solid #ebe9f0 !important;
  margin-bottom: 1px;
  overflow: hidden;  
    .addressBlock {
    width: 100%;
    max-width: 60%;
    float: left;
    display: block;
    padding-left: 55px;
    position: relative;

      .item-block, .item-inner, .item-inner, .input-wrapper {
      max-height: 24px;
      display: contents;
      }

      .label-ios, .label-md, .label-wp {
      padding: 0px !important;
      margin: 0px !important;
        // a {
        // color: red  !important;
        // }
      }
    
      ion-icon {
      font-size: 24px;
      position: absolute;
      left: 6px;
      top: -4px;
      color: #777;
      }

      h2 {
      font-size: 12px !important;
      // color: #b0b1b2 !important;
      color: #777 !important;
      margin-bottom: 6px !important;
      padding-bottom: 0px !important;
      }
      p {
      font-size: 14px !important;
      // color: #3c3d3f !important;
      color: $flatblue !important;
      line-height: 22px;
      padding: 0;
      margin: 0;
      }
    }
    .leadsHomeAddressMap, .leadsWorkAddressMap {
    width: 100%;
    max-width: 40%;
    float: right;    
    padding: 3px 0 0 15px;
    position: relative;
      &:before {
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      position: absolute;
      display: block;
      }

      #mapHome, #mapWork {      
      margin: 0;
      height: 110px !important; 
      // border: 1px solid #DDD;
        &:empty {
        display: none;
        }
      }
    } 
  }

  .btmSeparator {
  width: 100%;
  height: 20px;
  display: block;
  }

  .leadNotes {    
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
    textarea.text-input {
    height: auto;
    min-height: 150px;
    padding: 15px;
    background: #F5F5F5;
    margin: -5px 0 20px 0;
    }
  }

  ion-content .dashboardBtn {
  padding: 20px 16px 16px 16px;
  }  

}


/*CUSTOM DESKTOP */
@media (min-width: 1101px) and (max-width: 2560px) {
  page-lead-detail {
    ion-content.generalInfoUI {
      ion-list.leadListings {
        ion-avatar {
          img {
          width: 150px;
          height: 100px;
          }
        }
      }
    }
  }
}


/*GLOBAL MOBILE PORTRAIT*/
@media (max-width: 480px) {
  page-lead-detail {
    ion-item {
      ion-avatar.imgFull {
        img {
        max-width: 100%;        
        margin: -4vh auto -4vh auto;
        }
      }
    }
    ion-content {
      &.generalInfoUI {
        &:before {    
        height: 66px !important;
        }
      }
    }
  }
}