<!--
  Generated template for the LeadDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border class="dashboardUI">
    
    <ion-navbar>
      <!-- <button ion-button menuToggle start>
        <ion-icon name="menu"></ion-icon>
      </button> -->
      <!-- <ion-title>Contact Profile</ion-title> -->
      <ion-title *ngIf="leadDetail!=undefined"><span *ngIf="firebaseLeadDetail!=undefined" [ngClass]="{
        'userStatus userstatus-online':firebaseLeadDetail.isOnline === '1',
        'userStatus userstatus-offline':firebaseLeadDetail.isOnline === '0'}"></span><!-- <span class="userStatus userstatus-offline"></span> --> {{leadDetail.first_name}} {{leadDetail.last_name}}</ion-title>
      <ion-buttons end>
        <button ion-button (click)="editLead();" *ngIf="isEditLeadAccess==true">
          <ion-icon name="md-create"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding class="generalInfoUI colorEnabled background_color" ion-fixed>

  <ion-list class="animated fadeIn leadsProfileWrapper">
    <ion-item class="leadsProfile">        
      <ion-avatar class="imgFull" *ngIf="leadDetail!=undefined">
      <!--<img src={{leadDetail.image_url}} *ngIf="leadDetail.image_url!=null"/>
      <img src={{noImgUrl}} *ngIf="leadDetail.image_url==null"/>-->
      <img src="{{this.sharedServiceObj.imgBucketUrl}}{{leadDetail.image_url}}" (error)="imgLead.src = this.sharedServiceObj.profileNoImage" #imgLead/>
        <!-- <div class="userStatus">
          <div class="userstatus-online">Online</div>
          <div class="userstatus-offline">Offline</div>
        </div> -->
      </ion-avatar>
      <!-- <h2 class="agentName" *ngIf="leadDetail!=undefined">{{leadDetail.first_name}} {{leadDetail.last_name}}</h2> -->
    </ion-item>
  </ion-list>

  <div class="animated fadeIn leadsShortcutButtons" *ngIf="leadDetail!=undefined">    
    <a class="contactPhone colorEnabled button_color" href="tel:{{leadDetail.phone_mobile}}"><ion-icon name="md-call"></ion-icon><span>Call</span></a>
    <div class="contactChat colorEnabled button_color" (click)="chatContact(leadDetail);"><ion-icon name="chatboxes"></ion-icon><span>Chat</span></div>
    <div class="contactEmail colorEnabled button_color" (click)="emailContact(leadDetail);"><ion-icon name="ios-mail"></ion-icon><span>Mail</span></div>
    <div class="contactInvite colorEnabled button_color" *ngIf="leadDetail.app_installed!=undefined&&leadDetail.app_installed=='0'" 
    (click)="invitationPopUp(leadDetail);"><ion-icon name="ios-mail"></ion-icon>
      <span>Invite</span></div>
  </div>
  
  <!-- <h1 class="contentTitle animated bounceInRight">Contact Details</h1> -->
  
  <ion-list class="animated fadeIn leadsInfo" *ngIf="leadDetail!=undefined">
      <!-- <ion-item *ngIf="leadDetail!=undefined">
        <ion-icon name="ios-mail-outline" item-start></ion-icon>
        <h2>Leads Name</h2>
        <p>{{leadDetail.first_name}} {{leadDetail.last_name}}</p>
      </ion-item> -->
      
      <!-- <ion-item *ngIf="leadDetail!=undefined">
        <ion-icon name="ios-mail-outline" item-start></ion-icon>
        <h2>Email</h2>
        <p>{{leadDetail.email}}</p>
      </ion-item> -->

      <ion-item class="leadsWebURL" *ngIf="leadDetail!=undefined&&leadDetail.website!=undefined&&leadDetail.website!=''">
        <ion-icon name="ios-globe-outline" item-start></ion-icon>
        <!-- <h2>Website</h2> -->
        <a (click)="openInAppBrowser(leadDetail.website)">{{leadDetail.website}}</a>
      </ion-item>

      <ion-item class="leadsEmail" *ngIf="leadDetail!=undefined&&leadDetail.email!=undefined&&leadDetail.email!=''">
        <ion-icon name="ios-mail-outline" item-start></ion-icon>
        <!-- <h2>Email</h2> -->
        <p>{{leadDetail.email}}</p>
      </ion-item>

      <ion-item class="leadsPhone1" *ngIf="leadDetail!=undefined&&leadDetail.phone_mobile!=undefined&&leadDetail.phone_mobile!=''">
        <ion-icon name="md-call" item-start></ion-icon>
        <!-- <h2>Mobile #</h2> -->
        <p>{{leadDetail.phone_mobile}}</p>
      </ion-item>

      <ion-item class="leadsPhone2" *ngIf="leadDetail!=undefined&&leadDetail.phone_office!=undefined&&leadDetail.phone_office!=''">
        <ion-icon name="md-call" item-start></ion-icon>
        <!-- <h2>Office #</h2> -->
        <p>{{leadDetail.phone_office}}</p>
      </ion-item>

      <ion-item class="leadsPhone3" *ngIf="leadDetail!=undefined&&leadDetail.phone_home!=undefined&&leadDetail.phone_home!=''">
        <ion-icon name="md-call" item-start></ion-icon>
        <!-- <h2>Home #</h2> -->
        <p>{{leadDetail.phone_home}}</p>
      </ion-item>

      <!-- <ion-item class="leadsHomeAddress" *ngIf="leadDetail!=undefined">
        <ion-icon name="md-home" item-start></ion-icon>        
        <p>{{leadDetail.home_address}}</p>
      </ion-item> -->

      <div class="leadMapAddress">
          <div class="addressBlock" *ngIf="leadDetail!=undefined&&leadDetail.home_address!=undefined&&leadDetail.home_address!=''">
          <ion-icon name="md-pin" item-start></ion-icon>
          <h2 class="contentTitle">Home Address</h2>
          <!-- <p>27 Renata,<br/> Newport Coast, CA 92657,<br/> USA</p> -->
          
          <ion-item 
          *ngFor="let address_part of home_address_parts"><a (click)="openGoogleMapBrowser(leadDetail.home_address)">{{address_part}}</a></ion-item>
          </div>

          <div class="leadsHomeAddressMap">
              <img src="{{this.sharedServiceObj.imgBucketUrl}}{{leadDetail.uploaded_home_map_image}}" (error)="imgHomeAddress.src = this.sharedServiceObj.noImageUrl" #imgHomeAddress/>
            <!--<div #mapHome id="mapHome" style="width:100%;" [style.height]="map_home_height+'px'"></div>-->
          </div>
      </div>

      <!-- <ion-item class="leadsWorkAddress" *ngIf="leadDetail!=undefined">
        <ion-icon name="md-briefcase" item-start></ion-icon>
        <p>{{leadDetail.work_address}}</p>
      </ion-item> -->

      <div class="leadMapAddress">
          <div class="addressBlock"  *ngIf="leadDetail!=undefined&&leadDetail.work_address!=undefined&&leadDetail.work_address!=''">
          <ion-icon name="md-pin" item-start></ion-icon>
          <h2 class="contentTitle">Work Address</h2>
          <!-- <p>27 Renata,<br/> Newport Coast, CA 92657,<br/> USA</p> -->
          <!--<p>{{leadDetail.work_address}}</p>-->
          <ion-item 
          *ngFor="let address_part of work_address_parts"><a (click)="openGoogleMapBrowser(leadDetail.work_address)">{{address_part}}</a></ion-item>
          </div>

          <div class="leadsWorkAddressMap">
              <img src="{{this.sharedServiceObj.imgBucketUrl}}{{leadDetail.uploaded_work_map_image}}" (error)="imgWorkImage.src = this.sharedServiceObj.noImageUrl" #imgWorkImage/>
            <!--<div #mapWork id="mapWork" style="width:100%;" [style.height]="map_work_height+'px'"></div>-->
          </div>
      </div>
      

  </ion-list>
  
  
  <ion-list class="leadNotes">
      <ion-item *ngIf="leadDetail!=undefined">
          <ion-label stacked class="contentTitle">Private notes about {{leadDetail.first_name}}</ion-label>
        <!--<h2 class="contentTitle">Private notes about {{leadDetail.first_name}}</h2>-->
       <!-- <p>{{leadDetail.internal_notes}}</p>-->
       
        <ion-textarea type="text" [(ngModel)]="internal_notes" name="internal_notes"></ion-textarea>
        
      </ion-item>
      <div class="dashboardBtn">
        <button ion-button color="primary" class="colorEnabled button_color" block (click)="updateLeadNotes();">Update</button>
    </div>
  </ion-list>


  <ion-list class="centerStage leadsSavedInfo">
    <ion-item>
    <h2 class="contentTitle" *ngIf="leadDetail!=undefined">{{leadDetail.first_name}}'s Saved</h2>
    
      <ion-segment [(ngModel)]="leadsDetailSegment" color="primary" (ionChange)="segmentChanged($event)">
            <ion-segment-button value="1">
              Searches
            </ion-segment-button>
            <ion-segment-button value="2">
                Listing
            </ion-segment-button>
            <ion-segment-button value="3">
                Hotsheet
            </ion-segment-button>
      </ion-segment>

    </ion-item>
  </ion-list>

  <ion-list class="centerStage leadListings" *ngIf="selectedSegment=='2'">

    <!-- <h2 class="contentTitle">Saved Listings</h2> -->

    <ion-item *ngFor="let saved_listing of savedListings" (click)="showListingDetail(saved_listing)">
        
        <ion-avatar item-start>
          <img src="{{saved_listing.url}}"
          (error)="imgListing.src = this.sharedServiceObj.profileNoImage" #imgListing/>
          <!--<img [src]="saved_listing.url" *ngIf="saved_listing.url!=''"/>
          <img src="././assets/imgs/noImage.png" *ngIf="saved_listing.url==''"/>-->
        </ion-avatar>
        <h2 class="forSale" *ngIf="saved_listing.listing_type=='for_sale'">For Sale</h2>
        <h2 class="forRent" *ngIf="saved_listing.listing_type=='for_rent'">For Rent</h2>
        <p class="lsPrice">${{saved_listing.price}}</p>
        <p class="streetAddress">{{saved_listing.address_street_num}} {{saved_listing.address_street_name}}, {{saved_listing.address_city}}, {{saved_listing.address_state_or_province}}</p>
        <div class="lsInfo">          
          <span class="bed">{{saved_listing.bedrooms}}</span>
          <span class="bath">{{saved_listing.bath_total}}</span>
          <span class="sqft">{{saved_listing.listing_size}}</span>
        </div>
        <!-- <p>Description: {{saved_listing.description}}</p> -->
        </ion-item>

  </ion-list>
  
  <ion-list class="centerStage leadHotsheetName" *ngIf="selectedSegment=='3'">
      <ion-item *ngFor="let subscribed_hotsheet of subscribed_hotsheets" (click)="showHotsheetDetail(subscribed_hotsheet)">
      <h2 class="contentTitle">{{subscribed_hotsheet.name}}</h2>
      </ion-item>
  </ion-list>
  
  <ion-list class="centerStage leadSearchName" *ngIf="selectedSegment=='1'">
    <ion-item *ngFor="let saved_search of saved_searches">      
      <h2 class="contentTitle">{{saved_search.search_name}}</h2>
    </ion-item>
  </ion-list>

  <div class="btmSeparator"></div>

</ion-content>
