<!--
  Generated template for the EditWebsitePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Edit Website</ion-title>
    <ion-buttons end>
      <button ion-button (click)="updateWebsite();" [disabled]="!websiteForm.valid">Update Website</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form role="form" data-toggle="validator" #websiteForm="ngForm">
    <ion-item>
        <ion-label floating>Website Domain<span [ngClass]="{'error': website_domain==''}" *ngIf="website_domain==''">*</span></ion-label>
        <ion-input type="text" [(ngModel)]="website_domain" 
        name="website_domain" id="website_domain" required pattern="https?://.+"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Is Active<span [ngClass]="{'error': isActive==false}" *ngIf="isActive==false">*</span></ion-label>
        <ion-checkbox color="royal" checked="false" [(ngModel)]="isActive" name="isActive" id="isActive" 
        required >Is Active</ion-checkbox>
      </ion-item>
      <div padding>
          <button ion-button color="primary" block (click)="updateWebsite();" [disabled]="!websiteForm.valid">Update Website</button>
        </div>
    </form>
</ion-content>
