<!--
  Generated template for the EditWebsitePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="dashboardUI colorEnabled background_color">

  <ion-navbar>
    <ion-title>Edit Website</ion-title>
    
    <ion-buttons end>
      <button ion-button (click)="updateWebsite();" [disabled]="!websiteForm.valid">
        <ion-icon name="ios-bookmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="dashboardUI">
<div class="dashboardBG colorEnabled background_color"></div>
    <form role="form" data-toggle="validator" #websiteForm="ngForm" >

      <ion-list class="websiteInfoSettings animated lightSpeedIn blk1">
        <ion-item>
            <ion-label stacked>Identity Name<span [ngClass]="{'error': identity_name==''}" *ngIf="identity_name==''">*</span></ion-label>
            <ion-input type="text" [(ngModel)]="identity_name" 
            name="identity_name" id="identity_name" required placeholder="Identity Name"></ion-input>
        </ion-item>
        
        <ion-item>
            <ion-label stacked>Website Domain<span [ngClass]="{'error': website_domain==''}" *ngIf="website_domain==''">*</span></ion-label>
            <ion-input type="text" [(ngModel)]="website_domain" 
            name="website_domain" id="website_domain" required ></ion-input>
        </ion-item>
      
        <ion-item>
            <ion-label stacked>IDX Installed Location</ion-label>
            <ion-input type="text" [(ngModel)]="website_a_record_location" 
            name="website_a_record_location" id="website_a_record_location" 
            placeholder="Please type exactly what your location is for your domain search."></ion-input>
        </ion-item>
       
        <ion-item>
            <ion-label stacked>Identity Phone Number</ion-label>
            <ion-input type="text" [(ngModel)]="identity_phone_number" 
            name="identity_phone_number" id="identity_phone_number" [brmasker]="{mask:'(000) 000-0000', len:14, type:'num'}"></ion-input>
        </ion-item>
        <ion-item class="OptMLS noShadow" *ngIf="service_id=='2'||service_id=='1'">
          <ion-label stacked>Select your MLS</ion-label>
          <ion-select placeholder="-----" [(ngModel)]="mls_server_id"  
          name="mls_server_id" multiple="true" required>
            <ion-option *ngFor="let mls of allMls" value= {{mls.mls_server_id}}>{{mls.name}}
             </ion-option>
          </ion-select>
        </ion-item>

        <ion-grid class="agentID-Info">
          <ion-row>
            <ion-col col-4>
              <ion-item class="userInfoBlock">
              <!-- <ion-icon name="md-briefcase" item-start></ion-icon> -->
              <!--<ion-label stacked><span [ngClass]="{'error': agent_id==''}" *ngIf="agent_id==''">*</span></ion-label>-->
              <ion-label stacked>Agent ID:</ion-label>
              <ion-input type="text" [(ngModel)]="agent_id" name="agent_id"></ion-input>
              </ion-item>              
            </ion-col>
            <ion-col col-4>
              <ion-item class="userInfoBlock">
              <!-- <ion-icon name="md-briefcase" item-start></ion-icon> -->
              <!--<ion-label stacked><span [ngClass]="{'error': broker_id==''}" *ngIf="broker_id==''">*</span></ion-label>-->
              <ion-label stacked>Broker ID</ion-label>
              <ion-input type="text" [(ngModel)]="broker_id" name="broker_id"></ion-input>
              </ion-item>              
            </ion-col>
            <ion-col col-4>
              <ion-item class="userInfoBlock">
              <!-- <ion-icon name="md-briefcase" item-start></ion-icon> -->
              <!--<ion-label stacked><span [ngClass]="{'error': office_id==''}" *ngIf="office_id==''">*</span></ion-label>-->
              <ion-label stacked>Office ID</ion-label>
              <ion-input type="text" [(ngModel)]="office_id" name="office_id"></ion-input>
              </ion-item>               
            </ion-col>
          </ion-row>
        </ion-grid>
      
        <ion-item>
          <ion-label>Show Open Houses on Homepage</ion-label>
          <ion-toggle [(ngModel)]="show_open_houses" name="show_open_houses"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label>Show New Houses on Homepage</ion-label>
          <ion-toggle [(ngModel)]="show_new_listings" name="show_new_listings"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label>Feature Agent Listing on Homepage</ion-label>
          <ion-toggle [(ngModel)]="feature_agent_listings" name="feature_agent_listings"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label>Feature Broker Listing on Homepage</ion-label>
          <ion-toggle [(ngModel)]="feature_broker_listings" name="feature_broker_listings"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label>Feature Office Listing on Homepage</ion-label>
          <ion-toggle [(ngModel)]="feature_office_listings" name="feature_office_listings"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>Install SSL</ion-label>
          <ion-toggle [(ngModel)]="isSsl" name="isSsl"></ion-toggle>
        </ion-item>
        <!--<ion-item>
          <ion-label>Is Active<span [ngClass]="{'error': isActive==false}" *ngIf="isActive==false">*</span></ion-label>
          <ion-checkbox color="royal" item-right checked="false" [(ngModel)]="isActive" name="isActive" id="isActive" 
          required >Is Active</ion-checkbox>
        </ion-item>-->
        
      </ion-list>

      <div class="animated lightSpeedIn formShadow blk3">
        <ion-list *ngIf="isApp">

          <ion-item>
              <button ion-button color="primary" block (click)="takePicture();" >Upload Company/Agent logo or brand</button>
          </ion-item>

          <ion-item *ngIf="dataWebsiteLogo.image" >
              <img [src]="dataWebsiteLogo.image" [width]="logoWidth"
              [height]="logoHeight">
          </ion-item>

          <ion-item>
              <button ion-button color="primary" block (click)="takeFavIconPicture();" >Upload Website FavIcon</button>
          </ion-item>

          <ion-item *ngIf="dataWebsiteIcon.image" >
              <img [src]="dataWebsiteIcon.image" [width]="favIconWidth"
              [height]="favIconHeight">
          </ion-item>

        </ion-list>
      </div>

      
      <div class="animated lightSpeedIn formShadow blk4">
        <ion-list class="uploadPhoto noShadow" *ngIf="!isApp">

            <!-- <ion-list-header>Upload Company Logo</ion-list-header> -->
            <ion-item><ion-label stacked class="labelLarge">Upload Company Logo</ion-label></ion-item>

            <!-- Main Image Uploader -->
            <div class="customList noBorder">
              
              <div class="HotSheetImageUploader">

                <!-- Image Cropper Result -->
                <div class="imgCropperPreviewResult" *ngIf="dataWebsiteLogo.image" >
                <img [src]="dataWebsiteLogo.image" [width]="logoWidth"
                [height]="logoHeight">
                </div>

                <!-- Image Upload Button -->              
                <input id="custom-input" class="btnUpload" type="file" accept=".png, .jpg, .jpeg" capture="camera" multiple (change)="websiteLogoFileChangeListener($event)">
                <button ion-button (click)="editImage('logo');" *ngIf="isLogoImgExist">
                  <ion-icon name="md-create"></ion-icon>
                </button>
              </div>

            </div>

            <!--<div class="ImageCropperOption">
              
              <ion-item *ngIf="dataWebsiteLogo.image">
                <ion-label>Edit Logo</ion-label>
                <ion-toggle [(ngModel)]="edit_identity_logo" 
                name="edit_identity_logo" (click)="showHideLogoCropper()"></ion-toggle>
              </ion-item>
         
              <img-cropper #companyLogoCropper [image]="dataWebsiteLogo" [settings]="logoCropperSettings"
               (onCrop)="websiteIdentityImageCropped($event)" *ngIf="hideLogoCropper"></img-cropper>

            </div>-->



            <!-- <ion-list-header>Upload Website FavIcon  (32x32 px)</ion-list-header> -->
            <ion-item><ion-label stacked class="labelLarge">Upload Website Favicon  <span>(32x32 px)</span></ion-label></ion-item>

            <div class="customList cropFavicon">
              <div class="HotSheetImageUploader imgFavicon">

              <!-- Image Cropper Result -->
              <div class="imgCropperPreviewResult" *ngIf="dataWebsiteIcon.image" >
              <img [src]="dataWebsiteIcon.image" [width]="favIconWidth"
              [height]="favIconHeight">
              </div>
              
              <!-- Image Upload Button -->
              <input id="custom-input" class="btnUpload" type="file" accept=".png, .jpg, .jpeg" capture="camera" multiple (change)="websiteFavIconFileChangeListener($event)">
              <button ion-button (click)="editImage('favIcon');" *ngIf="isFavImgExist">
                <ion-icon name="md-create"></ion-icon>
              </button>  
            </div>

              <!--<div class="ImageCropperOption last">
                <ion-item *ngIf="dataWebsiteIcon.image">
                  <ion-label>Edit Favicon</ion-label>
                  <ion-toggle [(ngModel)]="edit_favivon_image" 
                  name="edit_favivon_image" (click)="showHideFavIconCropper()"></ion-toggle>
                </ion-item>
                <img-cropper #favIconLogoCropper [image]="dataWebsiteIcon" [settings]="favIconCropperSettings" 
                (onCrop)="websiteFavIconImageCropped($event)" *ngIf="hideFavIconCropper"></img-cropper>
              </div>-->

            </div>
            
        </ion-list>
      </div>

      <div class="formUI formShadow mb16">

        <ion-item class="filterColorOptions">
          <ion-label>Homepage Description</ion-label>          
          <!-- <ion-toggle [(ngModel)]="HomepageDescriptionSettings" name="HomepageDescriptionSettings"></ion-toggle> -->
        </ion-item>
        
        <div class="HomepageDescriptionSettings">
          
          <div class="itemPadding">
              
              <ion-label stacked>Homepage Description Text</ion-label>
              <div id="homepage_description" contenteditable="true" class="homeDescTxt"></div>
              <!--<ckeditor
              [config]="CkeditorConfig"
              [readonly]="false" [(ngModel)]="homepage_description"
              (change)="homepageDescChanged($event)"
              (blur)="homepageDescBlured($event)"
              (focus)="homepageDescFocused($event)"
              (ready)="homepageDescCreated($event)"
              debounce="500" name="editorHomePageDescription">
              </ckeditor>-->
          </div>
          
          <ion-item class="mb16">
            <ion-label stacked>Homepage Search Text</ion-label>
            <ion-textarea type="text" class="textHomepageSearch" [(ngModel)]="homepage_search_text" 
            name="homepage_search_text" id="homepage_search_text" 
            placeholder="Action sentence to draw people to search for listings"></ion-textarea>
          </ion-item>

        </div>
      </div>

      <div class="formUI formShadow mb16">
      
        <ion-item class="filterColorOptions">
          <ion-label>Website Meta-Tags</ion-label>
          <!-- <ion-toggle checked="customColorOptionModal" [(ngModel)]="customColorOptionModal" name="customColorOption"></ion-toggle> -->
          <ion-toggle [(ngModel)]="metaDescriptionSettings" name="metaDescriptionSettings"></ion-toggle>
        </ion-item>
        
        <div class="metaDescriptionSettings" *ngIf="metaDescriptionSettings">        
        <ion-item>
            <!-- <ion-label stacked class="labelLarge">Homepage Meta Title</ion-label> -->
            <ion-label stacked>Meta-Tag Title</ion-label>
            <ion-textarea type="text" class="textAreaSingle" [(ngModel)]="homepage_meta_title" 
            name="homepage_meta_title" id="homepage_meta_title" placeholder="The title should state the main purpose of your website, your name, and your #1 target area."></ion-textarea>
        </ion-item>

        <div class="hmd itemPadding bt16">
            <ion-label stacked>Meta-Tag Description</ion-label>
            <textarea type="text" class="textAreaMetaDesc" id="homepageMeta_description" name="homepageMeta_description" [(ngModel)]="homepageMeta_description" placeholder="This is what a search engine will display on it's search results describing your website. "></textarea>
            <!--<ckeditor
            [config]="CkeditorConfig"
            [readonly]="false" [(ngModel)]="homepageMeta_description"
            (change)="homepageMetaDescChanged($event)"
            (blur)="homepageMetaDescBlured($event)"
            (focus)="homepageMetaDescFocused($event)"
            (ready)="homepageMetaDescCreated($event)"
            debounce="500" name="editorHomePageDescription">
            </ckeditor>-->
        </div>
        </div>
      </div>
      
      <div class="formUI mb16">

        <ion-item class="filterColorOptions">
          <ion-label>Color Settings</ion-label>
          <!-- <ion-toggle checked="customColorOptionModal" [(ngModel)]="customColorOptionModal" name="customColorOption"></ion-toggle> -->
          <ion-toggle [(ngModel)]="colorSettingOptions" name="colorSettingOptions"></ion-toggle>
        </ion-item>
        
        <div class="colorSettingOptions" *ngIf="colorSettingOptions">
        <ion-list class="customList colorSchemeBlock">
          <ion-grid>
            <ion-row class="colorSchemeOptions">
              <ion-col col-4>
                <div *ngIf="colorBase!=''">
                <ion-label stacked>1st Color</ion-label>

                <button ion-button color="secondary" outline [colorPicker]="colorBase" 
                (colorPickerChange)="colorBase=$event"
                [ngStyle]="{'background-color': colorBase}" [cpPosition]="'bottom'" 
                [cpOutputFormat]="'rgb'" full small>Select Color</button>

                </div>                
              </ion-col>
              <ion-col col-4>
                <div *ngIf="secondColor!=''">
                <ion-label stacked>2nd Color</ion-label>

                <button ion-button color="secondary" outline [colorPicker]="secondColor" 
                (colorPickerChange)="secondColor=$event"
                [ngStyle]="{'background-color': secondColor}" [cpPosition]="'bottom'" [cpCancelButton]="true" 
                [cpCancelButtonClass]="'btn btn-primary btn-xs'" [cpOutputFormat]="'rgb'" full small>Select Color</button>

                </div>                
              </ion-col>
              <ion-col col-4>
                <div *ngIf="thirdColor!=''">
                <ion-label stacked>3rd Color</ion-label>

                <button ion-button color="secondary" outline [colorPicker]="thirdColor" 
                (colorPickerChange)="thirdColor=$event"
                [ngStyle]="{'background-color': thirdColor}" [cpPosition]="'bottom'" [cpCancelButton]="true" [cpCancelButtonClass]="'btn btn-primary btn-xs'"
                [cpOutputFormat]="'rgb'" full small>Select Color</button>

                </div>                
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>

        <ion-list class="customList customColorSettingsBlock">

          <ion-item class="filterLabel">
            <ion-label class="colorSchemeLabel">Customize Website Colors</ion-label>          
            <!-- <ion-toggle checked="customColorOptionModal" [(ngModel)]="customColorOptionModal" name="customColorOption"></ion-toggle> -->
          </ion-item>
          
          <ion-list class="customColorOption" *ngIf="colorSettingOptions">
              <ion-item (click)="showColorPopUp('header_color')">
                  <ion-label>Header Color <span class="colorPreview" *ngIf="headerColor==undefined||headerColor==''"></span>
                    <span  class="colorPreviewEmpty" *ngIf="headerColor!=undefined||headerColor!=''" [ngStyle]="{'background-color':headerColor }"></span>
                  </ion-label>
              </ion-item>
               
              <!--<ion-item>
                <ion-label>Text Color</ion-label>
                <ion-select [(ngModel)]="textColor" name="textColor" id="textColor">
                  <ion-option *ngFor="let colorOption of colorOptions" value= {{colorOption.id}}>
                    {{colorOption.name}}
                    </ion-option>
                 </ion-select>
                
              </ion-item>-->
              <ion-item (click)="showColorPopUp('content_title_color')">
                <ion-label>Content Title Color <span class="colorPreview" *ngIf="contentTitleColor==undefined||contentTitleColor==''"></span>
                  <span  class="colorPreviewEmpty" *ngIf="contentTitleColor!=undefined||contentTitleColor!=''" [ngStyle]="{'background-color':contentTitleColor }"></span></ion-label>
              </ion-item>

              <ion-item (click)="showColorPopUp('navigation_color')">
                <ion-label>Navigation Color <span class="colorPreview" *ngIf="navigationColor==undefined||navigationColor==''"></span>
                  <span  class="colorPreviewEmpty" *ngIf="navigationColor!=undefined||navigationColor!=''" [ngStyle]="{'background-color':navigationColor }"></span></ion-label>
              </ion-item>

              <ion-item (click)="showColorPopUp('button_color')">
                <ion-label>Button Color <span class="colorPreview" *ngIf="buttonColor==undefined||buttonColor==''"></span>
                  <span  class="colorPreviewEmpty" *ngIf="buttonColor!=undefined||buttonColor!=''" [ngStyle]="{'background-color':buttonColor }"></span></ion-label>
              </ion-item>

              <ion-item (click)="showColorPopUp('map_sidebar_color')">
                <ion-label>Map Sidebar Color <span class="colorPreview" *ngIf="mapSidebarColor==undefined||mapSidebarColor==''"></span>
                  <span  class="colorPreviewEmpty" *ngIf="mapSidebarColor!=undefined||mapSidebarColor!=''" [ngStyle]="{'background-color':mapSidebarColor }"></span></ion-label>
              </ion-item>

              <ion-item (click)="showColorPopUp('pagination_color')">
                <ion-label>Pagination Color <span class="colorPreview" *ngIf="paginationColor==undefined||paginationColor==''"></span>
                  <span  class="colorPreviewEmpty" *ngIf="paginationColor!=undefined||paginationColor!=''" [ngStyle]="{'background-color':paginationColor }"></span></ion-label>
              </ion-item>
             
              <ion-item (click)="showColorPopUp('modal_background_color')">
                <ion-label>Modal Background Color <span class="colorPreview" *ngIf="modalBackgroundColor==undefined||modalBackgroundColor==''"></span>
                  <span  class="colorPreviewEmpty" *ngIf="modalBackgroundColor!=undefined||modalBackgroundColor!=''" [ngStyle]="{'background-color':modalBackgroundColor }"></span></ion-label>
              </ion-item>

          <!--<ion-item (click)="showColorPopUp('header_color')">
            <ion-label>Header Color</ion-label>
            
          </ion-item>
          <ion-item (click)="showColorPopUp('side_bar_menu_color')">
            <ion-label>Side-Bar Menu Color</ion-label>
           
          </ion-item>-->
          <!--<ion-item>
            <ion-label>Text Color</ion-label>
            <ion-select [(ngModel)]="textColor" name="textColor" id="textColor">
              <ion-option *ngFor="let colorOption of colorOptions" value= {{colorOption.id}}>
                {{colorOption.name}}
                </ion-option>
             </ion-select>
            
          </ion-item>-->
          <!--<ion-item (click)="showColorPopUp('content_background_color')">
            <ion-label>Content Background Color</ion-label>
            
          </ion-item>
          <ion-item (click)="showColorPopUp('content_title_color')">
            <ion-label>Content Title Color</ion-label>
            
          </ion-item>
          <ion-item (click)="showColorPopUp('button_color')">
            <ion-label>Button Color</ion-label>
            
          </ion-item>
          <ion-item (click)="showColorPopUp('pagination_color')">
            <ion-label>Pagination Color</ion-label>
            
          </ion-item>
         
          <ion-item (click)="showColorPopUp('modal_background_color')">
            <ion-label>Modal Background Color</ion-label>
            
          </ion-item>-->
        </ion-list>
        </ion-list>
        </div>
      </div>


      <ion-list class="sectionBlock animated lightSpeedIn blk5" style="margin-top: 16px;">

          <ion-item class="sectionTitle">
            <ion-label>Wrappers Management <span>(Advance)</span></ion-label>
            <!-- <ion-toggle checked="customWebsiteWrapper" [(ngModel)]="customWebsiteWrapper" name="customColorOption"></ion-toggle> -->
            <ion-toggle [(ngModel)]="customWebsiteWrapper" name="customWebsiteWrapper"></ion-toggle>
          </ion-item>

        <ion-list class="noShadow" *ngIf="customWebsiteWrapper">
          <ion-item>
            <ion-label stacked>Header HTML</ion-label>
            <ion-textarea type="text" class="wrapperArea" [(ngModel)]="header_wrapper" name="header_wrapper" placeholder="Editable HTML for the Header goes here"></ion-textarea>
          </ion-item>
          
          <ion-item>
            <ion-label stacked>Footer HTML</ion-label>
            <ion-textarea type="text" class="wrapperArea" [(ngModel)]="footer_wrapper" name="footer_wrapper" placeholder="Editable HTML for the Footer goes here"></ion-textarea>
          </ion-item>

          <!--<ion-item>
            <ion-label stacked>Intagent Website</ion-label>
            <ion-checkbox color="royal" item-right checked="false" [(ngModel)]="intagent_website" name="intagent_website" id="intagent_website" 
            required >intagent_website</ion-checkbox>
          </ion-item>-->

          <!--<ion-item>
            <ion-label stacked>Intagent Website</ion-label>
            <ion-input type="number" [(ngModel)]="intagent_website" name="intagent_website"></ion-input>
          </ion-item>-->

          <ion-item>
            <ion-label stacked>Custom CSS</ion-label>
            <ion-textarea type="text" class="wrapperArea customCSS" [(ngModel)]="custom_css" name="custom_css" placeholder="Add your own CSS code here to customize the appearance and layout of your website"></ion-textarea>
          </ion-item>
        </ion-list>
      </ion-list>

      <div class="dashboardBtn">
          <button ion-button color="primary" class="colorEnabled button_color" block (click)="updateWebsite();" [disabled]="!websiteForm.valid">Update Website</button>
      </div>

    </form>
</ion-content>
