page-create-website {

  ion-content.dashboardUI {
    .uploadPhoto {
      .imgCropperPreviewResult {
        img {
        max-height: 210px;
        }
      }
    }
  }

  ion-navbar {
    .bar-buttons {
      .button-inner {
        .icon-ios, .icon-md, .icon-wp {
        font-size: 30px !important;
          &:before {
          content: "";
          width: 32px;
          height: 32px;
          display: block;          
          background: url("../assets/icon/svg/save.svg") no-repeat center center !important;
          background-size: 62% !important;
          } }
      }
    }
  }

  ion-content.dashboardUI {
    .dashboardBG {
    z-index: -1;
    }
  }
  .contentTitle {
    font-family: $font-one;
    font-weight: 300;
    font-size: 18px;
    padding: 12px 15px;
    margin: 0;
    color: #000000 !important;
    letter-spacing: 1px;
    text-align: center;
    background: $title-bg;
    }
  ion-list.sectionBlock {
  background: #FFF;
    ion-item.sectionTitle {
    border-radius: 0 !important;
    padding-left: 0;
    padding-bottom: 0px !important;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1px;
    padding-right: 0px !important;     
    box-shadow: none !important;
    background: none !important;    
      
      ion-list.noShadow {
      margin-top: 1px;      
      margin-bottom: 6px !important;
      border-radius: 0px !important;
      }

      .item-inner {
      padding-left: 16px;
      }
      span {
      font-family: $font-one;
      font-size: 13px;
      // font-style: italic;
      letter-spacing: .3px;
      padding-left: 6px;
      opacity: .75;
      }
    }
  }

  ion-list.customColorSettingsBlock {
  box-shadow: none !important;  
    .filterLabel {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-left: 0px !important;
    border-bottom: none !important;
      .item-inner {
      padding-right: 0px;
      border-bottom: none !important;
        .colorSchemeLabel {
        padding-left: 0px !important;
        }        
      }
    }
    ion-list.customColorOption {
    box-shadow: none !important;
    margin-bottom: 0px;
    background: #F5F5F5 !important;
    border-radius: 6px !important;
      ion-item {
      background: #F5F5F5 !important;
      }
      .item-inner {
      border-bottom: none;
      }
    }
  }

  ion-content.dashboardUI .label-ios[stacked], ion-content.dashboardUI .label-md[stacked], ion-content.dashboardUI .label-wp[stacked] {
  margin-bottom: 2px !important;
  } 

  .userInfoBlock.medIcon {
    ion-icon {
    font-size: 24px !important;
    }
    .item-inner {
    margin-left: 0px !important;
    }
  }
  
  .mb16 {
  margin-bottom: 16px !important;
  }
  
  .blk1 {
    .item-block {
      &:last-child {
      padding-bottom: 8px;
      }
    }
    .label-ios, .label-md, .label-wp {
    opacity: .68;
    }
  }  

  .blk2 {
  margin-bottom: 18px;
  background: #FFF;
    .item-block {
      &:last-child {
      padding-bottom: 16px !important;
      }
    }
    .item-inner {    
    padding-right: 16px !important;
    border-bottom: 0px !important;
    }
  }

  .blk4 {
  background: #FFF;
    .list-header-ios, .list-header-md, .list-header-wp {
    // border-color: #ebe9f0 !important;
    border-bottom: none !important;
          .item-inner {
        .input-wrapper {
          ion-label {
          font-size: 14px;
          color: #696D72;
          letter-spacing: 0px !important;
          text-transform: capitalize !important;
          margin-bottom: 0px !important;
          }
        }
      }
    }
    .customList {
    border-bottom: 1px solid #ebe9f0 !important;
      &.noBorder {
      border-bottom: none !important;
      }
    }

    .bottom16 {
    margin-bottom: 16px;
    }
  }

  .blk5 {
    .item-block {
      &:last-child {
      padding-bottom: 12px;      
      }

      .label-ios, .label-md, .label-wp {
      font-size: 14px;
      }
      .item-inner {
      // padding-right: 0px;
      }
      .text-input {
      width: 100%;      
      }
    }  
  }

  .bt16 {
  padding-bottom: 18px;
  }

  .labelLarge {
  font-size: 14px !important;
  margin-bottom: 2px !important;
  }

  .item-ios, .item-md, .item-wp {
    .item-inner {  
    border-color: #ebe9f0 !important;
    }
  }

  .HomepageDescriptionSettings {
    ion-label {
    color: #999 !important;
    }
    ion-item {
    padding-right: 16px;
    padding-bottom: 16px;      
      .item-inner {
      padding-right: 0px !important;
      }
    }
  }

  ion-item.OptMLS {
    .item-inner {
    padding: 0px !important;
    }
    .item-inner {
      .input-wrapper {
        ion-select {
        padding: 11px 12px 7px 12px;
        margin-top: 8px;
        border-radius: 2px;
        background: #e9eef6;
        }        
      }
    }    
  }

  ion-list.websiteInfoSettings {
    .item-inner {
    padding: 0px !important;
    }

    .targetCityBlock {
    padding: 0 16px;
    background: #FFF;
      .label {
      padding: 16px 0 4px 0;
      margin-top: 0px;
      }
      .searchbar-md {
      padding: 8px 0;
        .searchbar-search-icon {
        top: 7px;
        left: 12px;
        }
        .searchbar-input {
        font-size: 14px;
        color: #696D72;
        padding: 3px 16px 2px 40px;
        box-shadow: none !important;
        // border: 1px solid #E9EEF6;
        background-color: #E9EEF6 !important;
        }
      }
    }

    .text-input {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 0px !important;
    border-radius: 2px;
    background: #E9EEF6;
    }
  }

  ion-grid.agentID-Info {
  padding: 0;
  background: #FFF;
    ion-row {
    margin-left: 12px;
    margin-right: 12px;
    padding-bottom: 16px;
    border-bottom: 1px solid #dedede;
      ion-col {
        ion-item.userInfoBlock {
        padding: 0px !important;
        margin-bottom: 0px !important;
        border-radius: 0px !important;
          .item-inner {
          padding-left: 0px !important;
          padding-right: 0px !important;          
          border-bottom: none !important;
            .input-wrapper {
              ion-input {
              width: 100%;
                .text-input {
                width: 100%;            
                padding: 10px 12px;
                margin-bottom: 0px;
                background: #E9EEF6;    
                }   
              }
            }
          }
        }
      }
    }
  }

  .homeDescTxt {
  min-height: 120px;
  height: auto;
  margin-top: 11px;
  padding: 11px 10px;
  line-height: inherit;
  background: #e9eef6;
  box-sizing: border-box;
    h1, h2, h3, h4, h5, ,h6, p {
    margin-top: 0px !important;
      em, strong {      
      font-size: inherit !important;
      }
    }
    h1 {
    font-size: 2.6rem;      
    }
    h2 {
    font-size: 2.4rem;
    }
    h3 {
    font-size: 2.2rem;
    }
    h4 {
    font-size: 2rem;
    }
    h5 {
    font-size: 1.8rem;
    }
    h6 {
    font-size: 1.6rem;
    }
    p {
    font-size: 13px;
    line-height: 20px;
      &:last-child {
      margin-bottom: 0px !important;
      }
    }
  }

  .textHomepageSearch {
  border-radius: 2px;
  letter-spacing: .5px;
  white-space: normal;
  margin: 11px 0 0 0 !important;
  padding: 10px 10px 5px 10px  !important;  
  width: 100%;
  resize: none !important;
  background: #e9eef6;
    textarea {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: .5px;
    text-overflow: unset;
    width: 100% !important;
    max-width: 100% !important;
    min-height: 23px !important;
    max-height: 120px;
    height: 23px;
    padding: 0 !important;
    margin: 0 !important;
    resize: none;
    }
  }

  .textAreaSingle {
  border-radius: 2px;
  letter-spacing: .5px;
  white-space: normal;
  margin: 11px 0 0 0 !important;
  padding: 10px 10px 5px 10px  !important;
  background: #e9eef6;
  width: 100%;
  resize: none !important;
    textarea {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: .5px;
    text-overflow: unset;
    width: 100% !important;
    max-width: 100% !important;
    height: 23px;
    padding: 0 !important;
    margin: 0 !important;
    resize: none;
    }
  }

  .metaDescriptionSettings {
    ion-item {
    padding: 4px 16px 0 16px !important;
    border-bottom: none !important;
      .item-inner {
      padding-right: 0px  !important;
      }
    }
    .hmd {
    padding-top: 24px;
    // background: pink;
      ion-label {
      margin: 0;
      color: #999 !important;
      }
      .textAreaMetaDesc {
      border-radius: 2px;
      letter-spacing: .5px;
      white-space: normal;
      margin: 11px 0 0 0 !important;
      padding: 11px 10px 10px 10px !important;
      background: #e9eef6;
      width: 100%;
      resize: none !important;
      font-size: 13px;
      line-height: 20px;
      text-overflow: unset;
      width: 100% !important;
      max-width: 100% !important;
      min-height: 125px;
      margin: 11px 0 0 0 !important;
      padding: 11px 10px 10px 10px !important;
      border: none;
      }
    }
  }

  .wrapperArea {
  border-radius: 2px;
  letter-spacing: .5px;
  white-space: normal;
  margin: 11px 0 0 0 !important;
  padding: 11px 10px 10px 10px  !important;
  background: #e9eef6;
  width: 100%;
  resize: none !important;
    &.customCSS {
    // margin-bottom: 8px !important;
      textarea {
      resize: none;
      }
    }

    textarea {
    font-size: 13px;
    line-height: 20px;
    text-overflow: unset;
    width: 100% !important;
    max-width: 100% !important;
    min-height: 160px;    
    padding: 0 !important;
    margin: 0 !important;
    // resize: none !important;
    }
  }


  .expandText {
  height: 128px;
  font-size: 12px;
  line-height: 20px;
  text-overflow: unset;
  border-radius: 2px;
  white-space: normal;
  margin: 11px 0px !important;
  padding: 8px 10px !important;
  background: #e9eef6;
  width: 100%;
  resize: none;
  }

  .uploadPhoto {
    .HotSheetImageUploader {
    width: 100%;
    min-height: 210px;
    position: relative;
      &.imgFavicon {
      min-height: 32px;
        &:before {
        display: none;
        }
        .imgCropperPreviewResult {
          img {
          max-width: 32px;
          max-height: 32px;
          }
        }
      }

      &:before {
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      position: absolute;
      background: url("../assets/imgs/noImageAvailable.jpg") no-repeat center center #F5F5F5;      
      }    
    }

    .imgCropperPreview {
    display: block !important;
    }
  }

  .customList.cropFavicon {
  border-bottom: 0px !important;
  // padding-bottom: 6px !important;
  }

  .colorSchemeOptions {
  margin-left: -10px;
  margin-right: -10px;
    button {
    border-radius: 3px !important;
    border: none;
    background: #EDEDED;
    }
  }

  .formUI {
  border-radius: 6px;
  box-shadow: -1px 0px 18px 1px rgba(41, 81, 123, 0.15);
  background: #FFF !important;  
    ion-item, .customList {
    border-radius: 0px !important;
    margin-bottom: 0px !important;
    box-shadow: none !important;
    background: none !important;
    border-bottom: 1px solid #E2E2E2;
    }
    ion-item.filterColorOptions {
      .item-inner {
      border-bottom: none !important;
        ion-label {
          span {
          font-family: $font-one;
          font-size: 12px;
          font-style: italic;
          letter-spacing: .3px;
          padding-left: 6px;
          opacity: .7;
          }
        }
      }
    }
    .customList {
      &.colorSchemeBlock {
      padding-top: 3px;
      padding-bottom: 7px;
      border-bottom: none;
      }

      .customColorOption {
      border-radius: 6px !important;
        .label-ios, .label-md, .label-wp {
        margin: 14px 8px 14px 0 !important;
          .colorPreview {
          width: 26px;
          height: 22px;
          display: inline-block;
          z-index: 100;
          float: right;
          visibility: visible !important;
          margin: -3px 0 0 0;
          border-radius: 2px;
          right: 16px;
          position: absolute;          
          // background: #cacaca;
          background: #00d2ff;
          background: -webkit-gradient(linear, left bottom, left top, from(#1f9eff), to(#00d2ff));
          background: linear-gradient(to top, #1f9eff, #00d2ff);
          }
          .colorPreviewEmpty {
            width: 26px;
            height: 22px;
            display: inline-block;
            z-index: 100;
            float: right;
            visibility: visible !important;
            margin: -3px 0 0 0;
            border-radius: 2px;
            right: 16px;
            position: absolute;
            }
        }
      }

      .colorSchemeLabel {
      margin-top: 0px !important;
      padding-bottom: 16px;
      border-bottom: 1px solid #E2E2E2;
      }
    }
  }

  ion-content {
    .dashboardBtn {
    padding-bottom: 30px;
    }
  }
  .leadMapAddress {
    width: 100%;
    height: auto;
    padding: 16px;
    border-bottom: 1px solid #ebe9f0 !important;
    margin-bottom: 1px;
    overflow: hidden;  
      .addressBlock {
      width: 100%;
      max-width: 60%;
      float: left;
      display: block;
      padding-left: 55px;
      position: relative;
  
        .item-block, .item-inner, .item-inner, .input-wrapper {
        max-height: 24px;
        display: contents;
        }
  
        .label-ios, .label-md, .label-wp {
        padding: 0px !important;
        margin: 0px !important;
          // a {
          // color: red  !important;
          // }
        }
      
        ion-icon {
        font-size: 24px;
        position: absolute;
        left: 6px;
        top: -4px;
        color: #777;
        }
  
        h2 {
        font-size: 12px !important;
        // color: #b0b1b2 !important;
        color: #777 !important;
        margin-bottom: 6px !important;
        padding-bottom: 0px !important;
        }
        p {
        font-size: 14px !important;
        // color: #3c3d3f !important;
        color: $flatblue !important;
        line-height: 22px;
        padding: 0;
        margin: 0;
        }
      }
      .leadsHomeAddressMap, .leadsWorkAddressMap {
      width: 100%;
      max-width: 40%;
      float: right;    
      padding: 3px 0 0 15px;
      position: relative;
        &:before {
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        position: absolute;
        display: block;
        }
  
        #mapHome, #mapWork {      
        margin: 0;
        height: 110px !important; 
        // border: 1px solid #DDD;
          &:empty {
          display: none;
          }
        }
      } 
    }
}
