<!--
  Generated template for the CreateWebsitePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="dashboardUI">

  <ion-navbar>
    <ion-title>Add IDX to your Website</ion-title>
    <ion-buttons end>
      <button ion-button (click)="createWebsite()" [disabled]="!websiteForm.valid">
        <ion-icon name="ios-bookmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="dashboardUI">
  <form role="form" data-toggle="validator" #websiteForm="ngForm">
  
    <ion-list>
        
      <ion-item>
          <ion-label stacked>Website Name<span [ngClass]="{'error': identity_name==''}" *ngIf="identity_name==''">*</span></ion-label>
          <ion-input type="text" [(ngModel)]="identity_name" 
          name="identity_name" id="identity_name" required placeholder="Website Name"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label stacked>Website Domain<span [ngClass]="{'error': website_domain==''}" *ngIf="website_domain==''">*</span></ion-label>
          <ion-input type="text" [(ngModel)]="website_domain" 
          name="website_domain" id="website_domain" placeholder="http://www.mydomain.com" required></ion-input>
      </ion-item>

      <ion-item>
          <ion-label stacked>IDX Installed Location</ion-label>
          <ion-input type="text" [(ngModel)]="website_a_record_location" 
          name="website_a_record_location" id="website_a_record_location" 
          placeholder="Please type a subdomain of where you would like your IDX installed. Ex. http://search.mydomain.com"></ion-input>
      </ion-item>
   
      <ion-item>
          <ion-label stacked>Identity Phone Number</ion-label>
          <ion-input type="text" [(ngModel)]="identity_phone_number" 
          name="identity_phone_number" id="identity_phone_number" placeholder="(xxx) xxx-xxxx" [brmasker]="{mask:'(000) 000-0000', len:14, type:'num'}"></ion-input>
      </ion-item>
      
    </ion-list>
   
    <div class="animated lightSpeedIn formShadow blk2">

      <div class="itemPadding">
          <ion-label>Home Page Description</ion-label>
          <div id="homepage_description" contenteditable="true" class="expandText">
              Home Page Description
            </div>
          <!--<ion-label>Home Page Description</ion-label>
          
          <ckeditor
          [config]="CkeditorConfig"
          [readonly]="false" [(ngModel)]="homepage_description"
          (change)="homepageDescChanged($event)"
          (blur)="homepageDescBlured($event)"
          (focus)="homepageDescFocused($event)"
          (ready)="homepageDescCreated($event)"
          debounce="500" name="editorHomePageDescription">
          </ckeditor>-->
      </div>

      <ion-item>
          <ion-label stacked class="labelLarge">Homepage Search Text</ion-label>
          <ion-input type="text" class="expandInputText" [(ngModel)]="homepage_search_text" 
          name="homepage_search_text" id="homepage_search_text" 
          placeholder="Action sentence to draw people to search for listings"></ion-input>
      </ion-item>

      <!-- <ion-item>
          <ion-label stacked>Identity Phone Name</ion-label>
          <ion-input type="text" [(ngModel)]="identity_phone_number" 
          name="identity_phone_number" id="identity_phone_number" [brmasker]="{mask:'(000) 000-0000', len:14, type:'num'}"></ion-input>
      </ion-item>-->

      <ion-item>
          <ion-label stacked class="labelLarge">Homepage Meta Title</ion-label>
          <ion-textarea type="text" class="expandText" [(ngModel)]="homepage_meta_title" 
          name="homepage_meta_title" id="homepage_meta_title" ></ion-textarea>
      </ion-item>

      <div class="itemPadding bt16">
          <ion-label>Home Page Meta Description</ion-label>
          <textarea type="text" class="expandText" id="homepageMeta_description" name="homepageMeta_description" maxLength="500" [(ngModel)]="homepageMeta_description"></textarea>
          <!--<ckeditor
          [config]="CkeditorConfig"
          [readonly]="false" [(ngModel)]="homepageMeta_description"
          (change)="homepageMetaDescChanged($event)"
          (blur)="homepageMetaDescBlured($event)"
          (focus)="homepageMetaDescFocused($event)"
          (ready)="homepageMetaDescCreated($event)"
          debounce="500" name="editorHomePageDescription">
          </ckeditor>-->
      </div>
    </div>

    <ion-list class="animated lightSpeedIn blk6">
      
      <ion-item>
        <ion-label stacked>Intagent Website</ion-label>
        <!--<ion-checkbox color="royal" checked="true" [(ngModel)]="intagent_website" name="intagent_website" id="intagent_website" 
        required >Intagent Website</ion-checkbox>-->
        <!-- <ion-toggle checked="true" [(ngModel)]="intagent_website" name="intagent_website" id="intagent_website"></ion-toggle> -->
        <ion-checkbox color="royal" item-right checked="false" [(ngModel)]="intagent_website" name="intagent_website" id="intagent_website" 
            required >intagent_website</ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Is Active<span [ngClass]="{'error': isActive==false}" *ngIf="isActive==false">*</span></ion-label>
        <ion-checkbox color="royal" item-right checked="false" [(ngModel)]="isActive" name="isActive" id="isActive" 
        required >Is Active</ion-checkbox>
      </ion-item>      
    </ion-list>

    <div class="dashboardBtn">
      <button ion-button color="primary" block (click)="createWebsite();" [disabled]="!websiteForm.valid">Save Website</button>
    </div>

  </form>
</ion-content>
