<!--
  Generated template for the UpcomingSubscriptionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle start>
            <ion-icon name="menu"></ion-icon>
        </button>
      <ion-title>Upcoming Subscription</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
      <ion-refresher (ionRefresh)="viewAllUpcomingSubscription($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
      <!--<ion-chip *ngIf="notificationMsg!=''">
          <ion-label color="secondary">{{notificationMsg}}</ion-label>
      </ion-chip>-->
      <ion-list>
        <accordion *ngFor="let subscription of allUpcomingSubscription">
          <accordion-group>
              <accordion-heading>
                <ion-card>
                  <ion-item>
                  <h2>Total Due:{{subscription.total_due}}</h2>
                  <p>Date Charged:{{subscription.next_payment_date}}</p>
                  <p>Payment Status:<span *ngIf="subscription.payment_status==true">Paid</span><span *ngIf="subscription.payment_status!=true">Un-Paid</span></p>
                </ion-item>
                </ion-card>
              </accordion-heading>
      <ion-card>
          <ion-item *ngFor="let subscriptionItem of subscription.items">
          <h2>Item Amount:{{subscriptionItem.item_amount}}</h2>
          <p>Currency:{{subscriptionItem.item_currency}}</p>
          <p>Description:{{subscriptionItem.item_description}}</p>
       
        </ion-item>
        </ion-card>
      </accordion-group>
    </accordion>
      </ion-list>
     
      <!--<ion-chip *ngIf='allUpcomingSubscription.length<=0&&upcomingFoundMessage!=""'>
          <ion-label color="danger">{{upcomingFoundMessage}}</ion-label>
      </ion-chip>-->
  </ion-content>
  
<!--<ion-header>

  <ion-navbar>
    <ion-title>upcoming-subscription</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="viewAllBillingHistory($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  <ion-chip *ngIf="notificationMsg!=''">
      <ion-label color="secondary">{{notificationMsg}}</ion-label>
  </ion-chip>
  <ion-list>
  
  <ion-card>
      <ion-item *ngFor="let subscription of allSubscriptionHistory">
      <h2>Brand:{{creditCard.brand}}</h2>
      <p>Exp Year:{{creditCard.exp_year}}</p>
      <p>Exp Month:{{creditCard.exp_month}}</p>
      <button ion-button item-right color="danger" (click)="deleteCreditCard(credit)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item>
    </ion-card>
  
  </ion-list>

  <ion-chip *ngIf='allLeadsList.length<=0&&historyFoundMessage!=""'>
      <ion-label color="danger">{{historyFoundMessage}}</ion-label>
  </ion-chip>
</ion-content>-->