<!--
  Generated template for the EditAccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border class="dashboardUI colorEnabled background_color">

  <ion-navbar>
    <!-- <button ion-button menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>Edit Account</ion-title>
    <!-- <ion-buttons end>
      <button ion-button (click)="updateAccount();" [disabled]="!accountForm.valid">Update Account</button>
    </ion-buttons> -->
    <ion-buttons end>
      <button ion-button (click)="updateAccount();" [disabled]="!accountForm.valid">
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  
</ion-header>


<!-- Background color options -->
<!-- add class ("colorEnabled") to enable color overrides -->
<!-- add class ("custom-color-1, custom-color-2, or custom-color-3") to apply color overrides -->
<!-- ex. <ion-content class="generalInfoUI colorEnabled custom-color-1"> -->

<ion-content padding class="generalInfoUI">
<div class="dashboardBG colorEnabled background_color"></div>
  <form role="form" data-toggle="validator" #accountForm="ngForm">
    
    <!-- <ion-list class="animated fadeIn leadsProfileWrapper">
      <ion-item class="leadsProfile" sticky>        
        <ion-avatar class="imgFull">
        
          <img src="../assets/imgs/profile-photo.jpg">
          <img src="{{leadDetail.image_url}}" (error)="imgLead.src = this.sharedServiceObj.profileNoImage" #imgLead/>
  
          </ion-avatar>        
        </ion-item>
    </ion-list> -->

    <!-- <ion-list class="animated fadeIn leadsProfileWrapper">
      <ion-item class="leadsProfile">
        <ion-avatar class="imgFull">
        
        <img src="../assets/imgs/profile-photo.jpg">
        <img src="{{leadDetail.image_url}}" (error)="imgLead.src = this.sharedServiceObj.profileNoImage" #imgLead/>

        </ion-avatar>        
      </ion-item>
    </ion-list> -->

    <!--<ion-list class="animated fadeIn leadsProfileWrapper" *ngIf="accountInfo!=null">
      <ion-item class="leadsProfile">
  
        <ion-avatar class="imgFull" *ngIf="globalSettings!=null&&!loadNewPersonalImage">
          <img src={{this.sharedServiceObj.imgBucketUrl}}{{globalSettings.photo_personal}} (error)="imgAccount.src = this.sharedServiceObj.profileNoImage" #imgAccount/>          
        </ion-avatar>
        <ion-avatar class="imgFull" *ngIf="loadNewPersonalImage">
          <img [src]="dataPersonalImage.image" [width]="personalWidth"
          [height]="personalHeight">        
        </ion-avatar>
        <button ion-button (click)="editImage(globalSettings.photo_personal,'personal');">
          <ion-icon name="md-create"></ion-icon>
        </button>
      </ion-item>
    </ion-list>-->

    <ion-list class="animated fadeIn leadsProfileWrapper uploadPhoto">
      <div class="AccountImageUploader">

          <!--<img-cropper #personalCropper [image]="dataPersonalImage" [settings]="cropperSettings"
          (onCrop)="personalImageCropped($event)" *ngIf="hideImageCropper"></img-cropper>-->
          
          <div class="imgCropperPreviewResult" *ngIf="dataPersonalImage.image" >
          <img [src]="dataPersonalImage.image" [width]="personalWidth"
          [height]="personalHeight">
          </div>

          <input id="custom-input" class="btnUpload" type="file" accept=".png, .jpg, .jpeg" 
          capture="camera" multiple (change)="personalFileChangeListener($event)">
          <button ion-button (click)="editImage('personal');" *ngIf="isImageExist">
            <ion-icon name="md-create"></ion-icon>
          </button>
          <!--<input id="custom-input" class="btnUpload colorEnabled button_color" type="file" accept=".png, .jpg, .jpeg" capture="camera" multiple (change)="personalFileChangeListener($event)">-->

      </div>
    </ion-list>

    <!-- <ion-list class="animated fadeIn leadsProfileWrapper uploadPhoto">        
        
        <ion-item *ngIf="dataPersonalImage.image">
          <ion-label>Edit Image</ion-label>
          <ion-toggle [(ngModel)]="edit_personal_logo" 
          name="edit_personal_logo" (click)="showHidePersonLogoCropper()"></ion-toggle>
        </ion-item>
        
    </ion-list> -->


    



    <ion-list class="animated fadeIn leadsInfo">
      
      <ion-item class="userInfoBlock ReqField">
        <ion-label stacked><span [ngClass]="{'error': first_name==''}" *ngIf="first_name==''">*</span></ion-label>
        <ion-icon name="ios-person" item-start></ion-icon>        
        <ion-input type="text" required [(ngModel)]="first_name" name="first_name" placeholder="First Name"></ion-input>
      </ion-item>

      <ion-item class="userInfoBlock ReqField">
        <ion-label stacked><span [ngClass]="{'error': last_name==''}" *ngIf="last_name==''">*</span></ion-label>
        <ion-icon name="ios-person" item-start></ion-icon>                
        <ion-input type="text" required [(ngModel)]="last_name" name="last_name" placeholder="Last Name"></ion-input>
      </ion-item>
      <ion-item class="userInfoBlock ReqField">
        <ion-label stacked><span [ngClass]="{'error': agent_title==''}" *ngIf="agent_title==''">*</span></ion-label>
        <ion-icon name="ios-person" item-start></ion-icon>                
        <ion-input type="text" required [(ngModel)]="agent_title" name="agent_title" placeholder="Agent Title"></ion-input>
      </ion-item>
      <!--<div id="inline-editor1" contenteditable="true">
        Click here to see the inline editor
      </div>-->
      <ion-item class="userInfoBlock ReqField">
        <ion-label stacked><span [ngClass]="{'error': email==''}" *ngIf="email==''">*</span></ion-label>
        <ion-icon name="ios-mail-outline" item-start></ion-icon>
        <ion-input type="email" [(ngModel)]="email" name="email" [email]="true" required placeholder="Email"></ion-input>
      </ion-item>

      <ion-item class="userInfoBlock ReqField">
        <ion-label stacked><span [ngClass]="{'error': passwordUpdated==''}" *ngIf="passwordUpdated==''">*</span></ion-label>
        <ion-icon name="md-lock" item-start></ion-icon>
        <ion-input type="password" required [(ngModel)]="passwordUpdated" name="passwordUpdated" placeholder="Password"></ion-input>
      </ion-item>

      <ion-item class="userInfoBlock ReqField">
        <ion-icon name="md-call" item-start></ion-icon>
        <!-- <ion-label stacked><span [ngClass]="{'error': phone_number==null}" *ngIf="phone_number==null">*</span></ion-label>         -->
        <ion-input type="text" name="phone_number" [(ngModel)]="phone_number" placeholder="Cell Number" [brmasker]="{phone: true}"></ion-input>
      </ion-item>
      <ion-item class="OptMLS noShadow" *ngIf="service_id=='2'||service_id=='1'">
        <ion-label stacked>Select your MLS</ion-label>
        <ion-select placeholder="-----" [(ngModel)]="mls_server_id"  
        name="mls_server_id" multiple="true">
          <ion-option *ngFor="let mls of allMls" value= {{mls.mls_server_id}}>{{mls.name}}
           </ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="userInfoBlock ReqField">
        <ion-icon name="md-briefcase" item-start></ion-icon>
        <!-- <ion-label stacked><span [ngClass]="{'error': agent_id==''}" *ngIf="agent_id==''">*</span></ion-label>         -->
        <ion-input type="text" [(ngModel)]="agent_id" name="agent_id" placeholder="Agent ID"></ion-input>
      </ion-item>

      <ion-item class="userInfoBlock ReqField">
        <ion-icon name="md-briefcase" item-start></ion-icon>
        <!-- <ion-label stacked><span [ngClass]="{'error': broker_id==''}" *ngIf="broker_id==''">*</span></ion-label> -->
        <ion-input type="text" [(ngModel)]="broker_id" name="broker_id" placeholder="Broker ID" ></ion-input>
      </ion-item>

      <ion-item class="userInfoBlock ReqField">
        <ion-icon name="md-briefcase" item-start></ion-icon>
        <!-- <ion-label stacked><span [ngClass]="{'error': office_id==''}" *ngIf="office_id==''">*</span></ion-label> -->
        <ion-input type="text" [(ngModel)]="office_id" name="office_id" placeholder="Office ID" ></ion-input>
      </ion-item>

      <ion-item class="userInfoBlock">
        <ion-label stacked>Select Country<span [ngClass]="{'error': selectedCountryAbbv==''}" *ngIf="selectedCountryAbbv==''">*</span></ion-label>
        <ion-select [(ngModel)]="selectedCountryAbbv" name="selectedCountryAbbv" 
        (ngModelChange)="onCountryCodeSelection($event);" required >
          <ion-option value="">--- Select Country Code ---</ion-option>
          <ion-option *ngFor="let countryCode of allCountryCodes" value={{countryCode.country_abbv}}>
            {{countryCode.name}}
          </ion-option>
        </ion-select>
      </ion-item>

    </ion-list>

    <ion-list class="leadNotes">
      <ion-item>
        <h2 class="contentTitle">Description</h2>
        <!--<textarea type="text" class="expandText" id="user_description" name="user_description" 
        [(ngModel)]="user_description"></textarea>-->
        <div id="user_description_editor" contenteditable="true" class="homeDescTxt"></div>
      </ion-item>
    </ion-list>

    <div class="dashboardBtn">
        <button ion-button color="primary" class="colorEnabled button_color" block  (click)="updateAccount();"
         [disabled]="!accountForm.valid">Update Account</button>
         <button ion-button color="primary" class="colorEnabled button_color" block  (click)="moveGlobalSettings();" *ngIf="isGlobalPreference==true">Global Settings</button>
    </div>

  </form>  
</ion-content>
