<!--
  Generated template for the EditAccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border class="dashboardUI">

  <ion-navbar>
    <!-- <button ion-button menuToggle start>
        <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>Edit Account</ion-title>
    <!-- <ion-buttons end>
      <button ion-button (click)="updateAccount();" [disabled]="!accountForm.valid">Update Account</button>
    </ion-buttons> -->
    <ion-buttons end>
      <button ion-button (click)="updateAccount();" [disabled]="!accountForm.valid">
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  
</ion-header>


<ion-content padding class="dashboardUI">
    <ion-chip *ngIf="accountInfoUpdateMsg!=''">
        <ion-label color="danger">{{accountInfoUpdateMsg}}</ion-label>
      </ion-chip>
  <form role="form" data-toggle="validator" #accountForm="ngForm">

    <div class="formShadow">
      <ion-item>
          <ion-label stacked>First Name<span [ngClass]="{'error': first_name==''}" *ngIf="first_name==''">*</span></ion-label>
          <ion-input type="text" required [(ngModel)]="first_name" name="first_name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Last Name<span [ngClass]="{'error': last_name==''}" *ngIf="last_name==''">*</span></ion-label>
          <ion-input type="text" required [(ngModel)]="last_name" name="last_name" ></ion-input>
        </ion-item>
        <!--<ion-item>
          <ion-label stacked>Company</ion-label>
          <ion-input type="text" [(ngModel)]="company" name="company" ></ion-input>
        </ion-item>-->
      <ion-item>
          <ion-label stacked>Email Address<span [ngClass]="{'error': email==''}" *ngIf="email==''">*</span></ion-label>
          <ion-input type="email" [(ngModel)]="email" name="email" [email]="true" required></ion-input>
        </ion-item>
      
        <ion-item>
          <ion-label stacked>Password<span [ngClass]="{'error': passwordUpdated==''}" *ngIf="passwordUpdated==''">*</span></ion-label>
          <ion-input type="password" required [(ngModel)]="passwordUpdated" name="passwordUpdated" 
          ></ion-input>
        </ion-item>
        <ion-list *ngIf="isApp">
          <ion-item>
            <button ion-button color="primary" block (click)="takePersonalPicture();" >Select Personal Image</button>
          </ion-item>
          <ion-item *ngIf="personalImage!=''">
            <img [src]="personalImage" />
          </ion-item>
        </ion-list>
      
        <ion-list *ngIf="!isApp" class="customList uploadPhoto">
          <ion-list-header>Upload personal Photo</ion-list-header>
          <ion-item *ngIf="dataPersonalImage.image">
            <ion-label>Edit Image</ion-label>
            <ion-toggle [(ngModel)]="edit_personal_logo" 
            name="edit_personal_logo" (click)="showHidePersonLogoCropper()"></ion-toggle>
          </ion-item>
          <input id="custom-input" type="file" accept=".png, .jpg, .jpeg" capture="camera" multiple (change)="personalFileChangeListener($event)">
       
          <img-cropper #personalCropper [image]="dataPersonalImage" [settings]="cropperSettings"
           (onCrop)="personalImageCropped($event)" *ngIf="hideImageCropper"></img-cropper>
          <br>
          <span *ngIf="dataPersonalImage.image" >
              <img [src]="dataPersonalImage.image" [width]="personalWidth"
               [height]="personalHeight">
          </span>
        </ion-list>
      </div>
      
      <div class="formShadow"> 
        <ion-item>
            <ion-label stacked>MLS Agent ID<span [ngClass]="{'error': agent_id==''}" *ngIf="agent_id==''">*</span></ion-label>
            <ion-input type="text" required [(ngModel)]="agent_id" name="agent_id"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Broker ID<span [ngClass]="{'error': broker_id==''}" *ngIf="broker_id==''">*</span></ion-label>
            <ion-input type="text" required [(ngModel)]="broker_id" name="broker_id" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Office ID<span [ngClass]="{'error': office_id==''}" *ngIf="office_id==''">*</span></ion-label>
            <ion-input type="text" required [(ngModel)]="office_id" name="office_id" ></ion-input>
          </ion-item>
        <ion-item>
            <ion-label stacked>Select Country<span [ngClass]="{'error': selectedCountryAbbv==''}" *ngIf="selectedCountryAbbv==''">*</span></ion-label>
            <ion-select [(ngModel)]="selectedCountryAbbv" name="selectedCountryAbbv" 
            (ngModelChange)="onCountryCodeSelection($event);" required >
              <ion-option value="">--- Select Country Code ---</ion-option>
              <ion-option *ngFor="let countryCode of allCountryCodes" value={{countryCode.country_abbv}}>
                {{countryCode.name}}
              </ion-option>
            </ion-select>
          </ion-item>
        <ion-item>
            <ion-label stacked>Cell Number<span [ngClass]="{'error': phone_number==null}" *ngIf="phone_number==null">*</span></ion-label>
            <ion-input type="text" name="phone_number" [(ngModel)]="phone_number" placeholder="Phone Number" 
            [brmasker]="{phone: true}"></ion-input>
            <!--<ion-input type="tel" [(ngModel)]="phone_number" name="phone_number" 
            required pattern="^[0-9]*$"></ion-input>-->
          </ion-item>
          <div class="customList">
            <ion-label stacked>Description</ion-label>
              <ckeditor
              [config]="CkeditorConfig"
              [readonly]="false" [(ngModel)]="user_description"
              (change)="userDescChanged($event)"
              (blur)="userDescBlured($event)"
              (focus)="userDescFocused($event)"
              (ready)="userDescCreated($event)"
              debounce="500" name="user_description">
              </ckeditor>
            </div>
        </div>

      <div class="dashboardBtn">
          <button ion-button color="primary" block  (click)="moveGlobalSettings();" *ngIf="isGlobalPreference==true">Global Settings</button>
          <button ion-button color="primary" block  (click)="updateAccount();"
           [disabled]="!accountForm.valid">Update Account</button>
      </div>
  </form>
  <ion-chip *ngIf="accountInfoUpdateMsg!=''">
      <ion-label color="danger">{{accountInfoUpdateMsg}}</ion-label>
    </ion-chip>
</ion-content>
