<!--
  Generated template for the AllLeadsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="dashboardUI colorEnabled background_color">
  <ion-navbar>
    <button ion-button menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>All Contacts</ion-title>
    <ion-buttons end>
      <button ion-button icon-left (click)="createLead();" *ngIf="isCreateLeadAccess==true">
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="dashboardUI">

  <ion-refresher (ionRefresh)="viewAllLeads($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!--<ion-chip *ngIf="notificationMsg!=''">
    <ion-label color="secondary">{{notificationMsg}}</ion-label>
  </ion-chip>-->
  
  <div class="centerStage animated lightSpeedIn">
  <ion-searchbar [(ngModel)]="searchLeadTerm" (ionInput)="setLeadFilteredItems()"></ion-searchbar>
  <ion-list class="noShadow">
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select [(ngModel)]="category" name="category" id="category" (ngModelChange)="filterItemsByCategory()">
       
        <ion-option value="buyer">Buyer</ion-option>
        <ion-option value="seller">Seller</ion-option>
        <ion-option value="prospect">Prospect</ion-option>
        <ion-option value="friend">Friend</ion-option>
        <ion-option value="client">Client</ion-option>
        <ion-option value="active">Active</ion-option>
        <ion-option value="pending">Pending</ion-option>
        <ion-option value="closed">Closed</ion-option>
        <ion-option value="old">Old</ion-option>
        <ion-option value="new">New</ion-option>
        <ion-option value="other">Other</ion-option>

      </ion-select>
    </ion-item>
  </ion-list>
  </div>
  
  <ion-list-header class="centerStage centerStage animated lightSpeedIn contactList">Contact Name</ion-list-header>

  <!--<div class="formShadow">
  <ion-list class="animated lightSpeedIn noShadow">

    <ion-item *ngFor="let lead of searchedLeadsList">
      
        <ion-item (click)="leadDetail(lead.lead_id);">
            <ion-avatar item-start *ngIf="leadDetail!=undefined">
              <img src="assets/imgs/profile-photo.jpg">
            </ion-avatar>
            <h2>{{lead.first_name}} <b>{{lead.last_name}}</b></h2>
          </ion-item>
            <button ion-button color="primary" item-right class="roundedOption btn-settings" *ngIf="isEditLeadAccess==true" (click)="editLead(lead.lead_id)">
              <ion-icon name="ios-brush">Edit</ion-icon>
            </button>    
            <button ion-button color="danger" item-right class="roundedOption btn-del" (click)="deleteLead(lead)" *ngIf="isDeleteLeadAccess==true">
              <ion-icon name="md-trash">Delete</ion-icon>
            </button>
    </ion-item>    
  </ion-list>
  </div>-->

  <div class="centerStage formShadow">
  <ion-list class="animated lightSpeedIn noShadow">
    
    <ion-item-sliding *ngFor="let lead of searchedLeadsList;let i = index">
      
      <ion-item>
        
        <ion-avatar item-start *ngIf="lead!=undefined" (click)="leadDetail(lead.lead_id);">
            <img src={{this.sharedServiceObj.imgBucketUrl}}{{lead.image_url}} 
            (error)="imgLead.src = this.sharedServiceObj.profileNoImage" #imgLead/>
          <!--<img src="assets/imgs/profile-photo.jpg">-->
        </ion-avatar>
        <h2 class="cName" (click)="leadDetail(lead.lead_id);">{{lead.first_name}} <b>{{lead.last_name}}</b></h2>
          <span *ngIf="lead.app_installed!=undefined&&lead.app_installed=='0'">
            <ion-badge color="primary" class="badgeInvite colorEnabled button_color" 
            (click)="invitationPopUp(lead);">Invite</ion-badge></span>
        <!-- <p class="cEmail" data-placeholder="N/A">{{lead.email}}</p> -->
        
        <!-- <h2>{{lead.first_name}}-{{lead.last_name}}</h2>
        <p>Email:{{lead.email}}</p>
        <p>Website:{{lead.website}}</p>
        <p>Mobile Number:{{lead.phone_mobile}}</p>
        <p>Office Number:{{lead.phone_office}}</p>
        <p>Home:{{lead.phone_home}}</p> -->

        <ion-icon class="light" name="arrow-forward" item-right></ion-icon>
      </ion-item>
      
      <ion-item class="desktopOption" side="right" *ngIf="!isApp">
        <div class="optionIcon" *ngIf="!isApp"></div>        
        <button ion-button color="danger" item-right class="btn-del" (click)="deleteLead(lead)" *ngIf="isDeleteLeadAccess==true">
          <ion-icon name="md-close"></ion-icon>Delete
        </button>
        <button ion-button color="primary" item-right class="btn-edit" (click)="editLead(lead.lead_id)" *ngIf="isEditLeadAccess==true">
          <ion-icon name="md-create"></ion-icon>Edit
        </button>
      </ion-item>

      <ion-item-options side="right" *ngIf="isApp">
        <button ion-button color="primary" item-right class="btn-edit" (click)="editLead(lead.lead_id)" *ngIf="isEditLeadAccess==true">
          <ion-icon name="md-create"></ion-icon>Edit
        </button>
        <button ion-button color="danger" item-right class="btn-del" (click)="deleteLead(lead)" *ngIf="isDeleteLeadAccess==true">
          <ion-icon name="md-close"></ion-icon>Delete
        </button>
      </ion-item-options>
<span *ngIf="i==searchedLeadsList.length-1">{{updateColorTheme()}}</span>
    </ion-item-sliding>
  </ion-list>
  </div>

  <!-- <div>
    <ion-segment *ngIf="userWebsites.length>0">
      <ion-segment-button (click)="sendToPaperWork();" *ngIf="isLeadSetupAccess==true">
        Where to send leads
      </ion-segment-button>
      <ion-segment-button (click)="createLead();" *ngIf="isCreateLeadAccess==true">
        Create Lead
      </ion-segment-button>
    </ion-segment>
  </div> -->

  <!--<ion-chip *ngIf='searchedLeadsList.length<=0&&leadsFoundMessage!=""'>
    <ion-label color="danger">{{leadsFoundMessage}}</ion-label>
  </ion-chip>-->

</ion-content>
