<!--
  Generated template for the AllLeadsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle start>
        <ion-icon name="menu"></ion-icon>
      </button>
  <ion-title>ALL LEADS</ion-title>
  <ion-buttons end>
    <button ion-button (click)="createLead();">Create Lead</button>
  </ion-buttons>
</ion-navbar>

</ion-header>


<ion-content padding>
    <ion-refresher (ionRefresh)="viewAllLeads($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
    <ion-chip *ngIf="notificationMsg!=''">
        <ion-label color="secondary">{{notificationMsg}}</ion-label>
    </ion-chip>
    <ion-list>
        <ion-item *ngFor="let lead of allLeadsList">
          <h2>{{lead.first_name}}-{{lead.last_name}}</h2>
          <p>Email:{{lead.email}}</p>
          <p>Website:{{lead.website}}</p>
          <p>Mobile Number:{{lead.phone_mobile}}</p>
          <p>Office Number:{{lead.phone_office}}</p>
          <p>Home:{{lead.phone_home}}</p>
          <button ion-button item-right color="danger" (click)="deleteLead(lead)">
            <ion-icon name="trash"></ion-icon>
          </button>
          <button ion-button item-right color="secondary" (click)="editLead(lead.lead_id)">
              <ion-icon name="create"></ion-icon>
            </button>
            <!--<button ion-button item-right color="secondary" (click)="editLeadRouting(lead.website_id)">
              <ion-icon name="construct"></ion-icon>
            </button>-->
        </ion-item>
       
    </ion-list>
    <ion-chip *ngIf='allLeadsList.length<=0&&leadsFoundMessage!=""'>
        <ion-label color="danger">{{leadsFoundMessage}}</ion-label>
    </ion-chip>
</ion-content>
