page-all-leads {

  ion-list-header.contactList {
    .item-inner {
      .input-wrapper {
        .label-ios, .label-md, .label-wp {
        padding-left: 16px;
        }
      }
    }
  }

  ion-navbar {
    .back-button {
    display: none !important;
    }
  }

  ion-app.ios [padding] {
  padding: 20px !important;
  }

  .searchbar-ios, .searchbar-md, .searchbar-wp {
  min-height: unset;
  border-radius: 0;
  padding: 0;
  border: none;  
  background: none;
    .searchbar-input-container {
    margin-top: 16px;
    border-radius: 0;
    border-bottom: 2px solid #ebe9f0;
      .searchbar-search-icon {
      top: 16px;
      left: 16px;
      }
      .searchbar-input {      
      padding-left: 36px;
      padding-right: 10px;
      min-height: 45px;
      border-radius: 5px 5px 0 0;      
      }
    }
  }

  ion-list {
  overflow: unset;
  box-shadow: -1px 0px 18px 1px rgba(41, 81, 123, 0.15);      
    &:first-child {
    border-bottom: 0.55px solid #ebe9f0 !important;
    }
    &:last-child {
    border-bottom: none !important;
    }
  }
  
  ion-content {
    &.dashboardUI {
        
        &.colorEnabled {
          &:before {
          opacity: 1;
          z-index: 1;
          }
          &:after {
          background: #EBF0F5 !important;
          }
        }

      &:before {
      height: 63px;
      z-index: 1;
      }
      &:after {
      height: 100vh;
      }
    }
  }

  .item-ios, .item-md, .item-wp {
  margin-left: 0px !important;
  padding-left: 0px !important;
    .item-inner {    
    padding-left: 16px !important;
    padding-right: 8px !important;
    margin-left: 0px !important;
    border-bottom: 0.55px solid #ebe9f0 !important;
      h2 {
      margin-top: 0px;
      }
    }
  }

  ion-content.dashboardUI .formShadow {
  border-radius: 5px !important;
  box-shadow: -1px 0px 8px rgba(214, 220, 226, 0.51) !important;  
  }

  ion-badge.badgeInvite {
  font-size: 11px;
  font-weight: 400;
  color: #FFF;
  width: 52px;  
  border-radius: 20px;
  border: 1px solid lighten($color-6, 20%) !important;
  background: lighten($color-6, 25%) !important;
  cursor: pointer;
  }

  ion-icon {
  font-family: $font-three !important;
  font-size: 11px !important;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: #FFF !important;
    &:before {
    font-size: 22px;
    display: block;
    padding-bottom: 5px;
    }
  }

  ion-item-sliding {        
    .item-ios, .item-md, .item-wp {    
    padding-left: 16px !important;

      .item-inner {
      padding-left: 0px !important;
      padding-right: 0px !important;
      border-bottom: 0.55px solid red; 

        .label-ios, .label-md, .label-wp {
        font-family: $font-three;
          h2 {
          width: auto;
          position: relative;
          display: table;
          font-family: $font-three !important;
          font-size: 15px;
          font-weight: 400;
          color: #454545;
          letter-spacing: .2px;
            strong, b {
            font-family: $font-four !important;
            font-size: 16px !important;
            font-weight: 700;
            color: #444;
            }
            .badgeInvite {
            font-size: 11px;
            font-weight: 400;
            color: #FFF;            
            position: absolute;
            right: -58px;
            top: 0px;
            width: 48px;
            color: lighten($color-6, 30%);
            border: 1px solid lighten($color-6, 30%) !important;
            background: transparent;
            }
          }
          .cEmail {
          font-size: 13px;
          opacity: .75;
          }          
        }
      }      
    }
  }

  .item-ios {
    ion-avatar {
      // ion-img, img {
      // width: 46px !important;
      // height: 46px !important;
      // }
    }
  }

  .list-header-ios, .list-header-md, .list-header-wp {
  margin: 0;
  padding: 0;
  // border: none !important;
    
    .item-inner {
    padding-left: 0px !important;    
      .input-wrapper {
        .label-ios, .label-md, .label-wp {
        font-family: $font-three;
        font-size: 16px;
        letter-spacing: 0px;
        text-transform: none;
        color: lighten(#696D72, 6%);
        margin: 0;
        padding: 0;
        }
      }
    } 
  }

  .segment-button {
  min-height: 40px !important;
  line-height: 38px !important;
  color: darken($color-1, 5%) !important;
  border-color: darken($color-1, 5%) !important;
  @extend %transition;
    &:hover {
    color: #FFF !important;
    border-color: darken($color-1, 5%) !important;
    background-color: darken($color-1, 5%) !important;
    }
  }

  ion-content {
    &.dashboardUI {
      ion-item:first-child {
      border-radius: 0px;
      }
    }
    &.colorEnabled {
    background: #EBF0F5 !important;
    }
  }

  ion-item-sliding {
  max-height: 70px;
    &:hover {
      .optionIcon {
      opacity: .7;
      }
    }    
    .optionIcon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 12px;
    right: 7px;
    display: block;
    background: url("../assets/icon/svg/edit.svg") no-repeat center center !important;
    background-size: 100% !important;
    opacity: .7;
    @extend %transition;
    }
  }
  
  ion-item-sliding, ion-item-options, .desktopOption {
    
    ion-icon {
    color: #FFF !important;
      &:before {
      font-size: 22px;
      display: block;
      padding-bottom: 5px;
      }
    }

    .btn-edit, .btn-lead, .btn-status, .btn-del {
      .button-inner {
      min-width: 40px !important;
      font-family: $font-three;
      font-size: 10px !important;
      text-transform: uppercase;
      letter-spacing: .5px;
      color: #FFF !important;
      }
    }

    .btn-edit {  
    background: #1d7bce !important;
    }
    .btn-lead {    
    background: #37467a !important;
    }
    .btn-status {    
    background: #1D79A2 !important;
    }
    .btn-del {    
    background: #F53D3D !important;
    }
  
  }

  // For Desktop Option
  .desktopOption {  
  width: auto;
  display: table;
  float: right;
  top: 2px !important;
  right: 6px !important;
  padding: 0px !important;
  position: absolute;
  background: transparent;  
    &:hover, &:focus {
      &:before {
      opacity: 1;
      }

      button {
      opacity: 1;
      }
    }

    button {
    @extend %transition;
    opacity: 0;
    }

    .item-inner {
    border: none !important;
    }

    ion-icon {
    color: #FFF !important;
    margin-right: 6px;
      &:before {
      font-size: 16px;
      display: block;
      padding-bottom: 5px;
      }
    }
    .btn-edit, .btn-lead, .btn-status, .btn-del {
    height: 32px;    
    min-height: 32px;
      .button-inner {
      padding: 0 8px;
      }
    }
  }
  
  ion-item-options {
  border-bottom: none !important;
  }

  .list-ios, .list-md, .list-wp {
    > .item-block:last-child, > .item-wrapper:last-child .item-block {
    border-bottom: none !important;      
    }
    > .item-wrapper:last-child {
        .item-block {
          .item-inner {
          border-bottom: none !important;
          }
        }
      }
    ion-item-options {
    border-bottom: none !important;
    }    
  }
  
}