<!--
  Generated template for the GlobalPreferencesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="dashboardUI colorEnabled background_color">

  <ion-navbar>
    <!-- <button ion-button menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>Global Preferences</ion-title>
    <ion-buttons end>
      <button ion-button (click)="updateGlobalSettings();" [disabled]="!globalSettingsForm.valid">
        <ion-icon name="ios-bookmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="dashboardUI">
<div class="dashboardBG colorEnabled background_color"></div>
  <!-- <h1 class="contentTitle animated bounceInRight">Global Preferences</h1> -->

  <form role="form" data-toggle="validator" #globalSettingsForm="ngForm" class="animated fadeIn">
     
    <div class="formUI"> 
      <ion-item class="identityName b32">
          <ion-label stacked>Identity Name<span [ngClass]="{'error': identity_name==''}" *ngIf="identity_name==''">*</span></ion-label>
          <ion-input type="text" required [(ngModel)]="identity_name" name="identity_name" placeholder="my name or team"></ion-input>
        </ion-item>
      
      <ion-list *ngIf="isApp">

          <ion-item class="customList nobrTop">
            <button ion-button color="primary" block (click)="takeCompanyLogoPicture();" >Select Identity Photo</button>
          </ion-item>
          <ion-item *ngIf="companyLogoImage!=''">
            <img [src]="companyLogoImage" />
          </ion-item>
          <!--<ion-item>
            <button ion-button color="primary" block (click)="takePersonalPicture();" >Select Personal Image</button>
          </ion-item>
          <ion-item *ngIf="personalImage!=''">
            <img [src]="personalImage" />
          </ion-item>-->
          </ion-list>
      
          <ion-list *ngIf="!isApp" class="customList uploadPhoto">
              
            <ion-list-header><h2>Select Identity Photo</h2></ion-list-header>

            <!-- Main Image Uploader -->
            <div class="AccountImageUploader">

              <!-- Image Cropper Result -->
              <div class="imgCropperPreviewResult" *ngIf="dataCompanyLogoImage.image">
              <img [src]="dataCompanyLogoImage.image" [width]="companyWidth"
               [height]="companyHeight">                   
              </div>

              <!-- Image Upload Button -->
              <input id="custom-input" class="btnUpload" type="file" accept=".png, .jpg, .jpeg" capture="camera" multiple (change)="companyFileChangeListener($event)">
              <button ion-button (click)="editImage('companyImage');" *ngIf="isCompanyImageExist">
                <ion-icon name="md-create"></ion-icon>
              </button>
            </div>
            

          <!--<ion-list-header>
            <h2>Select Personal Logo</h2>
          </ion-list-header>
          <ion-item *ngIf="dataPersonalImage.image">
            <ion-label>Edit Image</ion-label>
            <ion-toggle [(ngModel)]="edit_personal_image" name="edit_personal_image" (click)="showHidePersonalCropper()"></ion-toggle>
          </ion-item>
          <input id="custom-input" type="file" accept=".png, .jpg, .jpeg" capture="camera" multiple (change)="personalFileChangeListener($event)">
       
          <img-cropper #personalCropper [image]="dataPersonalImage" [settings]="personalCropperSettings"
           (onCrop)="personalImageCropped($event)" *ngIf="hidePersonalCropper"></img-cropper>
          <br>
          <span *ngIf="dataPersonalImage.image" >
              <img [src]="dataPersonalImage.image" [width]="personalWidth"
               [height]="personalHeight">
              
          </span>-->
      
        </ion-list>

        <div class="customList b18 timezoneBlock" *ngIf="globalSettings&&user.timezone!=null">
          <ion-label>Time Zone<span [ngClass]="{'error': timezone==''}" *ngIf="timezone==''">*</span>
          </ion-label>
          <ng2-timezone-picker
          [timezone]="user.timezone"
          (change)="changeTimezone($event)"
          placeholder="Select timezone"
          showOffset="true"
          guess="true">
          </ng2-timezone-picker>
        </div>
    </div>
    

    <!--<ion-input type="text" required [(ngModel)]="timezone" name="timezone" id="timezone"></ion-input>-->
    <!--<ion-select [(ngModel)]="access_level" 
    name="access_level" required>
    <ion-option value="admin">Admin</ion-option>
    <ion-option value="agent">Agent</ion-option>
    </ion-select>-->

  
  <div class="formUI" style="margin-top: 16px;">

    <ion-item class="filterColorOptions">
      <ion-label>Color Settings <span>(preset colors are generated from your logo)</span></ion-label>
      <!-- <ion-toggle checked="customColorOptionModal" (ionChange)="toggleCustomColor()" [(ngModel)]="customColorOptionModal" name="customColorOption"></ion-toggle> -->
    </ion-item>


    <ion-list *ngIf="selectedRoute==''" class="customList colorSchemeBlock">
    
    <!-- <label class="colorSchemeLabel">Color Scheme</label> -->
    
    <ion-grid>
    <ion-row class="colorSchemeOptions">
      <ion-col col-4>
      <div *ngIf="colorBase!=''">
      <ion-label stacked>1st Color</ion-label>
    
        <button ion-button color="secondary" outline [colorPicker]="colorBase" 
        (colorPickerChange)="colorBase=$event"
        [ngStyle]="{'background-color': colorBase}" [cpPosition]="'bottom'" 
           [cpOutputFormat]="'rgb'" full small>Change Color</button>
           
      <!--<div [colorPicker]="colorBase" 
      (colorPickerChange)="colorBase=$event"
        [style.background]="colorBase" [cpPosition]="'bottom'" 
         [cpOutputFormat]="'rgba'" >Select Color</div>-->
      </div>
      </ion-col>
      <ion-col col-4>
      <div *ngIf="secondColor!=''">
          <ion-label stacked>2nd Color</ion-label>
          <button ion-button color="secondary" outline [colorPicker]="secondColor" 
          (colorPickerChange)="secondColor=$event"
          [ngStyle]="{'background-color': secondColor}" [cpPosition]="'bottom'" [cpCancelButton]="true" 
            [cpCancelButtonClass]="'btn btn-primary btn-xs'" [cpOutputFormat]="'rgb'" full small>Change Color</button>
          <!--<ion-input [colorPicker]="secondColor" 
          (colorPickerChange)="secondColor=$event"
            [style.background]="secondColor" [cpPosition]="'bottom'" [cpCancelButton]="true" 
            [cpCancelButtonClass]="'btn btn-primary btn-xs'"
            [value]="secondColor" [cpOutputFormat]="'rgba'"></ion-input>-->
      </div>
      </ion-col>
      <ion-col col-4>
      <div *ngIf="thirdColor!=''">
            <ion-label stacked>3rd Color</ion-label>
            <button ion-button color="secondary" outline [colorPicker]="thirdColor" 
            (colorPickerChange)="thirdColor=$event"
            [ngStyle]="{'background-color': thirdColor}" [cpPosition]="'bottom'" [cpCancelButton]="true" [cpCancelButtonClass]="'btn btn-primary btn-xs'"
               [cpOutputFormat]="'rgb'" full small>Change Color</button>
            <!--<ion-input [colorPicker]="thirdColor" 
            (colorPickerChange)="thirdColor=$event"
            [style.background]="thirdColor" [cpPosition]="'bottom'" [cpCancelButton]="true" [cpCancelButtonClass]="'btn btn-primary btn-xs'"
              [value]="thirdColor" [cpOutputFormat]="'rgba'"></ion-input>-->
      </div>
      </ion-col>
    </ion-row>
    </ion-grid>
  </ion-list>

    
  <ion-list *ngIf="selectedRoute==''" class="customList">

    <ion-label class="colorSchemeLabel">Customize Theme Color</ion-label>

    <ion-segment class="centerStage" name="colorSegment" [(ngModel)]="colorSegment" color="primary" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="1">
        Set Admin Colors
      </ion-segment-button>
      <ion-segment-button value="2">
        <!-- Set Top Dweller Colors -->
        Set Top Dweller Settings
      </ion-segment-button>
    
    </ion-segment>
    <!--<ion-item class="filterLabel">
      <ion-label> Use Custom Color</ion-label>
      <ion-toggle checked="customColorOptionModal" (ionChange)="toggleCustomColor()" [(ngModel)]="customColorOptionModal" name="customColorOption"></ion-toggle>
    </ion-item>-->
    
    <ion-list class="customColorOption" *ngIf="selectedSegment=='1'">
        <ion-item (click)="showColorPopUp('side_bar_menu_color')">
          <ion-label>Sidebar Menu Color <span class="colorPreview sidebar_color"></span></ion-label>
           
          </ion-item>
          <ion-item (click)="showColorPopUp('button_color')">
            <ion-label>Button Color <span class="colorPreview button_color"></span></ion-label>
      
          </ion-item>
          <ion-item (click)="showColorPopUp('content_background_color')">
            <ion-label>Background Color <span class="colorPreview background_color"></span></ion-label>
         
          </ion-item>
    <!--<ion-item (click)="showColorPopUp('header_color')">
      <ion-label>Header Color</ion-label>
    
    </ion-item>-->
   
    <!--<ion-item>
      <ion-label>Text Color</ion-label>
      <ion-select [(ngModel)]="textColor" name="textColor" id="textColor">
        <ion-option *ngFor="let colorOption of colorOptions" value= {{colorOption.id}}>
          {{colorOption.name}}
          </ion-option>
       </ion-select>
      
    </ion-item>-->
    <!--<ion-item (click)="showColorPopUp('content_title_color')">
      <ion-label>Content Title Color</ion-label>

    </ion-item>
    <ion-item (click)="showColorPopUp('button_color')">
      <ion-label>Button Color</ion-label>

    </ion-item>
    <ion-item (click)="showColorPopUp('map_sidebar_color')">
      <ion-label>Map Sidebar Color</ion-label>

    </ion-item>
    <ion-item (click)="showColorPopUp('pagination_color')">
      <ion-label>Pagination Color</ion-label>

    </ion-item>
   
    <ion-item (click)="showColorPopUp('modal_background_color')">
      <ion-label>Modal Background Color</ion-label>

    </ion-item>-->
  </ion-list>
  <ion-list class="customColorOption topDweller" *ngIf="selectedSegment=='2'">
        <ion-item class="displayName b32">
          <ion-label stacked>Display Name</ion-label>
          <ion-input type="text" [(ngModel)]="display_name_dweller" name="display_name_dweller" placeholder="display_name_dweller"></ion-input>
        </ion-item>
        <ion-list *ngIf="isApp">

          <ion-item class="customList nobrTop">
            <button ion-button color="primary" block (click)="takeDwellerPicture();" >Select Dweller Image</button>
          </ion-item>
          <ion-item *ngIf="dwellerImage!=''">
            <img [src]="dwellerImage" />
          </ion-item>
          <!--<ion-item>
            <button ion-button color="primary" block (click)="takePersonalPicture();" >Select Personal Image</button>
          </ion-item>
          <ion-item *ngIf="personalImage!=''">
            <img [src]="personalImage" />
          </ion-item>-->
          </ion-list>
      
          <ion-list *ngIf="!isApp" class="customList topDweller uploadPhoto">
              
            <ion-list-header><h2>Top Dweller Image</h2></ion-list-header>

            <!-- Main Image Uploader -->
            <div class="AccountImageUploader">

              <!-- Image Cropper Result -->
              <div class="imgCropperPreviewResult" *ngIf="dataDwellerImage.image">
              <img [src]="dataDwellerImage.image" [width]="dwellerWidth"
               [height]="dwellerHeight">                   
              </div>

              <!-- Image Upload Button -->
              <input id="custom-input" class="btnUpload" type="file" accept=".png, .jpg, .jpeg" capture="camera" multiple (change)="dwellerFileChangeListener($event)">
              <button ion-button (click)="editImage('dwellerImage');" *ngIf="isDwellerImageExist">
                <ion-icon name="md-create"></ion-icon>
              </button>
            </div>
        </ion-list>

        <ion-label class="colorSchemeLabel label label-md" style="margin-top:22px !important;">Top Dweller Colors</ion-label>
        <ion-list class="customColorOption topDwellerColors">
        <ion-item (click)="showColorPopUp('side_bar_color_dweller')">
          <!-- <ion-label>Sidebar Menu Color <span class="colorPreview sidebar_color_dweller"></span></ion-label> -->
          <ion-label>Sidebar Menu Color <span class="colorPreview"></span></ion-label>
        </ion-item>

        <ion-item (click)="showColorPopUp('button_color_dweller')">
          <!-- <ion-label>Button Color <span class="colorPreview button_color_dweller"></span></ion-label> -->
          <ion-label>Button Color <span class="colorPreview"></span></ion-label>
        </ion-item>

        <ion-item (click)="showColorPopUp('background_color_dweller')">
          <!-- <ion-label>Background Color <span class="colorPreview background_color_dweller"></span></ion-label> -->
          <ion-label>Background Color <span class="colorPreview"></span></ion-label>
        </ion-item>
        </ion-list>

  </ion-list>
  </ion-list>
  </div>
  
    <div class="dashboardBtn">
      <button ion-button color="primary" class="colorEnabled button_color" block (click)="updateGlobalSettings();" [disabled]="!globalSettingsForm.valid">Save</button>
    </div>
    
</form>
</ion-content>
