<!--
  Generated template for the ChatDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="dashboardUI chatUI colorEnabled background_color">

  <ion-navbar>
    
    <!--<ion-nav-back-button class="button-clear">
        <i class="ion-arrow-left-c"></i> Back
      </ion-nav-back-button>-->

    <!-- <button ion-button menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button> -->

    <ion-title>{{chatingUserName}}</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding class="dashboardUI chatMsgUI chatMsgUI" #content>

    <!-- <h1 class="contentTitle">{{chatingUserName}}</h1> -->
    
    <ion-refresher (ionRefresh)="messageDetail($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

<ion-list class="chatBoxList" *ngIf="chatDetailArray.length>0">
  <div *ngFor="let chat of chatDetailArray">
    <ion-item-sliding *ngIf="chat.val().deletedFor.indexOf(firebaseUserId) < 0">
      <ion-item>
        <div *ngIf="firebaseUserId==chat.val().fromFbUserId">
          <ion-item class="item item-avatar alternate-chat-right item-text-wrap">
              <div  *ngIf="chat.val().type=='backEnd'">
            <div  *ngFor="let user of users">     
              <div *ngIf="user.fbId==chat.val().fromFbUserId">                
                  <div class="chat-profile">
                      <img src="{{this.sharedServiceObj.imgBucketUrl}}{{user.image_url}}" class="custom-avatar" 
                      (error)="imgUser2.src = this.sharedServiceObj.profileNoImage" #imgUser2/>                 
                  </div>        
              </div>
            </div>
              </div>
              <div *ngIf="chat.val().type=='frontEnd'">
                  <div class="chat-profile">
                      <img src="{{this.sharedServiceObj.profileNoImage}}"/>
                  </div>
              </div>
              <span class="chat-info" [innerHTML]="chat.val().message"></span>
            
              <p *ngIf="messageSent==1 && chat.val()==chatDetailArray[chatDetailArray.length-1].val()" class="description item-text-wrap">Sent</p>
              
              <span class="chat-info chat-img" *ngIf="chat.val().imageData">
                <img src="{{chat.val().imageData}}" (click)="showBigImage(chat.val().imageData)" />
              </span>
            
              </ion-item>
              
            </div>
    
    
            <div *ngIf="firebaseUserId!=chat.val().fromFbUserId">
            <ion-item class="item item-avatar alternate-chat-left item-text-wrap">
                <div  *ngIf="chat.val().type=='backEnd'">  
              <div  *ngFor="let user of users">     
                <div *ngIf="user.fbId==chat.val().fromFbUserId">                     
                  <div class="chat-profile">
                    <img src="{{this.sharedServiceObj.imgBucketUrl}}{{user.image_url}}" class="custom-avatar" 
                    (error)="imgUser3.src = this.sharedServiceObj.profileNoImage" #imgUser3/>                 
                  </div>
                </div>
              </div>
                </div>
                <div  *ngIf="chat.val().type=='frontEnd'">
                    <div class="chat-profile">
                        <img src="{{this.sharedServiceObj.profileNoImage}}"/>
                    </div>
                </div>
              <span class="chat-info" [innerHTML]="chat.val().message"></span>        
              <span class="chat-info chat-img" *ngIf="chat.val().imageData"><img src="{{chat.val().imageData}}" (click)="showBigImage(chat.val().imageData)" /></span>                
            </ion-item>
      
        </div>
     
      </ion-item>              
        
        <!--<ion-item class="desktopOption" side="right">
        <div class="optionIcon" *ngIf="!isApp"></div>
            <button ion-button color="danger" item-right class="btn-del" (click)="deleteSingleChat(chat.val().groupId,chat.key);"><ion-icon name="md-close"></ion-icon>Delete</button>
        </ion-item>-->

        <ion-item-options side="right">   
            <button ion-button color="danger" item-right class="btn-del" (click)="deleteSingleChat(chat,chat.val().groupId,chat.key);"><ion-icon name="md-close"></ion-icon>Delete</button>
        </ion-item-options>

    </ion-item-sliding>
  </div>
</ion-list>

<div *ngIf="chatImage!=''&&isApp">
    <ion-list show-delete="true" can-swipe="true">
     <img src="{{chatImage}}" />
     <button color="danger" item-right class="roundedOption btn-del" (click)="deleteChatImage();">Delete Image</button>
      </ion-list>
      </div>
      <ion-list class="chat-img-upload-tool" *ngIf="!isApp">
          
           
          <!--<img-cropper class="imgCropper" #chatImageCropper [image]="dataChatImage" [settings]="chatCropperSettings"
             (onCrop)="chatImageCropped($event)" *ngIf="hideChatCropper"></img-cropper>-->
          
          <span class="cropPreview" *ngIf="dataChatImage.image" >
            <span class="cropPreviewLabel">Chat Image Preview</span>
            <img [src]="dataChatImage.image" [width]="chatWidth"
            [height]="chatHeight">
          </span>
        </ion-list>
</ion-content>

<ion-footer keyboard-attach class="bar bar-stable bar-footer chatbar">    

<div *ngIf="returnedGroup">
<ion-list *ngIf="returnedGroup.val().userTyping">
<div class="animated infinite jello useristypingtext" *ngIf="returnedGroup.val().userTyping==1&&returnedGroup.val().typerId!=firebaseUserId">{{returnedGroup.val().typingText}}</div>
</ion-list>
</div>


<form role="form" data-toggle="validator" #replyMessageForm="ngForm">

<div class="chatBoxSection">
  <div class="chatbox-options-upload"><button class="button button-clear btn-add" (click)="openImageOptions();">Upload</button></div>
  <div class="chatbox-container" data-tap-disabled="true">
  <div contenteditable="true" class="chatbox-box input-chat" id="chatDescription" name="chatDescription" type="text" 
  placeholder="Type something..." data-text="Type something..." (input)="setUserTyping(returnedGroup.key,this)" 
  (blur)="setUserNotTyping(returnedGroup.key)" [innerHTML]="description" ></div>    
</div>

<div class="chatbox-options">
  <button class="button button-clear btn-chat" (click)="setUserNotTyping(returnedGroup.key);sendMessage('old')">Send</button>
  <button class="button button-clear btn-gallery" (click)="takeUserPhoto('gallery');" *ngIf="isApp">Select Image</button>
  <button class="button button-clear btn-camera" (click)="takeUserPhoto('new');" *ngIf="isApp">Take Image</button>
  <button class="button button-clear btn-emoji" (click)="openEmoji()">Select Emoji</button>
  <input id="custom-input" type="file" accept=".png, .jpg, .jpeg" capture="camera" multiple 
  (change)="chatFileChangeListener($event)" #chatImageInput style="display:none">
</div>

<!-- <div class="chatbox-options">
  <button class="button button-clear btn-chat">Send</button>
  <button class="button button-clear btn-gallery">Select Image</button>
  <button class="button button-clear btn-camera">Take Image</button>
  <button class="button button-clear btn-emoji">Select Emoji</button>
</div> -->

</div>

</form>

</ion-footer>
